Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2020-07, with the labels that each got.

#757 Fix indents on FluentDs extraEnvVars and extraVolumes
  deploy/helm/sumologic/templates/events-statefulset.yaml
  deploy/helm/sumologic/templates/metrics-statefulset.yaml
Labels: bug

#763 fix: HPA for FluentDs
  deploy/helm/sumologic/templates/_helpers.tpl
Labels: bug

#737 Bump supported k8s versions
  deploy/README.md
Labels: documentation

#770 Update used charts versions in the documentation
  deploy/README.md
Labels: documentation

#768 Use retry_max_interval instead of retry_timeout for fluentd buffer
  deploy/helm/sumologic/conf/buffer.output.conf
  deploy/helm/sumologic/values.yaml
  deploy/kubernetes/fluentd-sumologic.yaml.tmpl
Labels: bug, invalid

#771 Add information about building the endpoint variable names
  deploy/docs/Terraform.md
Labels: documentation

#794 Bump supported AKS versions
  deploy/README.md
Labels: documentation

#686 Doc Updates
  deploy/README.md
  deploy/docs/Additional_Fluentd_Plugins.md
  deploy/docs/Helm3.md
  deploy/docs/HelmChartConfiguration.md
  deploy/docs/Installation_with_Helm.md
  deploy/docs/Non_Helm_Installation.md
  deploy/docs/SideBySidePrometheus.md
  deploy/docs/Troubleshoot_Collection.md
  deploy/docs/existingPrometheusDoc.md
  deploy/docs/standAlonePrometheus.md
Labels: do-not-merge/hold, documentation

#790 Add doc for installation behind a proxy.
  deploy/docs/Installing_Behind_Proxy.md
Labels: do-not-merge/hold, documentation
