Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2020-05, with the labels that each got.

#604 Fix fluentd url for tracing
  deploy/helm/sumologic/conf/traces/traces.otelcol.conf.yaml
Labels: bug

#625 v1 fluentd config examples
  deploy/docs/v1_conf_examples.md
Labels: documentation

#630 add migration doc - final
  deploy/docs/v1_migration_doc.md
Labels: documentation

#636 Add rollback section to helm installation
  deploy/docs/v1_migration_doc.md
Labels: documentation

#665 Expose Scrape Intervals in values.yaml to make it easier to adjust.
  deploy/helm/prometheus-overrides.yaml
  deploy/helm/sumologic/values.yaml
Labels: enhancement
