Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2020-03, with the labels that each got.

#498 Fix markdown for additional_prometheus_configuration
  deploy/docs/additional_prometheus_configuration.md
Labels: documentation

#499 Expose otelcol UDP enpoints too
  deploy/helm/sumologic/templates/otelcol-deployment.yaml
  deploy/helm/sumologic/templates/otelcol-service.yaml
  deploy/helm/sumologic/values.yaml
Labels: bug, enhancement

#522 Added how to modify the log level for Falco
  deploy/docs/Best_Practices.md
Labels: backport-documentation

#525 Put more detail for installing with standalone Prometheus
  deploy/docs/standAlonePrometheus.md
Labels: backport-documentation

#504 Update additional metrics instruction
  deploy/docs/additional_prometheus_configuration.md
Labels: backport-documentation

#527 Add helm RBAC error and solution
  deploy/docs/Troubleshoot_Collection.md
Labels: backport-documentation

#529 Added another example for filtering metrics
  deploy/docs/Best_Practices.md
Labels: backport-documentation
