Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2020-11, with the labels that each got.

#1079 Use new Helm stable repo URL
  deploy/helm/sumologic/requirements.yaml
Labels: backport

#1083 Set Prometheus data retention to 1 day (#793)
  deploy/helm/sumologic/values.yaml
Labels: breaking-change

#1088 Add OTLP HTTP port
  deploy/helm/sumologic/templates/otelcol-deployment.yaml
Labels: backport

#1084 Changes in documentation
  deploy/README.md
  vagrant/README.md
Labels: documentation

#856 Adds Kubernetes App update info after succesfull migration
  deploy/docs/v1_migration_doc.md
Labels: documentation

#1095 Adds Kubernetes App update info after successful migration (backport of #856)
  deploy/docs/v1_migration_doc.md
Labels: backport-documentation

#1096 Adds Kubernetes App update info after successful migration (backport of #856)
  deploy/docs/v1_migration_doc.md
Labels: backport-documentation

#1097 Adds Kubernetes App update info after successful migration (backport of #856)
  deploy/docs/v1_migration_doc.md
Labels: backport-documentation

#1098 Adds Kubernetes App update info after successful migration (backport of #856)
  deploy/docs/v1_migration_doc.md
Labels: backport-documentation

#769 update non-helm migration steps to only what is needed
  deploy/docs/v1_migration_doc.md
Labels: documentation

#1106 Exit from setup job in case of fail
  deploy/helm/sumologic/conf/setup/custom.sh
  deploy/helm/sumologic/conf/setup/setup.sh
  tests/terraform/static/all_fields.output.yaml
  tests/terraform/static/collector_fields.output.yaml
  tests/terraform/static/conditional_sources.output.yaml
  tests/terraform/static/custom.output.yaml
  tests/terraform/static/default.output.yaml
  tests/terraform/static/disable_default_metrics.output.yaml
  tests/terraform/static/strip_extrapolation.output.yaml
  tests/terraform/static/traces.output.yaml
Labels: bug

#1089 Bump protheus chart to 12.0.2 and rename prometheus-operator to kube-prometheus-stack
  deploy/docs/v2_migration_doc.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/requirements.yaml
  deploy/helm/sumologic/values.yaml
  vagrant/values.yaml
Labels: breaking-change

#1102 Migrate to new fluent-bit helm chart.
  deploy/helm/sumologic/requirements.yaml
  deploy/helm/sumologic/values.yaml
Labels: breaking-change

#1143 Fix for chart documentation spelling of Fluent Bit and Kube Prometheu…
  deploy/helm/sumologic/README.md
Labels: documentation

#1144 Fix for chart documentation spelling of Fluent Bit and Kube Prometheus Stack
  deploy/helm/sumologic/README.md
Labels: backport-documentation

#1128 Drop kubelet/systemd logs if they are disabled
  deploy/helm/sumologic/conf/logs/logs.source.systemd.conf
Labels: bug

#1153 Add tracing to the helm chart description
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#1154 Add tracing to the helm chart description (backport of #1153)
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#1161 reword: docker registry -> container registry
  deploy/docs/Working_with_container_registries.md
Labels: documentation

#1160 Clean up collector keys in values.yaml
  deploy/docs/Terraform.md
  deploy/docs/additional_prometheus_configuration.md
  deploy/docs/v2_migration_doc.md
  deploy/helm/sumologic/conf/setup/locals.tf
  deploy/helm/sumologic/conf/setup/resources.tf
  deploy/helm/sumologic/conf/setup/setup.sh
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/upgrade-2.0.0.sh
  deploy/helm/sumologic/values.yaml
  tests/terraform/static/all_fields.input.yaml
  tests/terraform/static/collector_fields.input.yaml
  tests/terraform/static/disable_default_metrics.input.yaml
  tests/upgrade_v2_script/static/image_rename.log
  tests/upgrade_v2_script/static/image_rename.output.yaml
  tests/upgrade_v2_script/static/sumologic_collector_fields.input.yaml
  tests/upgrade_v2_script/static/sumologic_collector_fields.log
  tests/upgrade_v2_script/static/sumologic_collector_fields.output.yaml
  tests/upgrade_v2_script/static/sumologic_sources.input.yaml
  tests/upgrade_v2_script/static/sumologic_sources.log
  tests/upgrade_v2_script/static/sumologic_sources.output.yaml
Labels: breaking-change

#1188 Change ServiceMonitor for fluent-bit - port and matchLabels
  deploy/helm/sumologic/values.yaml
Labels: bug

#1189 Fix expose-prometheus target in Makefile
  vagrant/Makefile
Labels: bug
