Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2021-12, with the labels that each got.

#1921 chore(deps): bump Sumo OT distro to 0.0.42-beta.0
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#1922 Add changelog update item to PR checklist
  .github/pull_request_template.md
Labels: ci

#1925 docs: update support matrix - add OpenShift 4.8
  deploy/README.md
Labels: documentation, backport release-v2.2

#1926 [Manual backport of #1925] docs: update support matrix - add OpenShift 4.8
  deploy/README.md
Labels: documentation

#1920 chore(changelog): update changelog with falco version bump info
  CHANGELOG.md
Labels: documentation

#1927 chore: bump fluentd version to 1.12.2-sumo-10
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#1928 feat(helm): add fluentd init containers
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/events/fluentd/statefulset.yaml
  deploy/helm/sumologic/templates/logs/fluentd/statefulset.yaml
  deploy/helm/sumologic/templates/metrics/fluentd/statefulset.yaml
  deploy/helm/sumologic/values.yaml
Labels: documentation

#1930 chore: changelog update with information about the API Server calls reduction
  CHANGELOG.md
Labels: documentation

#1931 chore: fix subcharts versions for v2.3.0 release
  deploy/README.md
Labels: documentation

#1935 feat(ci): add auto labeling for integration tests changes
  .github/labeler.yml
Labels: ci

#1936 feat: add option to disable `service` enrichment
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/logs/fluentd/logs.enhance.k8s.metadata.filter.conf
  deploy/helm/sumologic/conf/metrics/fluentd/metrics.conf
  deploy/helm/sumologic/values.yaml
Labels: documentation

#1938 feat(tests): add WaitUntilPodsAvailable step func
  tests/integration/helm_default_installation_test.go
  tests/integration/helm_otc_metadata_installation_test.go
  tests/integration/internal/stepfuncs/assess_funcs.go
Labels: integration-tests

#1943 fix: work around API versions issue when deploying with ArgoCD
  CHANGELOG.md
  deploy/helm/sumologic/templates/_api_versions_helpers.tpl
Labels: documentation

#1945 docs: replace -it with -i for the kubectl runs
  deploy/docs/Non_Helm_Installation.md
Labels: documentation

#1951 docs: comment change in values.yaml - tracing is not experimental anymore
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.0, backport release-v2.1, backport release-v2.2

#1955 Prepare release v2.3.0
  CHANGELOG.md
  README.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#1957 docs: clean up changelog for v2.3 from the unreleased section
  CHANGELOG.md
Labels: documentation

#1959 feat: add option to disable pod owners enrichment
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/logs/fluentd/logs.enhance.k8s.metadata.filter.conf
  deploy/helm/sumologic/conf/metrics/fluentd/metrics.conf
  deploy/helm/sumologic/values.yaml
Labels: documentation

#1963 docs: add troubleshooting Prometheus init containers
  deploy/docs/Troubleshoot_Collection.md
Labels: documentation

#1964 docs: fix the Fluent Bit version in the versions matrix
  deploy/README.md
Labels: documentation, backport release-v2.2, backport release-v2.3

#1966 [Backport release-v2.2] docs: fix the Fluent Bit version in the versions matrix
  deploy/README.md
Labels: documentation

#1933 Add an integration test for presence of expected metrics
  tests/integration/helm_default_installation_test.go
  tests/integration/helm_otc_metadata_installation_test.go
  tests/integration/internal/constants.go
  tests/integration/internal/receivermock/receiver_mock.go
  tests/integration/internal/stepfuncs/assess_funcs.go
Labels: integration-tests

#1961 refactor(tests): integration tests now create a cluster per test (shared across features)
  .github/workflows/pull_requests.yml
  tests/integration/README.md
  tests/integration/helm_default_installation_test.go
  tests/integration/helm_helpers_test.go
  tests/integration/helm_otc_metadata_installation_test.go
  tests/integration/internal/ctxopts/context_opts.go
  tests/integration/internal/k8s/pods.go
  tests/integration/internal/stepfuncs/adapters.go
  tests/integration/internal/stepfuncs/debug.go
  tests/integration/internal/stepfuncs/helm.go
  tests/integration/internal/stepfuncs/kubectl.go
  tests/integration/internal/strings/strings.go
  tests/integration/internal/strings/strings_test.go
  tests/integration/internal/types.go
  tests/integration/main_test.go
  tests/integration/values/values_helm_default.yaml
  tests/integration/values/values_helm_default_ot_metadata.yaml
  tests/integration/yamls/receiver-mock.yaml
Labels: documentation, ci, integration-tests

#1967 chore: enable all links checks in CHANGELOG
  CHANGELOG.md
Labels: documentation

#1975 Fix Otel Agent Template
  deploy/helm/sumologic/templates/traces/otel-agent/daemonset.yaml
Labels: backport release-v2.3

#1974 Updated chart with support for cache_refresh_apiserver_request_delay
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/logs/fluentd/logs.enhance.k8s.metadata.filter.conf
  deploy/helm/sumologic/conf/metrics/fluentd/metrics.conf
  deploy/helm/sumologic/values.yaml
Labels: documentation

#1978 chore: prepare release v2.3.1
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#1981 docs(changelog): fix PR link
  CHANGELOG.md
Labels: documentation

#1982 fix: broken link to PR in changelog for v2.3.1
  CHANGELOG.md
Labels: documentation

#1985 docs: add the v2.3.1 release to CHANGELOG
  CHANGELOG.md
Labels: documentation

#1971 test(metrics): add metrics labels test
  tests/integration/Makefile
  tests/integration/README.md
  tests/integration/go.mod
  tests/integration/helm_default_installation_test.go
  tests/integration/helm_otc_metadata_installation_test.go
  tests/integration/internal/constants.go
  tests/integration/internal/k8s/tunnel.go
  tests/integration/internal/receivermock/labels.go
  tests/integration/internal/receivermock/receiver_mock.go
  tests/integration/internal/stepfuncs/assess_funcs.go
  tests/integration/internal/stepfuncs/debug.go
  tests/integration/internal/stepfuncs/kubectl.go
  tests/integration/internal/strings/strings.go
  tests/integration/main_test.go
  tests/integration/yamls/receiver-mock.yaml
Labels: documentation, integration-tests

#1990 docs: ignore flaky yq book link
  .markdown_link_check.json
  ci/markdown_link_check.sh
  deploy/docs/opentelemetry_collector.md
Labels: documentation

#1983 fix(helm): add job and cronjob to clusterrole's permission set
  CHANGELOG.md
  deploy/helm/sumologic/templates/clusterrole.yaml
Labels: documentation

#1993 chore(deps): bump Sumo OT distro to 0.0.43-beta.0
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#1992 fix(helm): add metrics port to otelcol pods
  CHANGELOG.md
  deploy/helm/sumologic/templates/logs/otelcol/statefulset.yaml
  deploy/helm/sumologic/templates/metrics/otelcol/statefulset.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#1994 fix(helm): add job and cronjob to clusterrole's permission set
  CHANGELOG.md
  deploy/helm/sumologic/templates/clusterrole.yaml
Labels: documentation

#1977 test(traces): add integration test for enabled traces
  tests/integration/helm_traces_enabled_test.go
  tests/integration/values/values_helm_traces_enabled.yaml
Labels: integration-tests

#1997 fix(ci): only run integration test in dev builds
  .github/workflows/dev_builds.yml
Labels: ci

#2000 test(integration): add tests for log count and basic metadata
  tests/integration/helm_default_installation_test.go
  tests/integration/helm_otc_metadata_installation_test.go
  tests/integration/internal/constants.go
  tests/integration/internal/logsgenerator/logsgenerator.go
  tests/integration/internal/receivermock/receiver_mock.go
  tests/integration/internal/stepfuncs/assess_funcs.go
  tests/integration/internal/stepfuncs/logs.go
  tests/integration/yamls/receiver-mock.yaml
Labels: integration-tests

#2004 chore: prepare v2.3.2
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#2002 docs: add troubleshooting section about fluentd buffer permissions issue
  deploy/docs/Troubleshoot_Collection.md
Labels: documentation

#2011 docs: migrate from mdl to markdownlint-cli
  .github/workflows/pull_requests.yml
  .markdownlint.jsonc
  .markdownlint/style.rb
  Makefile
  deploy/docs/HelmChartConfiguration.md
  deploy/docs/Installing_Behind_Proxy.md
  deploy/docs/SideBySidePrometheus.md
  deploy/docs/additional_prometheus_configuration.md
  vagrant/Makefile
  vagrant/provision.sh
Labels: documentation, ci

#2013 chore: update kubernetes-tools to 2.9.0
  CHANGELOG.md
  ci/_build_functions.sh
  deploy/docs/Kube-Prometheus.md
  deploy/docs/Non_Helm_Installation.md
  deploy/docs/additional_prometheus_configuration.md
  deploy/docs/existingPrometheusDoc.md
  deploy/docs/standAlonePrometheus.md
  deploy/docs/v2_migration_doc.md
  tests/helm/functions.sh
  tests/helm/sumologic.yaml
  tests/integration/internal/constants.go
  tests/integration/yamls/receiver-mock.yaml
  vagrant/k8s/logs-generator.yaml
  vagrant/k8s/receiver-mock.yaml
Labels: documentation, integration-tests

#2009 docs: add example configuration to parse mulitline logs in containerd format
  deploy/docs/ContainerLogs.md
  examples/multiline_logs/pod_multiline_long_lines.yaml
  examples/multiline_logs/values_containerd.yaml
Labels: documentation
