Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2021-11, with the labels that each got.

#1867 fix(deps): upgrade Fluentd to 1.12.2-sumo-6
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.1

#1879 docs: changed version of fluentd in example and link to documentation
  deploy/docs/Best_Practices.md
  deploy/helm/sumologic/README.md
Labels: documentation, backport release-v2.1

#1881 chore: update changelog
  CHANGELOG.md
Labels: documentation

#1878 Prepare v2.2.0
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
  tests/metadata_logs_otc/static/templates.output.yaml
  tests/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#1885 [Backport of #1884] docs: update changelog, add link to 2.2.0 release
  CHANGELOG.md
Labels: documentation

#1888 docs: update with 2.2 release links
  deploy/README.md
Labels: documentation, backport release-v2.2

#1887 docs: add link to Performance.md in deploy/README.md
  deploy/README.md
Labels: documentation

#1890 docs: remove unsupported k8s versions
  deploy/README.md
Labels: documentation

#1892 fix: fix Fluentd to support Kubernetes 1.22
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/upgrade_v2_script/static/fluentd_whole_config.input.yaml
  tests/upgrade_v2_script/static/fluentd_whole_config.output.yaml
Labels: documentation

#1894 Update support links for v2.2
  README.md
Labels: documentation, backport release-v2.2

#1895 feat: add affinity to fluentd events statefulset
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/events/fluentd/statefulset.yaml
  deploy/helm/sumologic/values.yaml
Labels: documentation

#1886 docs(helm): add uninstall step for the kubelet Service
  deploy/docs/Installation_with_Helm.md
Labels: documentation

#1865 feat(helm): add PodDisruptionBudget api version helm chart helpers
  ci/shellcheck.sh
  deploy/helm/sumologic/templates/_api_versions_helpers.tpl
  deploy/helm/sumologic/templates/logs/common/pdb.yaml
  deploy/helm/sumologic/templates/logs/fluentd/pdb.yaml
  deploy/helm/sumologic/templates/metrics/common/pdb.yaml
  deploy/helm/sumologic/templates/metrics/fluentd/pdb.yaml
  tests/README.md
  tests/functions.sh
  tests/run.sh
  tests/shared_config.sh
  tests/upgrade_script/run.sh
  tests/upgrade_v2_script/run.sh
Labels: documentation

#1900 chore: update changelog
  CHANGELOG.md
Labels: documentation

#1902 docs: reorder deploy readme
  deploy/README.md
  deploy/docs/Migration_Steps.md
  deploy/docs/fluentd_otc_comparison.md
Labels: documentation

#1893 Update OTC to v0.38.1-sumo
  CHANGELOG.md
  deploy/helm/sumologic/templates/traces/otel-agent/daemonset.yaml
  deploy/helm/sumologic/templates/traces/otelcol/deployment.yaml
  deploy/helm/sumologic/values.yaml
  tests/tracing/static/collection-monitoring-false.output.yaml
  tests/tracing/static/simple.output.yaml
Labels: documentation

#1903 docs: reorder deploy readme
  deploy/README.md
  deploy/docs/Migration_Steps.md
  deploy/docs/fluentd_otc_comparison.md
Labels: documentation

#1906 chore: remove support for EOL K8s platform versions
  deploy/README.md
Labels: documentation

#1908 ci: allow silent dev builds on 'dev-build/' branches
  .github/workflows/dev_builds.yml
Labels: ci

#1874 Add integration tests using kind, terratest and kubernetes-sigs/e2e-framework
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  tests/integration/Makefile
  tests/integration/README.md
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/helm_default_installation_test.go
  tests/integration/internal/constants.go
  tests/integration/internal/ctxopts/context_opts.go
  tests/integration/internal/stepfuncs/step_funcs.go
  tests/integration/kind_images.json
  tests/integration/main_test.go
  tests/integration/values/values_default.yaml
  tests/integration/yamls/cluster.yaml
  tests/integration/yamls/receiver-mock.yaml
Labels: documentation, ci

#1911 ci: add dependabot config for gh actions and gomod for integration tests
  .github/dependabot.yml
Labels: ci
