Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2021-06, with the labels that each got.

#1646 fix: fix fluent-bit's imageSecrets comment
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.0, backport release-v2.1

#1650 feat: annotation_match for fluentd metadata plugin configurable in values.yaml
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/logs/fluentd/logs.kubernetes.metadata.filter.conf
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.1

#1665 docs: replace information about DockerHub with information about Amazon Public ECR
  deploy/docs/Installation_with_Helm.md
Labels: backport release-v2.0, backport release-v2.1

#1669 doc: add links for different documentation versions to doc starting page
  deploy/README.md
Labels: backport release-v1.3, backport release-v2.0, backport release-v2.1, documentation

#1674 docs: add container log parsing doc to main readme
  deploy/README.md
Labels: backport release-v2.0, backport release-v2.1
