Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2021-07, with the labels that each got.

#1681 chore: upgrade Tailing Sidecar Operator to v0.3.1
  deploy/helm/sumologic/Chart.yaml
Labels: backport release-v2.1

#1687 fix typo
  deploy/helm/sumologic/README.md
Labels: documentation

#1691 fix(deps): Upgrade Fluentd from v1.12.2-sumo-0 to v1.12.2-sumo-2
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.1

#1692 feat: end support for 1.3
  README.md
Labels: backport release-v1.3, backport release-v2.0, backport release-v2.1, documentation
