Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2021-04, with the labels that each got.

#1541 Add troubleshooting section for the stuck PVCs
  deploy/docs/Troubleshoot_Collection.md
Labels: backport release-v2.0, documentation

#1552 docs: fix links to helm charts
  deploy/docs/Best_Practices.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/upgrade_v2_script/static/metrics_server.input.yaml
Labels: backport release-v2.0, documentation

#1558 doc: add v2.1 info into main readme
  README.md
Labels: backport release-v2.1, documentation

#1567 chore: Upgrade Fluentd from v1.12.1-sumo-2 to v1.12.2-sumo-0
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.1

#1591 fix documentation for gzip compression issue
  deploy/docs/Troubleshoot_Collection.md
Labels: backport release-v2.0, backport release-v2.1, backport-documentation
