Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2021-08, with the labels that each got.

#1704 doc: remove comment about telegraf-operator being experimental
  deploy/helm/sumologic/values.yaml
Labels: documentation, backport release-v2.0, backport release-v2.1

#1711 docs: Describe using Alpine-based Fluentd image
  deploy/docs/Additional_Fluentd_Plugins.md
  deploy/docs/Best_Practices.md
Labels: documentation

#1715 feat(helm)!: ensure config parity between cleanup and setup jobs
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/cleanup/job.yaml
  deploy/helm/sumologic/templates/cleanup/serviceaccount.yaml
  deploy/helm/sumologic/values.yaml
Labels: documentation, breaking-change

#1714 Adding ability to specify for annotations for serviceAccounts
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/cleanup/serviceaccount.yaml
  deploy/helm/sumologic/templates/serviceaccount.yaml
  deploy/helm/sumologic/templates/setup/serviceaccount.yaml
  deploy/helm/sumologic/values.yaml
Labels: documentation

#1716 feat(helm): add sumologic.serviceAccount.annotations so custom annotation cen be added
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/cleanup/cleanup-serviceaccount.yaml
  deploy/helm/sumologic/templates/serviceaccount.yaml
  deploy/helm/sumologic/templates/setup/setup-serviceaccount.yaml
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.0
