Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2021-05, with the labels that each got.

#1600 Allow backport job to run on PR coming from forks
  .github/workflows/backport_bot.yaml
Labels: backport release-v2.1

#1595 docs: add section about getting logs not available on stdout
  deploy/docs/Best_Practices.md
Labels: backport release-v2.1

#1615 Add application_rules.yaml to falco.rulesFile
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.1

#1610 SUMO-165923 Updating the versions of kubernetes clusters
  deploy/README.md
Labels: backport release-v2.1

#1616 Add pullSecrets to setup job
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/setup/serviceaccount.yaml
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.1

#1626 docs: remove alpha releases docs
  deploy/README.md
  deploy/docs/Alpha_Release_Guide.md
  deploy/docs/Dev.md
Labels: documentation

#1371 Remove duplicated collector source category from configuration
  deploy/docs/Terraform.md
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/values.yaml
  tests/terraform/static/all_fields.output.yaml
  tests/terraform/static/collector_fields.output.yaml
  tests/terraform/static/default.output.yaml
  tests/terraform/static/disable_default_metrics.output.yaml
  tests/terraform/static/strip_extrapolation.output.yaml
Labels: breaking-change, do-not-merge/hold

#1599 Fix additionalLabels in collection-fluent-bit
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.1

#1632 feat: forward kube_hpa_status_condition metric
  deploy/helm/sumologic/values.yaml
Labels: breaking-change

#1631 refactor(prometheus): unify application metrics urls
  deploy/helm/sumologic/values.yaml
Labels: breaking-change

#1633 ci: enforce yamllint checks
  .yamllint.yaml
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.1

#1629 docs: remove alpha releases docs (#1626) - backport release-v2.0
  deploy/README.md
  deploy/docs/Alpha_Release_Guide.md
  deploy/docs/Dev.md
Labels: documentation

#1628 docs: remove alpha releases docs (#1626) - backport release-v2.1
  deploy/README.md
  deploy/docs/Alpha_Release_Guide.md
  deploy/docs/Dev.md
Labels: documentation

#1639 docs: remove deprecated --export flag from 'kubectl get' call
  deploy/docs/existingPrometheusDoc.md
Labels: backport release-v2.0, backport release-v2.1, documentation
