Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2021-02, with the labels that each got.

#1396 docs: Update documentation about authenticating with container registries
  deploy/docs/Working_with_container_registries.md
Labels: backport release-v2.0

#1395 docs: Fix docs for annotations
  deploy/docs/Best_Practices.md
Labels: backport release-v2.0

#1403 Add deprecation date to the v1.3 release
  README.md
Labels: backport release-v2.0

#1407 Add additional Prometheus configuration doc link into main readme
  deploy/README.md
Labels: backport release-v2.0

#1409 Add deprecation date to the v1.3 release
  README.md
Labels: documentation

#1394 Switch to OTC v0.19.2-sumo
  deploy/helm/sumologic/values.yaml
  tests/tracing/static/collection-monitoring-false.output.yaml
  tests/tracing/static/simple.output.yaml
Labels: backport release-v2.0

#1419 Remove traces from Terraform docs mentioned twice
  deploy/docs/Terraform.md
Labels: backport release-v2.0

#1440 docs: update sources in additional prometheus metrics
  deploy/docs/additional_prometheus_configuration.md
Labels: documentation

#1442 Use the ECR repository for dependencies: Fluent Bit, Telegraf and Falco
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.0

#1444 The v2 migration script fix - migrate Fluent Bit image key instead of deleting it
  deploy/helm/sumologic/upgrade-2.0.0.sh
  tests/upgrade_v2_script/static/fluent_bit.input.yaml
  tests/upgrade_v2_script/static/fluent_bit.log
  tests/upgrade_v2_script/static/fluent_bit.output.yaml
  tests/upgrade_v2_script/static/fluent_bit_image.input.yaml
  tests/upgrade_v2_script/static/fluent_bit_image.log
  tests/upgrade_v2_script/static/fluent_bit_image.output.yaml
  tests/upgrade_v2_script/static/fluent_bit_no_image.input.yaml
  tests/upgrade_v2_script/static/fluent_bit_no_image.log
  tests/upgrade_v2_script/static/fluent_bit_no_image.output.yaml
Labels: backport release-v2.0

#1454 Fix #1453, remove build-setup from Makefile and README
  vagrant/Makefile
  vagrant/README.md
Labels: backport release-v2.0

#1458 docs: update additional metrics due to fluentd errors
  deploy/docs/additional_prometheus_configuration.md
Labels: backport-documentation, documentation
