Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2021-09, with the labels that each got.

#1722 chore: bump telegraf operator subchart to 1.2.0
  deploy/helm/sumologic/Chart.yaml
Labels: backport release-v2.1

#1727 Revert "Remove duplicated collector source category from configuration"
  deploy/docs/Terraform.md
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/values.yaml
  tests/terraform/static/all_fields.output.yaml
  tests/terraform/static/collector_fields.output.yaml
  tests/terraform/static/default.output.yaml
  tests/terraform/static/disable_default_metrics.output.yaml
  tests/terraform/static/strip_extrapolation.output.yaml
Labels: documentation

#1730 docs: update k8s support matrix
  deploy/README.md
Labels: documentation, backport release-v2.1

#1725 Revert "feat(helm)!: ensure config parity between cleanup and setup jobs"
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/cleanup/job.yaml
  deploy/helm/sumologic/templates/cleanup/serviceaccount.yaml
  deploy/helm/sumologic/values.yaml
Labels: documentation

#1732 chore(docs): update helm version
  deploy/README.md
Labels: documentation

#1740 fix: change link to VirtualBox
  vagrant/README.md
Labels: documentation

#1753 docs: improve documentation for installation on OpenShift
  deploy/docs/Installation_with_Helm.md
  deploy/docs/Non_Helm_Installation.md
Labels: documentation, backport release-v2.1

#1760 fix(ci): don't run PRs labels check on pull_request events to prevent failures on PR from forks
  .github/workflows/check_pr_labels.yaml
Labels: ci

#1761 docs: improve documentation for installation on OpenShift
  deploy/docs/Installation_with_Helm.md
  deploy/docs/Non_Helm_Installation.md
  deploy/docs/SideBySidePrometheus.md
Labels: documentation, backport release-v2.1

#1769 doc: add changelog
  .markdownlint.jsonc
  CHANGELOG.md
  Makefile
Labels: documentation

#1774 docs: init opentelemetry documentation
  deploy/docs/opentelemetry_collector.md
Labels: documentation

#1777 fix(otelcol): fix systemd logs' source name
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  vagrant/values.yaml
Labels: documentation

#1778 Fixing regex for Istio logs, splitting istio logs
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.1

#1785 docs(fluentd_otc_comparison): init document which compares fluentd and otelcol
  deploy/docs/fluentd_otc_comparison.md
Labels: documentation

#1789 docs(changelog): add 2.1.6
  .markdownlint/style.rb
  CHANGELOG.md
Labels: documentation

#1790 docs(changelog): fix links in changelog
  CHANGELOG.md
Labels: documentation

#1796 docs(fluentd_otc_comparison): add part of the configuration translation
  deploy/docs/fluentd_otc_comparison.md
  deploy/helm/sumologic/README.md
Labels: documentation
