Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2021-01, with the labels that each got.

#1283 Upgrade Sumologic Kubernetes Tool version to 2.2.3
  ci/_build_functions.sh
  deploy/docs/Kube-Prometheus.md
  deploy/docs/Non_Helm_Installation.md
  deploy/docs/additional_prometheus_configuration.md
  deploy/docs/existingPrometheusDoc.md
  deploy/docs/standAlonePrometheus.md
  tests/functions.sh
  vagrant/k8s/receiver-mock.yaml
Labels: documentation

#1290 Prepare v2.0.0-rc.1
  deploy/helm/sumologic/Chart.yaml
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
Labels: do-not-merge/hold

#1289 Rename CHART variable into FLUENTD_LOGS_SVC
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/upgrade-2.0.0.sh
  deploy/helm/sumologic/values.yaml
  tests/upgrade_v2_script/static/fluent_bit.log
  tests/upgrade_v2_script/static/fluent_bit.output.yaml
Labels: breaking-change, do-not-merge/hold

#1320 Add prom oper compatibility note to side by side doc
  deploy/docs/SideBySidePrometheus.md
  deploy/docs/existingPrometheusDoc.md
Labels: documentation

#1309 Add migration instruction for non-helm users
  deploy/docs/v2_migration_doc.md
Labels: documentation

#1294 Update information about changing Fluentd persistence
  deploy/docs/Best_Practices.md
  deploy/docs/FluentdPersistence.md
  deploy/docs/v2_migration_doc.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#1327 v2 migration docs touch up
  deploy/docs/v2_migration_doc.md
Labels: documentation

#1324 Update supported k8s versions for the v1.3: add AKS and EKS 1.18, rem…
  deploy/README.md
Labels: documentation

#1331 Upgrade the subcharts versions
  deploy/README.md
Labels: documentation

#1342 Fix fluent-bit extraVolumes and extraVolumeMounts migration for v2
  deploy/helm/sumologic/upgrade-2.0.0.sh
  tests/upgrade_v2_script/static/fluent_bit.input.yaml
  tests/upgrade_v2_script/static/fluent_bit.output.yaml
Labels: backport release-v2.0

#1354 Add support for falco on OpenShift 4.6
  deploy/docs/Troubleshoot_Collection.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/machineconfig/machineconfig-master.yaml
  deploy/helm/sumologic/templates/machineconfig/machineconfig-worker.yaml
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.0, falco

#1360 Fix information about falco on GKE
  deploy/docs/Troubleshoot_Collection.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.0, documentation, falco

#1363 Fix ECR image repository name after migration for agent
  deploy/helm/sumologic/templates/otel-agent-daemonset.yaml
Labels: backport release-v2.0

#1366 Add OpenShift 3.11 support info
  deploy/README.md
Labels: documentation

#1372 Fix links to Prometheus and FluenBit deploy instuctions
  deploy/docs/v1_migration_doc.md
Labels: backport release-v2.0, documentation

#1374 Use 40 SHA chars in dev helm chart versions
  ci/push-helm-chart.sh
Labels: backport release-v2.0

#1380 Change links to configuration files in values.yaml
  deploy/helm/sumologic/values.yaml
Labels: documentation

#1379 Fix link to Fluentd output configuration
  deploy/docs/v1_conf_examples.md
Labels: backport release-v2.0, documentation

#1383 [Manual backport] Fix link to Fluentd output configuration
  deploy/docs/v1_conf_examples.md
Labels: documentation
