Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2021-03, with the labels that each got.

#1462 Update support matrix for v1.3.6
  deploy/README.md
Labels: documentation

#1463 Update support matrix
  deploy/README.md
Labels: backport release-v2.0, documentation

#1465 Use backport app
  .github/workflows/backport_bot.yaml
Labels: backport release-v2.0

#1471 Change backport bot token
  .github/workflows/backport_bot.yaml
Labels: backport release-v2.0

#1469 Make pdb definitions and usage consistent
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/logs-pdb.yaml
  deploy/helm/sumologic/templates/metrics-pdb.yaml
Labels: backport release-v2.0

#1476 Backport bot use github app
  .github/workflows/backport_bot.yaml
Labels: backport release-v2.0

#1474 Bump metrics-server to 5.5.0
  deploy/helm/sumologic/Chart.yaml
Labels: backport release-v2.0

#1491 Fix prometheus pod name in troubleshooting doc
  deploy/docs/Troubleshoot_Collection.md
Labels: backport release-v2.0

#1493 Bump fluentd image to 1.12.0-sumo-2
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.0

#1505 Refactor helm installation docs
  deploy/docs/Installation_with_Helm.md
Labels: backport release-v2.0

#1510 Bump fluentd image to 1.12.0-sumo-4
  deploy/helm/sumologic/values.yaml
Labels: backport release-v2.0

#1509 Add troubleshooting section about not running Prometheus pod
  deploy/docs/Troubleshoot_Collection.md
Labels: backport release-v2.0, documentation

#1526 Use only 10 SHA characters for dev builds instead of 40
  ci/push-helm-chart.sh
Labels: backport release-v2.0
