Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2022-01, with the labels that each got.

#1998 test: add receiver-mock logs to printclusterstateopt
  tests/integration/internal/stepfuncs/debug.go
Labels: integration-tests

#2019 chore: add missing 2.3.2 changelog entry
  CHANGELOG.md
Labels: documentation

#2018 feat: add batching to otelcol log collector
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc/static/basic.output.yaml
Labels: documentation

#2020 chore: update setup image to 3.2.0
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2021 Change metrics.metadata to metadata.metrics and logs.metadata to metadata.logs
  deploy/docs/fluentd_otc_comparison.md
Labels: documentation, backport release-v2.2, backport release-v2.3

#2026 test(integration): increate wait time to 5 min so that pod ownership labels are present
  tests/integration/helm_default_installation_test.go
  tests/integration/helm_otc_metadata_installation_test.go
Labels: integration-tests

#2027 chore(deps): bump Sumo OT distro to 0.0.46-beta.0
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#2024 docs: claim official ARM support
  CHANGELOG.md
  deploy/README.md
Labels: documentation

#2033 feat: export scheduler_framework_extension_point_duration metrics
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2035 chore: bump sumo ot distro to 0.0.47-beta.0
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#2037 docs: update changelog for v2.4.0
  CHANGELOG.md
Labels: documentation

#2040 docs: fix v2.4.0 link in changelog
  CHANGELOG.md
Labels: documentation

#2039 docs: remove the 'unreleased' section from the v2.4.0 changelog
  CHANGELOG.md
Labels: documentation

#2042 test(integration): enable golangci-lint
  .github/workflows/pull_requests.yml
  tests/integration/.golangci.yaml
  tests/integration/Makefile
  tests/integration/helm_helpers_test.go
  tests/integration/internal/constants.go
  tests/integration/internal/stepfuncs/debug.go
  tests/integration/internal/stepfuncs/helm.go
  tests/integration/internal/stepfuncs/logs.go
  tests/integration/main_test.go
Labels: ci, integration-tests

#2041 test(integration): use common values.yaml for resources, access keys/IDs and receiver-mock URL
  tests/integration/internal/stepfuncs/helm.go
  tests/integration/values/values_common.yaml
  tests/integration/values/values_helm_default_fluentd_metadata.yaml
  tests/integration/values/values_helm_default_ot_metadata.yaml
  tests/integration/values/values_helm_traces_enabled.yaml
Labels: integration-tests

#2043 docs: keep versions information in one place
  README.md
  deploy/README.md
Labels: documentation

#2036 chore: update telegraf to 1.21
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2034 test(integration): include control plane metrics in integration tests
  tests/integration/internal/constants.go
  tests/integration/values/values_common.yaml
  tests/integration/yamls/cluster.yaml
Labels: integration-tests

#2050 [Backport release-v0.17] docs: keep versions information in one place
  README.md
  deploy/README.md
Labels: documentation

#1991 test(helm): don't use yq for template tests
  .github/workflows/pull_requests.yml
  tests/helm/functions.sh
Labels: ci

#2045 [Backport release-v2.3] docs: keep versions information in one place
  README.md
  deploy/README.md
Labels: documentation

#2046 [Backport release-v2.2] docs: keep versions information in one place
  README.md
  deploy/README.md
Labels: documentation

#2047 [Backport release-v2.1] docs: keep versions information in one place
  README.md
  deploy/README.md
Labels: documentation

#2049 [Backport release-v1.3] docs: keep versions information in one place
  README.md
  deploy/README.md
Labels: documentation

#2052 [Backport release-v2.4] chore: update Telegraf to 1.21.2
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2056 chore: bump sumo ot distro to 0.0.48-beta.0
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#2054 test(integration): restore checking metrics labels for ot metadata tests
  tests/integration/helm_otc_metadata_installation_test.go
Labels: integration-tests

#2051 docs: document required capabilities
  deploy/docs/Security_Best_Practices.md
  deploy/helm/sumologic/values.yaml
Labels: documentation
