Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2022-12, with the labels that each got.

#2668 docs: fix chart default values - use otelcol for events, logs metadata and metrics metadata provider
  deploy/helm/sumologic/README.md
Labels: documentation, skip-changelog

#2671 test(helm): rewrite otel logs metadata config tests in Go
  tests/helm/go.mod
  tests/helm/logs_test.go
  tests/helm/metadata_logs_otc/static/fluentbit.input.yaml
  tests/helm/metadata_logs_otc/static/fluentbit.output.yaml
  tests/helm/metadata_logs_otc/static/merge.input.yaml
  tests/helm/metadata_logs_otc/static/merge.output.yaml
  tests/helm/metadata_logs_otc/static/override.input.yaml
  tests/helm/metadata_logs_otc/static/override.output.yaml
  tests/helm/metadata_logs_otc/static/systemd.input.yaml
  tests/helm/metadata_logs_otc/static/systemd.output.yaml
  tests/helm/utils.go
Labels: skip-changelog

#2672 test(helm): refactor template tests
  deploy/helm/sumologic/conf/instrumentation/otelcol.instrumentation.conf.yaml
  deploy/helm/sumologic/conf/instrumentation/traces.gateway.conf.yaml
  deploy/helm/sumologic/conf/opentelemetry-operator/instrumentation.cr.yaml
  deploy/helm/sumologic/templates/instrumentation/traces-gateway/configmap.yaml
  deploy/helm/sumologic/templates/opentelemetry-operator/configmap-instrumentation-cr.yaml
  tests/helm/common_test.go
  tests/helm/go.mod
  tests/helm/go.sum
  tests/helm/opentelemetry_operator_instrumentation_cr_configmap/static/instrumentation.output.yaml
  tests/helm/otelcol-instrumentation-config/static/traces-gateway-disabled.output.yaml
  tests/helm/otelcol-instrumentation-config/static/traces-gateway-enabled.output.yaml
  tests/helm/template_test.go
  tests/helm/traces-gateway-loadbalancing/static/traces-gateway-true.output.yaml
  tests/helm/utils.go
Labels: skip-changelog

#2677 docs: move roadmap to repo root directory
  README.md
  ROADMAP.md
Labels: documentation, skip-changelog

#2683 docs: update the overview image for v3
  images/overview-v3.png
Labels: skip-changelog

#2690 docs: bump Prometheus CRD versions
  docs/best-practices.md
  docs/non-helm-installation.md
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog

#2693 chore: upgrade otelcol for traces to 0.66.0-sumo-0
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/otelcol-instrumentation-statefulset/static/otelcol-instrumentation-statefulset.output.yaml
Labels: documentation

#2695 test(integration): fix image archive creation on MacOS
  tests/integration/create-image-archive.sh
Labels: integration-tests, skip-changelog

#2694 chore: upgrade Fluent Bit to v2.0.6
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2698 feat: add docs to markdownlint
  Makefile
Labels: skip-changelog

#2702 chore: move changelog entry to the right release
  CHANGELOG.md
Labels: documentation, skip-changelog

#2689 Added imagePullSecrets field in otel events and Sumologic-setup template
  CHANGELOG.md
  deploy/helm/sumologic/templates/events/otelcol/statefulset.yaml
  deploy/helm/sumologic/templates/setup/job.yaml
Labels: documentation

#2701 docs: add a basic fluent bit vs otel comparison document
  docs/fluentbit-otc-comparison.md
Labels: documentation, skip-changelog

#2697 docs: add otelcol FIPS images documentation
  docs/security-best-practices.md
Labels: documentation, skip-changelog, backport release-v2.19

#2707 test(integration): add otel and fluent bit logs test
  tests/integration/helm_ot_fluentbit_logs_test.go
  tests/integration/values/values_common.yaml
  tests/integration/values/values_helm_ot_fluentbit_logs.yaml
Labels: integration-tests, skip-changelog

#2709 docs: fix for 50882be - add fips section link in the doc header
  docs/security-best-practices.md
Labels: documentation

#2708 docs: backport #2697 - add otelcol FIPS images documentation
  deploy/docs/Security_Best_Practices.md
Labels: documentation

#2712 chore: downgrade Fluent Bit to v1.6.10-sumo-3
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2713 ci: run PR checks only when files change
  .github/workflows/pull_requests.yml
Labels: ci, skip-changelog

#2714 ci: only check links in changed md files in PRs
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  ci/markdown_link_check.sh
Labels: ci, skip-changelog

#2717 fix(openshift): add missing privileges for otelcol-logs-collector
  CHANGELOG.md
  deploy/helm/sumologic/templates/logs/collector/otelcol/daemonset.yaml
  deploy/helm/sumologic/templates/scc.yaml
  deploy/helm/sumologic/values.yaml
  docs/existing-prometheus-doc.md
  docs/installation-with-helm.md
  docs/non-helm-installation.md
  docs/side-by-side-prometheus.md
  docs/standalone-prometheus.md
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/helm/logs_otc_daemonset/static/complex.input.yaml
  tests/helm/logs_otc_daemonset/static/complex.output.yaml
Labels: documentation

#2720 ci: set the right base branch for the link check
  .github/workflows/pull_requests.yml
Labels: ci, skip-changelog

#2721 Revert "Added imagePullSecrets field in otel events and Sumologic-set…
  CHANGELOG.md
  deploy/helm/sumologic/templates/events/otelcol/statefulset.yaml
  deploy/helm/sumologic/templates/setup/job.yaml
  tests/helm/setup/basic.output.yaml
Labels: documentation

#2722 ci: fix markdown link check in dev builds
  .github/workflows/dev_builds.yml
Labels: ci, skip-changelog

#2716 feat(metrics): simplify custom application metrics
  CHANGELOG.md
  deploy/helm/sumologic/conf/metrics/otelcol/config.yaml
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/metrics/prometheus/servicemonitors.yaml
  deploy/helm/sumologic/values.yaml
  docs/collecting-application-metrics.md
  docs/v3-migration-doc.md
  tests/helm/go.mod
  tests/helm/go.sum
  tests/helm/kube-prometheus-stack/servicemonitors/basic-sumo.input.yaml
  tests/helm/kube-prometheus-stack/servicemonitors/basic-sumo.output.yaml
  tests/helm/metadata_metrics_otc/static/basic.output.yaml
  tests/helm/prometheus_test.go
  tests/helm/utils.go
Labels: documentation

#2706 feat(migration): add tracing migration
  CHANGELOG.md
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog

#2723 chore: downgrade kube-prometheus-stack to 40.5.0
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
  docs/README.md
  docs/non-helm-installation.md
  docs/v3-migration-doc.md
Labels: documentation

#2725 docs(migration-v3): add step for patching prometheus-node-exporter in migration to v3
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog

#2726 docs: correct the release name in error message
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog

#2710 feat(otellogs): read from end
  CHANGELOG.md
  deploy/helm/sumologic/conf/logs/collector/otelcol/config.yaml
  docs/v3-migration-doc.md
  tests/helm/logs_otc/static/basic.output.yaml
Labels: documentation

#2728 chore: fix values.yaml comments
  deploy/helm/sumologic/values.yaml
Labels: skip-changelog

#2730 chore: upgrade Fluent Bit to v1.6.10-sumo-3 (backport)
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2731 chore: add check for configuration coverage in README.md
  .github/workflows/pull_requests.yml
  Makefile
  ci/check_configuration_keys.py
  vagrant/provision.sh
Labels: ci, skip-changelog

#2736 chore: prepare release v2.19.1
  CHANGELOG.md
  deploy/docs/release.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2738 chore: backport release 2.19.1 to release 2.19
  .github/workflows/pull_requests.yml
  CHANGELOG.md
  deploy/docs/Non_Helm_Installation.md
  deploy/docs/Security_Best_Practices.md
  deploy/docs/release.md
  deploy/helm/sumologic/Chart.yaml
  deploy/helm/sumologic/values.yaml
  tests/integration/helm_otelcol_events_test.go
Labels: documentation, ci, integration-tests, skip-changelog
