Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2022-09, with the labels that each got.

#2493 docs: update support matrix
  deploy/README.md
Labels: documentation, skip-changelog

#2499 chore: prepare release v2.15.0
  CHANGELOG.md
  README.md
  deploy/docs/release.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2500 chore(changelog): update
  CHANGELOG.md
Labels: documentation

#2502 feat: add dot suffix to internal dns addresses
  CHANGELOG.md
  ci/jsonnet-mixin.tmpl
  deploy/docs/Best_Practices.md
  deploy/docs/Kube-Prometheus.md
  deploy/docs/Performance.md
  deploy/docs/additional_prometheus_configuration.md
  deploy/helm/sumologic/conf/logs/collector/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  examples/kube_prometheus_stack/values-prometheus.yaml
  tests/helm/logs_otc/static/basic.output.yaml
  tests/helm/logs_otc/static/options.output.yaml
  tests/helm/logs_otc/static/override.output.yaml
  vagrant/scripts/perf-test.sh
  vagrant/scripts/yq/update_remote_write_for_avalanche.yaml
Labels: documentation, backport-release-v2

#2509 bugfix: set latest release to 2.15 in main readme
  README.md
Labels: documentation, skip-changelog

#2506 feat: make creation of default Instrumentation object for opentelemetry operator optional
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/opentelemetry-operator/instrumentation-cr.yaml
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2512 fix(logs): prevent Fluent Bit from doing metadata enrichment
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2505 chore: enable actions on release-vx branches
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
Labels: ci, skip-changelog

#2511 docs: add docs for property `fluentd.logs.containers.sourceHost`
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
Labels: documentation, skip-changelog

#2507 chore: enable actions on release-vx branches
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  deploy/docs/release.md
Labels: documentation, ci, skip-changelog

#2510 fix(openshift): fix remote write proxy - use unprivileged NGINX
  CHANGELOG.md
  deploy/helm/sumologic/conf/metrics/remote-write-proxy/remote-write-proxy.conf
  deploy/helm/sumologic/templates/metrics/remote-write-proxy/deployment.yaml
  deploy/helm/sumologic/templates/metrics/remote-write-proxy/service.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/remote_write_proxy/static/basic.output.yaml
  tests/helm/remote_write_proxy/static/full_config.input.yaml
Labels: documentation

#2518 chore(tailing-sidecar-operator): upgrade to 0.3.4
  CHANGELOG.md
  deploy/docs/Installation_with_Helm.md
  deploy/docs/Non_Helm_Installation.md
  deploy/docs/SideBySidePrometheus.md
  deploy/docs/existingPrometheusDoc.md
  deploy/docs/standAlonePrometheus.md
  deploy/helm/sumologic/Chart.yaml
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
Labels: documentation, backport-release-v2

#2504 backport: feat: add dot suffix to internal dns addresses
  CHANGELOG.md
  ci/jsonnet-mixin.tmpl
  deploy/docs/Best_Practices.md
  deploy/docs/Kube-Prometheus.md
  deploy/docs/Performance.md
  deploy/docs/additional_prometheus_configuration.md
  deploy/helm/sumologic/conf/logs/collector/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  examples/kube_prometheus_stack/values-prometheus.yaml
  tests/helm/logs_otc/static/basic.output.yaml
  tests/helm/logs_otc/static/options.output.yaml
  tests/helm/logs_otc/static/override.output.yaml
  vagrant/scripts/perf-test.sh
  vagrant/scripts/yq/update_remote_write_for_avalanche.yaml
Labels: documentation

#2446 chore(kube-prometheus-stack): update kube-prometheus-stack chart to 39.11.0
  CHANGELOG.md
  deploy/README.md
  deploy/docs/Best_Practices.md
  deploy/docs/Non_Helm_Installation.md
  deploy/docs/Troubleshoot_Collection.md
  deploy/docs/v3_migration_doc.md
  deploy/helm/sumologic/Chart.yaml
  deploy/helm/sumologic/values.yaml
  tests/integration/helm_default_installation_test.go
  tests/integration/helm_otc_fips_metadata_installation_test.go
  tests/integration/helm_otc_metadata_installation_test.go
  tests/integration/helm_traces_enabled_test.go
  tests/integration/internal/constants.go
  vagrant/provision.sh
Labels: documentation, breaking-change, integration-tests

#2519 chore(tailing-sidecar-operator): upgrade to 0.3.4
  CHANGELOG.md
  deploy/docs/Installation_with_Helm.md
  deploy/docs/Non_Helm_Installation.md
  deploy/docs/SideBySidePrometheus.md
  deploy/docs/existingPrometheusDoc.md
  deploy/docs/standAlonePrometheus.md
  deploy/helm/sumologic/Chart.yaml
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2517 [backport of #2506]feat: make creation of default Instrumentation object for opentelemetry operator configurable
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/opentelemetry-operator/instrumentation-cr.yaml
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2521 chore: prepare release v2.16.0
  CHANGELOG.md
  README.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2522 docs: add information about 2.16.0 release
  CHANGELOG.md
  README.md
  deploy/README.md
Labels: documentation

#2523 docs(openshift): add missing parameter for non-helm installation
  deploy/docs/Non_Helm_Installation.md
Labels: skip-changelog, backport release-v2

#2527 feat(metadata): upgrade otelcol to v0.57.2-sumo-1
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#2528 chore: prepare release v2.17.0
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2530 chore(changelog): update
  CHANGELOG.md
Labels: documentation

#2529 chore(changelog): add release v2.17.0
  CHANGELOG.md
Labels: documentation

#2536 Update README.md
  README.md
Labels: documentation, skip-changelog

#2538 docs: parsing json content by fluentd
  deploy/docs/Best_Practices.md
Labels: documentation, skip-changelog

#2542 docs(falco): make it clear that Falco is not supported for production uses
  deploy/README.md
  deploy/helm/sumologic/values.yaml
Labels: documentation, skip-changelog, backport release-v2.17

#2544 chore: upgrade nginx to 1.23
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/remote_write_proxy/static/basic.output.yaml
Labels: documentation, backport release-v2

#2545 docs: add v2.17 link to main docs and provide a support cut date for v2.16
  README.md
Labels: documentation, skip-changelog
