Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2022-08, with the labels that each got.

#2459 chore: update Tailing Sidecar Operator subchart to 0.3.3
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2460 chore: update Tailing Sidecar Operator subchart to 0.3.3
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2462 feat: prepare release v2.14.1
  CHANGELOG.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2464 docs: update version in Deployment Guide
  deploy/README.md
Labels: documentation

#2467 fix(docs): make the new version of markdownlint happy
  deploy/docs/fluentd_otc_comparison.md
Labels: documentation, skip-changelog

#2468 docs: clarify production-readiness of OT
  deploy/docs/opentelemetry_collector.md
Labels: documentation, skip-changelog

#2469 ci(integration-tests): set golangci-lint version to 1.47
  .github/workflows/pull_requests.yml
Labels: ci, skip-changelog

#2466 feat: store Sumo credentials for the setup Job in a Secret
  CHANGELOG.md
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/setup/job.yaml
  deploy/helm/sumologic/templates/setup/secret.yaml
Labels: documentation

#2399 chore: upgrade sumologic terraform provider to 2.18
  CHANGELOG.md
  deploy/helm/sumologic/conf/setup/main.tf
  tests/helm/terraform/static/all_fields.output.yaml
  tests/helm/terraform/static/collector_fields.output.yaml
  tests/helm/terraform/static/conditional_sources.output.yaml
  tests/helm/terraform/static/custom.output.yaml
  tests/helm/terraform/static/default.output.yaml
  tests/helm/terraform/static/disable_default_metrics.output.yaml
  tests/helm/terraform/static/disabled_dashboards.output.yaml
  tests/helm/terraform/static/disabled_monitors.output.yaml
  tests/helm/terraform/static/monitors_with_email_notifications.output.yaml
  tests/helm/terraform/static/monitors_with_single_email.output.yaml
  tests/helm/terraform/static/strip_extrapolation.output.yaml
  tests/helm/terraform/static/traces.output.yaml
Labels: documentation

#2473 docs: fix "open explore" dead link
  deploy/docs/SideBySidePrometheus.md
  deploy/docs/existingPrometheusDoc.md
  deploy/docs/standAlonePrometheus.md
Labels: documentation, skip-changelog

#2472 chore: update kubernetes-tools to 2.12.0
  CHANGELOG.md
  ci/_build_functions.sh
  deploy/docs/Kube-Prometheus.md
  deploy/docs/Non_Helm_Installation.md
  deploy/docs/additional_prometheus_configuration.md
  deploy/docs/standAlonePrometheus.md
  deploy/docs/v2_migration_doc.md
  tests/helm/functions.sh
  tests/integration/internal/constants.go
  tests/integration/yamls/receiver-mock.yaml
  vagrant/k8s/istio-receiver-mock.yaml
  vagrant/k8s/logs-generator.yaml
  vagrant/k8s/receiver-mock.yaml
Labels: documentation, integration-tests

#2474 Adjust queueing and batching configurarion for OTC according to testi…
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2479 feat: adjust queueing and batching configurarion for logs, OTC accord…
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/metadata_logs_otc/static/basic.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
Labels: documentation

#2485 chore: upgrade setup image to v3.4.0
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2486 feat: enable compaction for OT storage
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc/static/basic.output.yaml
  tests/helm/metadata_logs_otc/static/basic.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
Labels: documentation

#2487 chore: upgrade otelcol for metadata and events to 0.56.0-sumo-0
  CHANGELOG.md
  deploy/helm/sumologic/conf/events/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/events_otc/static/basic.output.yaml
  tests/helm/events_otc/static/options.output.yaml
  tests/helm/events_otc/static/override.output.yaml
  tests/helm/events_otc_statefulset/static/annotations_labels.output.yaml
  tests/helm/events_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_logs_otc/static/basic.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
  tests/integration/values/values_helm_default_ot_fips_metadata.yaml
Labels: documentation, integration-tests

#2491 test(integration): improve teardown
  tests/integration/internal/ctxopts/context_opts.go
  tests/integration/internal/stepfuncs/debug.go
  tests/integration/internal/stepfuncs/helm.go
  tests/integration/internal/stepfuncs/options.go
  tests/integration/main_test.go
Labels: integration-tests, skip-changelog

#2494 refactor(tests/integration): extract function for parsing url
  tests/integration/internal/receivermock/receiver_mock.go
Labels: integration-tests, skip-changelog
