Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2022-06, with the labels that each got.

#2316 feat(metrics): add imagePullSecrets to remote-write-proxy
  CHANGELOG.md
  deploy/docs/Working_with_container_registries.md
  deploy/helm/sumologic/templates/metrics/remote-write-proxy/deployment.yaml
  tests/helm/remote_write_proxy/static/full_config.input.yaml
  tests/helm/remote_write_proxy/static/full_config.output.yaml
Labels: documentation

#2318 fix(events): fix setting source category
  CHANGELOG.md
  deploy/helm/sumologic/conf/events/events.conf
  tests/helm/events/static/customSourceCategory.input.yaml
  tests/helm/events/static/customSourceCategory.output.yaml
Labels: documentation

#2315 chore: remove support for AKS with Kubernetes 1.19 & 1.20
  CHANGELOG.md
  deploy/README.md
Labels: documentation

#2323 docs(best_practices): add info about splitting big chunks
  deploy/docs/Best_Practices.md
  deploy/docs/Troubleshoot_Collection.md
Labels: documentation, skip-changelog

#2324 chore: add support for AKS with Kuberentes 1.23
  CHANGELOG.md
  deploy/README.md
Labels: documentation

#2326 docs(changelog): remove the v2.9.0 release note about OT fork to OT distro change
  CHANGELOG.md
Labels: documentation, backport release-v2.9

#2331 docs: clarify subchart enabled flags
  deploy/helm/sumologic/values.yaml
Labels: skip-changelog, backport release-v2.9

#2335 chore: update metrics-server to 5.11.9
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, backport release-v2.2, backport release-v2.3, backport release-v2.4, backport release-v2.5, backport release-v2.6, backport release-v2.7, backport release-v2.9, backport release-v2.8

#2337 chore: prepare release v2.9.1
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2339 chore: update metrics-server to 5.11.9
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2340 chore: update metrics-server to 5.11.9
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2342 chore: update metrics-server to 5.11.9
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2343 chore: update metrics-server to 5.11.9
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2344 chore: update metrics-server to 5.11.9
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2345 chore: update metrics-server to 5.11.9
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2346 chore: update metrics-server to 5.11.9
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2355 ci: remove milestone check
  .github/workflows/pull_requests.yml
Labels: ci, skip-changelog

#2353 docs(troubleshooting): add section on `function dig not defined`
  deploy/docs/Troubleshoot_Collection.md
Labels: documentation, skip-changelog

#2356 docs: update changelog
  CHANGELOG.md
Labels: documentation

#2354 docs(readme): update released version v2.9
  deploy/README.md
Labels: documentation

#2334 Switch OTC Fork to OTel Distro for Traces
  CHANGELOG.md
  deploy/helm/sumologic/conf/traces/traces.otelcol.conf.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/tracing-agent-loadbalancing/static/otelagent-gateway-disabled.input.yaml
  tests/helm/tracing-agent-loadbalancing/static/otelagent-gateway-disabled.output.yaml
  tests/helm/tracing-agent-loadbalancing/static/otelagent-gateway-enabled.input.yaml
  tests/helm/tracing-agent-loadbalancing/static/otelagent-gateway-enabled.output.yaml
  tests/helm/tracing-gateway-loadbalancing/static/otelgateway-true.output.yaml
  tests/helm/tracing-otelcol/config.sh
  tests/helm/tracing-otelcol/static/collection-monitoring-false.input.yaml
  tests/helm/tracing-otelcol/static/collection-monitoring-false.output.yaml
  tests/helm/tracing-otelcol/static/simple.input.yaml
  tests/helm/tracing-otelcol/static/simple.output.yaml
Labels: documentation

#2357 docs: add subsection on disabling multiline
  deploy/docs/Best_Practices.md
Labels: documentation, skip-changelog

#2172 feat(ot-operator): add opentelemetry-operator for tracing
  CHANGELOG.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/opentelemetry-operator/instrumentation-cr.yaml
  deploy/helm/sumologic/templates/opentelemetry-operator/tls.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/functions.sh
  tests/helm/opentelemetry_operator_instrumentation_cr/config.sh
  tests/helm/opentelemetry_operator_instrumentation_cr/static/instrumentation.input.yaml
  tests/helm/opentelemetry_operator_instrumentation_cr/static/instrumentation.output.yaml
  tests/helm/opentelemetry_operator_tls/config.sh
  tests/helm/opentelemetry_operator_tls/static/tls.input.yaml
  tests/helm/opentelemetry_operator_tls/static/tls.output.yaml
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/helm_opentelemetry_operator_enabled_test.go
  tests/integration/internal/stepfuncs/helm.go
  tests/integration/main_test.go
  tests/integration/values/values_helm_opentelemetry_operator_enabled.yaml
Labels: documentation, integration-tests

#2361 chore: add support for Kops 1.23
  CHANGELOG.md
  deploy/README.md
Labels: documentation

#2363 fix(logs/metadata): fix logs metadata for systemd
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/metadata_logs_otc/static/basic.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
  vagrant/values.yaml
Labels: documentation

#2209 feat(notes): add information about tracing receiver endpoints
  CHANGELOG.md
  deploy/helm/sumologic/templates/NOTES.txt
  deploy/helm/sumologic/templates/traces/otel-agent/service.yaml
  deploy/helm/sumologic/templates/traces/otelcol/service.yaml
Labels: documentation

#2368 chore(documentation): add information about opentelemetry-operator
  deploy/README.md
Labels: documentation, skip-changelog

#2369 Prepare v2.10.0
  CHANGELOG.md
  README.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2371 docs: remove support for v2.2
  README.md
Labels: documentation, skip-changelog

#2372 fix(metrics): remove outdated API calls
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2367 feat(metrics): add service metrics
  CHANGELOG.md
  deploy/docs/scraped_metrics.md
  deploy/helm/sumologic/values.yaml
  examples/kube_prometheus_stack/values-prometheus.yaml
Labels: documentation

#2374 Shorter OT Operator label value
  CHANGELOG.md
  deploy/helm/sumologic/templates/_helpers.tpl
  tests/helm/opentelemetry_operator_instrumentation_cr/static/instrumentation.output.yaml
  tests/integration/helm_opentelemetry_operator_enabled_test.go
Labels: documentation, integration-tests

#2376 chore: update falco chart to 1.18.6
  CHANGELOG.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2377 chore: update telegraf-operator chart to 1.3.7
  CHANGELOG.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2338 feat: update otellogs to 0.52.0-sumo-0
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
Labels: documentation

#2382 docs: fix missing fluent pvc and env keys in the chart readme
  deploy/helm/sumologic/README.md
Labels: documentation, skip-changelog, backport release-v2.10

#2387 chore: update telegraf-operator chart to 1.3.5
  CHANGELOG.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2388 chore(docs): clean up the configuration table
  deploy/helm/sumologic/README.md
Labels: documentation, skip-changelog

#2393 docs: fix config typo
  deploy/helm/sumologic/README.md
Labels: documentation, skip-changelog

#2392 docs(troubleshoot_collection): update fluentd stdout config
  deploy/docs/Troubleshoot_Collection.md
Labels: documentation, skip-changelog

#2391 docs(troubleshoot_collection): add text format multiline log detection issue
  deploy/docs/Best_Practices.md
  deploy/docs/Troubleshoot_Collection.md
  deploy/helm/sumologic/values.yaml
Labels: documentation, skip-changelog
