Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2022-05, with the labels that each got.

#2265 docs(best_practices): add instruction how to redact sensitive data
  deploy/docs/Best_Practices.md
Labels: documentation, skip-changelog

#2269 docs(best_practices): add instruction to install newer kube-prometheus-stack
  deploy/docs/Best_Practices.md
  examples/kube_prometheus_stack/values-prometheus.yaml
  examples/kube_prometheus_stack/values.yaml
Labels: documentation, skip-changelog

#2258 feat(otellogs): scrape metrics from otellogs
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/logs/collector/otelcol/configmap.yaml
  deploy/helm/sumologic/templates/logs/collector/otelcol/daemonset.yaml
  deploy/helm/sumologic/templates/logs/collector/otelcol/service.yaml
  deploy/helm/sumologic/templates/logs/collector/otelcol/serviceaccount.yaml
  deploy/helm/sumologic/templates/logs/common/service.yaml
  deploy/helm/sumologic/templates/metrics/common/service.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
Labels: skip-changelog

#2251 feat(metadata/otc): upgrade to v0.50.0-sumo-0
  CHANGELOG.md
  deploy/docs/Best_Practices.md
  deploy/docs/fluentd_otc_comparison.md
  deploy/helm/sumologic/values.yaml
  tests/helm/metadata_logs_otc/static/basic.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
  tests/helm/tracing/static/collection-monitoring-false.output.yaml
  tests/helm/tracing/static/simple.output.yaml
  vagrant/values.yaml
Labels: documentation

#2271 docs: add v2.7.1 to changelog
  CHANGELOG.md
Labels: documentation, skip-changelog

#2270 docs: fix changelog entry for v2.7.1
  CHANGELOG.md
Labels: documentation, skip-changelog

#2272 chore: update Thanos to v0.25.2
  CHANGELOG.md
  deploy/docs/Best_Practices.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2264 chore(release): prepare 2.8.0-rc.0
  deploy/helm/sumologic/Chart.yaml
Labels: skip-changelog

#2276 fix(templates): fix templates indentation
  CHANGELOG.md
  deploy/helm/sumologic/templates/metrics/remote-write-proxy/deployment.yaml
  deploy/helm/sumologic/templates/traces/otel-agent/daemonset.yaml
  deploy/helm/sumologic/templates/traces/otel-gateway/deployment.yaml
  deploy/helm/sumologic/templates/traces/otelcol/deployment.yaml
  tests/helm/remote_write_proxy/static/full_config.input.yaml
  tests/helm/remote_write_proxy/static/full_config.output.yaml
Labels: documentation

#2277 chore: prepare release v2.8.0
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#2279 fix(README): set title for v2.8
  deploy/README.md
Labels: documentation

#2236 docs: assigning pod to particular node
  deploy/docs/Best_Practices.md
  deploy/docs/fluentd_otc_comparison.md
  deploy/docs/v1_migration_doc.md
  deploy/docs/v2_migration_doc.md
  deploy/helm/sumologic/README.md
Labels: documentation, skip-changelog

#2278 docs: mitigate logs duplication in fluentd
  deploy/docs/Troubleshoot_Collection.md
Labels: documentation, skip-changelog

#2287 chore(deps): upgrade fluentd to 1.14.6-sumo-3
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2288 docs: end support for v2.1
  README.md
Labels: documentation, skip-changelog

#2284 fix: set cluster field in metadata pipelines
  CHANGELOG.md
  deploy/helm/sumologic/conf/events/events.conf
  deploy/helm/sumologic/conf/logs/fluentd/logs.source.containers.conf
  deploy/helm/sumologic/conf/logs/fluentd/logs.source.default.conf
  deploy/helm/sumologic/conf/logs/fluentd/logs.source.systemd.conf
  deploy/helm/sumologic/conf/setup/resources.tf
  deploy/helm/sumologic/conf/setup/variables.tf
  deploy/helm/sumologic/values.yaml
  tests/helm/events/static/apiServerUrl.output.yaml
  tests/helm/events/static/apiServerUrl_null.output.yaml
  tests/helm/events/static/default.output.yaml
  tests/helm/events/static/watchResourceEventsOverrides.output.yaml
  tests/helm/events/static/watchResourceEventsOverrides_apiServerUrl.output.yaml
  tests/helm/metadata_logs_otc/static/basic.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
  tests/helm/terraform/static/all_fields.output.yaml
  tests/helm/terraform/static/collector_fields.output.yaml
  tests/helm/terraform/static/conditional_sources.output.yaml
  tests/helm/terraform/static/custom.output.yaml
  tests/helm/terraform/static/default.output.yaml
  tests/helm/terraform/static/disable_default_metrics.output.yaml
  tests/helm/terraform/static/disabled_dashboards.output.yaml
  tests/helm/terraform/static/disabled_monitors.output.yaml
  tests/helm/terraform/static/monitors_with_email_notifications.output.yaml
  tests/helm/terraform/static/monitors_with_single_email.output.yaml
  tests/helm/terraform/static/strip_extrapolation.output.yaml
  tests/helm/terraform/static/traces.output.yaml
  tests/helm/tracing/static/collection-monitoring-false.output.yaml
  tests/helm/tracing/static/simple.output.yaml
  tests/integration/helm_default_installation_test.go
  tests/integration/helm_otc_metadata_installation_test.go
  tests/integration/helm_otelcol_logs_test.go
  tests/integration/values/values_helm_otelcol_logs.yaml
Labels: documentation, integration-tests

#2289 docs(changelog): fix invalid entry for #2287
  CHANGELOG.md
Labels: documentation

#2291 fix(otellogs): set resources on Otelcol logs collector daemonset
  CHANGELOG.md
  deploy/helm/sumologic/templates/logs/collector/otelcol/daemonset.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
Labels: documentation

#2290 [Backport release-v2.8] chore(deps): upgrade fluentd to 1.14.6-sumo-3
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2297 [Backport release-v2.2] chore(deps): upgrade fluentd to 1.14.6-sumo-3
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2296 [Backport release-v2.3] chore(deps): upgrade fluentd to 1.14.6-sumo-3
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2293 [Backport release-v2.6]chore(deps): upgrade fluentd to 1.14.6-sumo-3
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2292 [Backport release-v2.7] chore(deps): upgrade fluentd to 1.14.6-sumo-3
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2298 fix(otellogs): set resources on Otelcol logs collector daemonset
  CHANGELOG.md
  deploy/helm/sumologic/templates/logs/collector/otelcol/daemonset.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
Labels: documentation

#2300 chore: prepare v2.2.1 release
  CHANGELOG.md
Labels: documentation

#2301 chore: prepare v2.3.3 release
  CHANGELOG.md
Labels: documentation

#2302 chore: prepare v2.4.2 release
  CHANGELOG.md
Labels: documentation

#2303 chore: prepare v2.5.3 release
  CHANGELOG.md
Labels: documentation

#2304 chore: prepare v2.6.1 release
  CHANGELOG.md
Labels: documentation

#2305 chore: prepare v2.7.2 release
  CHANGELOG.md
Labels: documentation

#2306 chore: prepare v2.8.1 release
  CHANGELOG.md
Labels: documentation

#2312 chore: remove support for EKS with Kuberentes 1.18
  CHANGELOG.md
  deploy/README.md
Labels: documentation

#2313 chore: remove support for Kops with Kubernetes 1.18
  CHANGELOG.md
  deploy/README.md
Labels: documentation

#2314 chore: add support for GKE with Kuberentes 1.22
  CHANGELOG.md
  deploy/README.md
Labels: documentation
