Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2022-04, with the labels that each got.

#2213 chore(otelcol): upgrade to 0.0.58-beta.0
  CHANGELOG.md
  deploy/docs/Best_Practices.md
  deploy/docs/fluentd_otc_comparison.md
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/helm/metadata_logs_otc/static/basic.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
  tests/helm/tracing-gateway-loadbalancing/static/otelgateway-true.output.yaml
Labels: documentation

#2216 feat(metrics/otelcol): drop unwanted routing metric attribute
  deploy/helm/sumologic/values.yaml
  tests/integration/helm_otc_metadata_installation_test.go
Labels: integration-tests

#2217 docs: add section about `fullnameOverride`
  deploy/docs/Best_Practices.md
  deploy/docs/Installation_with_Helm.md
Labels: documentation

#2220 chore: bump otelcol-sumo to the officially supported version v0.47.0-sumo-0
  CHANGELOG.md
  deploy/docs/Best_Practices.md
  deploy/docs/fluentd_otc_comparison.md
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#2221 feat: remove the experimental flag for otelcol as a metadata provider
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2218 docs: Update README.md
  vagrant/README.md
Labels: documentation

#2224 ci: add a PR check for changelog changes
  .github/workflows/changelog.yaml
Labels: ci, skip-changelog

#2230 chore: upgrade Fluentd to 1.14.6-sumo-1
  CHANGELOG.md
  deploy/README.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2231 chore: prepare v2.7.0 release
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2233 docs(troubleshooting): add log throttling and ingest budgets
  deploy/docs/Troubleshoot_Collection.md
Labels: documentation, skip-changelog

#2232 docs: FluentD buffer size configuration
  CHANGELOG.md
  deploy/docs/Best_Practices.md
  deploy/docs/FluentdPersistence.md
Labels: documentation

#2235 docs(changelog): fix typo in node-exporter version
  CHANGELOG.md
Labels: documentation, skip-changelog

#2237 fix(ci): only run the backporter on merged PRs
  .github/workflows/backport_bot.yaml
Labels: ci, skip-changelog

#2239 chore(makefile): add vagrant related commands to makefile
  Makefile
Labels: skip-changelog

#2238 fix: use custom ServiceMonitor for Prometheus' own metrics
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2241 docs(README): fix deploy title
  deploy/README.md
Labels: documentation

#2244 feat(fluentd): expose extra configuration for fluentd output plugin
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/metrics/fluentd/metrics.output.conf
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2245 chore(deps): upgrade fluentd to 1.14.6-sumo-2
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2242 docs(dev): add release information
  CONTRIBUTING.md
  deploy/docs/release.md
Labels: documentation, skip-changelog

#2249 chore(shellcheck): validate generated setup shell files
  .github/workflows/pull_requests.yml
  ci/shellcheck.sh
  deploy/helm/sumologic/conf/setup/setup.sh
  tests/helm/terraform/static/all_fields.output.yaml
  tests/helm/terraform/static/collector_fields.output.yaml
  tests/helm/terraform/static/conditional_sources.output.yaml
  tests/helm/terraform/static/custom.input.yaml
  tests/helm/terraform/static/custom.output.yaml
  tests/helm/terraform/static/default.output.yaml
  tests/helm/terraform/static/disable_default_metrics.output.yaml
  tests/helm/terraform/static/strip_extrapolation.output.yaml
  tests/helm/terraform/static/traces.output.yaml
  tests/helm/terraform_custom/static/custom.input.yaml
  tests/helm/terraform_custom/static/custom.output.yaml
Labels: ci, skip-changelog

#2240 fix: Handle empty or invalid Sumo base URL
  CHANGELOG.md
  deploy/helm/sumologic/conf/setup/setup.sh
  tests/helm/terraform/static/all_fields.output.yaml
  tests/helm/terraform/static/collector_fields.output.yaml
  tests/helm/terraform/static/conditional_sources.output.yaml
  tests/helm/terraform/static/custom.output.yaml
  tests/helm/terraform/static/default.output.yaml
  tests/helm/terraform/static/disable_default_metrics.output.yaml
  tests/helm/terraform/static/strip_extrapolation.output.yaml
  tests/helm/terraform/static/traces.output.yaml
Labels: documentation

#2246 feat(otellogs): upgrade to 0.49.0
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc/static/basic.output.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/integration/helm_otelcol_logs_test.go
  tests/integration/values/values_helm_otelcol_logs.yaml
Labels: documentation, integration-tests

#2252 doc: fix not working link to documentation
  deploy/helm/sumologic/values.yaml
Labels: skip-changelog

#2253 doc: add information about Fluentd autoscaling to troubleshooting documentation
  deploy/docs/Troubleshoot_Collection.md
Labels: documentation, skip-changelog

#2254 chore: change Fluent Bit image to public.ecr.aws/sumologic/fluent-bit:1.6.10-sumo-2
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2255 fix: switch to ECR for the busybox image
  CHANGELOG.md
  deploy/helm/sumologic/templates/cleanup/job.yaml
  deploy/helm/sumologic/templates/logs/collector/otelcol/daemonset.yaml
  deploy/helm/sumologic/values.yaml
  examples/multiline_logs/pod_multiline_long_lines.yaml
  examples/multiline_logs/pod_multiline_single_long_line.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/integration/yamls/multiline-logs-generator.yaml
Labels: documentation, integration-tests

#2260 [Backport of #2254] chore: change Fluent Bit image to public.ecr.aws/sumologic/fluent-bit:1.6.10-sumo-2
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2263 chore: prepare v2.7.1 release
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2257 docs(otellogs): document how to use otellogs
  deploy/docs/opentelemetry_collector.md
Labels: documentation, skip-changelog
