Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2022-03, with the labels that each got.

#2158 feat(otellogs): support tolerations, nodeSelector and affinity for daemonset
  CHANGELOG.md
  deploy/helm/sumologic/templates/logs/collector/otelcol/daemonset.yaml
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2162 feat(otellogs): add multipart merge configuration for docker and cri
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc/static/basic.output.yaml
Labels: documentation

#2161 chore(otellogs): increase send_batch_size to 10240
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc/static/basic.output.yaml
Labels: documentation

#2155 chore(fluent-bit): update to 0.14.1
  CHANGELOG.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
  vagrant/values.yaml
Labels: documentation

#2165 fix: increase OTC liveness timeout and period
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#2168 docs(best_practices): fix ToC
  deploy/docs/Best_Practices.md
Labels: documentation

#2169 chore: prepare release v2.6.0
  CHANGELOG.md
  README.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2170 feat: change otlp http receiver port - tracing
  CHANGELOG.md
  deploy/helm/sumologic/templates/traces/otel-agent/daemonset.yaml
  deploy/helm/sumologic/templates/traces/otel-agent/service.yaml
  deploy/helm/sumologic/templates/traces/otelcol/deployment.yaml
  deploy/helm/sumologic/templates/traces/otelcol/service.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/tracing/static/collection-monitoring-false.output.yaml
  tests/helm/tracing/static/simple.output.yaml
Labels: documentation

#2015 test(integration): add test for multiline logs in containerd log format
  tests/integration/README.md
  tests/integration/helm_fluentbit_containerd_multiline_logs_test.go
  tests/integration/internal/constants.go
  tests/integration/values/values_helm_fluentbit_containerd_multiline_logs.yaml
  tests/integration/yamls/multiline-logs-generator.yaml
Labels: documentation, integration-tests

#2176 chore(pr_template): comment info for pr author
  .github/pull_request_template.md
Labels: ci

#2175 docs(troubleshooting): add prometheus config verification step
  deploy/docs/Troubleshoot_Collection.md
Labels: documentation

#2177 chore(deps): bump prometheus node exporter tag to 1.3.1
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2173 feat: add pprof extension for otelcol
  CHANGELOG.md
  deploy/helm/sumologic/templates/logs/collector/otelcol/daemonset.yaml
  deploy/helm/sumologic/templates/logs/otelcol/statefulset.yaml
  deploy/helm/sumologic/templates/metrics/otelcol/statefulset.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc/static/basic.output.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/helm/metadata_logs_otc/static/basic.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#2179 fix: add release version to the documentation title
  deploy/README.md
Labels: documentation

#2180 fix: bump supported k8s version to 1.18+ in the main doc
  deploy/README.md
Labels: documentation, backport release-v2.6

#2184 fix: change filtering logs example to a real world one
  deploy/docs/v1_conf_examples.md
Labels: documentation, backport release-v2.6

#2196 chore: upgrade Fluentd to 1.14.5-sumo-1
  CHANGELOG.md
  deploy/README.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2197 chore: upgrade Falco Helm Chart to 1.17.4
  CHANGELOG.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2190 Selectively disable cache for metadata enrichment calls
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/logs/fluentd/logs.enhance.k8s.metadata.filter.conf
  deploy/helm/sumologic/conf/metrics/fluentd/metrics.conf
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2189 chore(docs): fix changelog link
  CHANGELOG.md
Labels: documentation

#2201 feat(otelcol): add startupProbe config option
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/logs/otelcol/statefulset.yaml
  deploy/helm/sumologic/templates/metrics/otelcol/statefulset.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#2200 feat(otelcol): introduce default initialDelaySeconds
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#2211 feat: add topologySpreadContraints config option to logs and metrics metadata providers
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/logs/fluentd/statefulset.yaml
  deploy/helm/sumologic/templates/logs/otelcol/statefulset.yaml
  deploy/helm/sumologic/templates/metrics/fluentd/statefulset.yaml
  deploy/helm/sumologic/templates/metrics/otelcol/statefulset.yaml
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2137 feat(otelcol-traces): load balancing from agent to collector
  CHANGELOG.md
  deploy/docs/opentelemetry_collector.md
  deploy/helm/sumologic/conf/traces/traces.otelagent.conf.yaml
  deploy/helm/sumologic/conf/traces/traces.otelgateway.conf.yaml
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/traces/otel-agent/daemonset.yaml
  deploy/helm/sumologic/templates/traces/otel-gateway/configmap.yaml
  deploy/helm/sumologic/templates/traces/otel-gateway/deployment.yaml
  deploy/helm/sumologic/templates/traces/otel-gateway/service.yaml
  deploy/helm/sumologic/templates/traces/otelcol/deployment.yaml
  deploy/helm/sumologic/templates/traces/otelcol/service-headless.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/tracing-agent-loadbalancing/config.sh
  tests/helm/tracing-agent-loadbalancing/static/otelagent-gatway-disabled.input.yaml
  tests/helm/tracing-agent-loadbalancing/static/otelagent-gatway-disabled.output.yaml
  tests/helm/tracing-agent-loadbalancing/static/otelagent-gatway-enabled.input.yaml
  tests/helm/tracing-agent-loadbalancing/static/otelagent-gatway-enabled.output.yaml
  tests/helm/tracing-gateway-loadbalancing/config.sh
  tests/helm/tracing-gateway-loadbalancing/static/otelgateway-true.input.yaml
  tests/helm/tracing-gateway-loadbalancing/static/otelgateway-true.output.yaml
  tests/integration/helm_traces_load_balancing_test.go
  tests/integration/values/values_helm_traces_load_balancing.yaml
Labels: documentation, integration-tests
