Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2022-10, with the labels that each got.

#2552 test(integration): add more debug info for Helm install failures
  tests/integration/internal/k8s/pods.go
  tests/integration/internal/stepfuncs/helm.go
Labels: integration-tests, skip-changelog

#2550 docs: update links to Sumo help docs
  .markdown_link_check.json
  CHANGELOG.md
  deploy/README.md
  deploy/docs/Best_Practices.md
  deploy/docs/Installation_with_Helm.md
  deploy/docs/Non_Helm_Installation.md
  deploy/docs/SideBySidePrometheus.md
  deploy/docs/Terraform.md
  deploy/docs/Troubleshoot_Collection.md
  deploy/docs/additional_prometheus_configuration.md
  deploy/docs/existingPrometheusDoc.md
  deploy/docs/opentelemetry_collector.md
  deploy/docs/standAlonePrometheus.md
  deploy/docs/v1_migration_doc.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/setup/dashboards.sh
  deploy/helm/sumologic/conf/setup/monitors.sh
  deploy/helm/sumologic/conf/setup/setup.sh
  deploy/helm/sumologic/templates/NOTES.txt
  deploy/helm/sumologic/values.yaml
  examples/kube_prometheus_stack/values-prometheus.yaml
  tests/helm/terraform/static/all_fields.output.yaml
  tests/helm/terraform/static/collector_fields.output.yaml
  tests/helm/terraform/static/conditional_sources.output.yaml
  tests/helm/terraform/static/custom.output.yaml
  tests/helm/terraform/static/default.output.yaml
  tests/helm/terraform/static/disable_default_metrics.output.yaml
  tests/helm/terraform/static/disabled_dashboards.output.yaml
  tests/helm/terraform/static/disabled_monitors.output.yaml
  tests/helm/terraform/static/monitors_with_email_notifications.output.yaml
  tests/helm/terraform/static/monitors_with_single_email.output.yaml
  tests/helm/terraform/static/strip_extrapolation.output.yaml
  tests/helm/terraform/static/traces.output.yaml
  tests/helm/upgrade_v2_script/static/sumologic_collector_fields.input.yaml
Labels: documentation, skip-changelog

#2553 tests(integration): upgrade kind to v0.14.0
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  tests/integration/kind_images.json
Labels: ci, integration-tests, skip-changelog

#2548 test(integration): run etcd in memory for kind
  tests/integration/yamls/cluster.yaml
Labels: integration-tests, skip-changelog, backport release-v2

#2554 chore(deps): upgrade remote write proxy nginx image to v1.23.1
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/remote_write_proxy/static/basic.output.yaml
Labels: documentation, backport release-v2

#2557 test(integration): consolidate tracing tests
  tests/integration/helm_otelcol_traces_test.go
  tests/integration/helm_traces_enabled_test.go
  tests/integration/helm_traces_load_balancing_test.go
  tests/integration/values/values_helm_otelcol_traces.yaml
  tests/integration/values/values_helm_traces_enabled.yaml
  tests/integration/values/values_helm_traces_load_balancing.yaml
Labels: integration-tests, skip-changelog, backport release-v2

#2549 docs: update documentation for additionalRemoteWrite
  CHANGELOG.md
  deploy/docs/additional_prometheus_configuration.md
Labels: documentation, skip-changelog

#2568 docs: fix Terraform provider links
  deploy/docs/Terraform.md
Labels: documentation, skip-changelog, backport release-v2

#2570 ci: add PR job for reporting integration test status
  .github/workflows/pull_requests.yml
Labels: ci, skip-changelog, backport release-v2

#2572 fix(setup): allow credentials to not be set if setup is disabled
  CHANGELOG.md
  deploy/helm/sumologic/templates/setup/secret.yaml
Labels: documentation, backport release-v2

#2571 feat(changelog): add historical releases
  CHANGELOG.md
Labels: documentation, skip-changelog

#2578 chore: remove support for GKE 1.20
  CHANGELOG.md
  deploy/README.md
Labels: documentation

#2514 feat(metrics)!: disable thanos by default
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2581 Prepare release v2.18.0
  CHANGELOG.md
  README.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2575 [Backport release-v2] fix(setup):allow credentials to not be set if setup is disabled
  CHANGELOG.md
  deploy/helm/sumologic/templates/setup/secret.yaml
Labels: documentation

#2582 Update 2.6 to unsupported based on date
  README.md
Labels: documentation, skip-changelog

#2588 Prepare v2.18.1
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2586 chore: remove support for OpenShift 4.6 and OpenShift 4.7
  CHANGELOG.md
  deploy/README.md
Labels: documentation

#2587 chore: remove support for EKS 1.19
  CHANGELOG.md
  deploy/README.md
Labels: documentation

#2584 chore: remove support for sumologic-kubernetes-collection v2.6
  README.md
Labels: documentation

#2591 chore: remove support for kOps 1.20
  CHANGELOG.md
  deploy/README.md
Labels: documentation

#2596 chore(fluent-bit): update Fluent Bit Helm Chart to 0.20.9
  CHANGELOG.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2597 chore: chore(telegraf-operator): update Telegraf Operator Helm Chart to 1.3.10
  CHANGELOG.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2598 chore(telegraf-operator): update Telegraf Operator Helm Chart to 1.3.10
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation
