Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2022-07, with the labels that each got.

#2325 feat(otellogs): set fingerprint_size to 17k to include timestamp for docker driver
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc/static/basic.output.yaml
Labels: documentation

#2400 docs: add support document
  deploy/docs/support.md
Labels: documentation, skip-changelog

#2402 Remove xray propagator - missing in the instrumentation img
  deploy/helm/sumologic/templates/opentelemetry-operator/instrumentation-cr.yaml
  tests/helm/opentelemetry_operator_instrumentation_cr/static/instrumentation.output.yaml
Labels: skip-changelog

#2390 chore(tracing): move k8s_tagger to otelagent
  CHANGELOG.md
  deploy/helm/sumologic/templates/traces/otelcol/service.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/opentelemetry_operator_instrumentation_cr/static/instrumentation.output.yaml
  tests/helm/tracing-agent-loadbalancing/static/otelagent-gateway-disabled.output.yaml
  tests/helm/tracing-agent-loadbalancing/static/otelagent-gateway-enabled.output.yaml
  tests/helm/tracing-otelcol/static/collection-monitoring-false.output.yaml
  tests/helm/tracing-otelcol/static/simple.output.yaml
Labels: documentation

#2401 chore(vagrant): add prometheus-adapter to vagrant's makefile
  vagrant/Makefile
  vagrant/k8s/prometheus-adapter.yaml
Labels: skip-changelog

#2379 feat: add experimental OT event collection
  CHANGELOG.md
  deploy/docs/opentelemetry_collector.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/events/fluentd/events.conf
  deploy/helm/sumologic/conf/events/otelcol/config.yaml
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/events/common/service-headless.yaml
  deploy/helm/sumologic/templates/events/common/service.yaml
  deploy/helm/sumologic/templates/events/fluentd/configmap.yaml
  deploy/helm/sumologic/templates/events/fluentd/statefulset.yaml
  deploy/helm/sumologic/templates/events/otelcol/configmap.yaml
  deploy/helm/sumologic/templates/events/otelcol/statefulset.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/events_otc/config.sh
  tests/helm/events_otc/static/basic.input.yaml
  tests/helm/events_otc/static/basic.output.yaml
  tests/helm/events_otc/static/options.input.yaml
  tests/helm/events_otc/static/options.output.yaml
  tests/helm/events_otc/static/override.input.yaml
  tests/helm/events_otc/static/override.output.yaml
  tests/helm/events_otc_statefulset/config.sh
  tests/helm/events_otc_statefulset/static/annotations_labels.input.yaml
  tests/helm/events_otc_statefulset/static/annotations_labels.output.yaml
  tests/helm/events_otc_statefulset/static/basic.input.yaml
  tests/helm/events_otc_statefulset/static/basic.output.yaml
  tests/integration/helm_otelcol_events_test.go
  tests/integration/values/values_helm_otelcol_events.yaml
Labels: documentation, integration-tests

#2405 chore(otel-distro): bump version to 0.54.0
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
Labels: documentation

#2409 Prepare Release v2.11.0
  CHANGELOG.md
  README.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
  tests/helm/events_otc_statefulset/static/annotations_labels.output.yaml
Labels: documentation

#2406 test(integration): add tests for otelcol FIPS images
  tests/integration/helm_otc_fips_metadata_installation_test.go
  tests/integration/values/values_helm_default_ot_fips_metadata.yaml
Labels: integration-tests, skip-changelog

#2410 feat(otellogs): add additional volumes and env configs
  CHANGELOG.md
  deploy/helm/sumologic/templates/logs/collector/otelcol/daemonset.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc_daemonset/static/complex.input.yaml
  tests/helm/logs_otc_daemonset/static/complex.output.yaml
Labels: documentation

#2412 docs: improve formatting
  deploy/docs/SideBySidePrometheus.md
  deploy/docs/existingPrometheusDoc.md
Labels: documentation, skip-changelog

#2414 docs: add information about installation on OpenShift 4.9
  deploy/docs/SideBySidePrometheus.md
  deploy/docs/existingPrometheusDoc.md
Labels: documentation, skip-changelog

#2422 feat(metadata): upgrade otelcol to v0.54.0-sumo-0
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#2364 feat(otellogs/systemd): add support for systemd logs to otellogs
  CHANGELOG.md
  deploy/helm/sumologic/templates/logs/collector/otelcol/daemonset.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc/static/basic.output.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/helm/logs_otc_daemonset/static/complex.output.yaml
  tests/helm/metadata_logs_otc/static/basic.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
  tests/integration/helm_otelcol_logs_test.go
  tests/integration/values/values_helm_otelcol_logs.yaml
  vagrant/values.yaml
Labels: documentation, integration-tests

#2429 chore(otelgw): add possibility to configure replicas
  deploy/helm/sumologic/templates/traces/otel-gateway/deployment.yaml
  deploy/helm/sumologic/values.yaml
Labels: skip-changelog

#2428 Adding toleration and affinity
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/setup/job.yaml
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2434 feat(tracing): add pprof extension to the collectors
  CHANGELOG.md
  deploy/helm/sumologic/templates/traces/otel-agent/daemonset.yaml
  deploy/helm/sumologic/templates/traces/otel-gateway/deployment.yaml
  deploy/helm/sumologic/templates/traces/otelcol/deployment.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/tracing-agent-loadbalancing/static/otelagent-gateway-disabled.output.yaml
  tests/helm/tracing-agent-loadbalancing/static/otelagent-gateway-enabled.output.yaml
  tests/helm/tracing-gateway-loadbalancing/static/otelgateway-true.output.yaml
  tests/helm/tracing-otelcol/static/collection-monitoring-false.output.yaml
  tests/helm/tracing-otelcol/static/simple.output.yaml
Labels: documentation

#2433 feat(priorityclass): add priority class for logs and traces daemonsets
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/logs/collector/otelcol/daemonset.yaml
  deploy/helm/sumologic/templates/priorityclass.yaml
  deploy/helm/sumologic/templates/traces/otel-agent/daemonset.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
Labels: documentation

#2437 feat: prepare relase v2.12.0
  CHANGELOG.md
  README.md
  deploy/docs/release.md
  deploy/helm/sumologic/Chart.yaml
  tests/helm/events_otc_statefulset/static/annotations_labels.output.yaml
Labels: documentation

#2439 docs(changelog): fix
  CHANGELOG.md
Labels: documentation, skip-changelog

#2438 docs(release): update releasing guide
  deploy/docs/release.md
Labels: documentation, skip-changelog

#2443 feat(openshift): add projected volumes to SecurityContextConstraints
  CHANGELOG.md
  deploy/helm/sumologic/templates/scc.yaml
Labels: documentation

#2445 docs: update documentation for side by side installation
  deploy/docs/SideBySidePrometheus.md
Labels: documentation, skip-changelog

#2449 chore: add OpenShift 4.10 to supported platforms
  CHANGELOG.md
  deploy/README.md
Labels: documentation

#2448 docs: bootstrap migration document
  deploy/docs/v3_migration_doc.md
Labels: documentation, skip-changelog

#2450 feat: prepare release v2.13.0
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2451 docs(release): prepare release v2.13.0, change version in README.md
  deploy/README.md
Labels: documentation, skip-changelog

#2455 docs: end support for v2.3
  README.md
Labels: documentation, skip-changelog

#2454 feat: update fluentd to 1.14.6-sumo-5
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2408 docs(vagrant): add istio targets and explanation
  vagrant/Makefile
  vagrant/README.md
  vagrant/k8s/istio-peer-authentication.yaml
  vagrant/k8s/istio-receiver-mock.yaml
  vagrant/k8s/istio-service-monitors.yaml
  vagrant/values.istio.yaml
Labels: documentation, skip-changelog

#2457 fix(tracing): loadbalancing improvements, fix metrics collection
  CHANGELOG.md
  deploy/docs/Installation_with_Helm.md
  deploy/docs/Non_Helm_Installation.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/traces/traces.otelagent.conf.yaml
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/traces/otel-agent/service.yaml
  deploy/helm/sumologic/templates/traces/otel-gateway/service.yaml
  deploy/helm/sumologic/templates/traces/otelcol/service-deprecated.yaml
  deploy/helm/sumologic/templates/traces/otelcol/service-metrics.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/tracing-agent-loadbalancing/static/otelagent-gateway-disabled.output.yaml
  tests/helm/tracing-agent-loadbalancing/static/otelagent-gateway-enabled.output.yaml
Labels: documentation

#2458 Prepare v2.14.0
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation
