Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2022-02, with the labels that each got.

#2057 fix: upgrade Fluentd to 1.14.4-sumo-1
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2062 chore: bump sumologic terraform provider to v2.11.5
  deploy/helm/sumologic/conf/cleanup/cleanup.sh
  deploy/helm/sumologic/conf/setup/main.tf
  deploy/helm/sumologic/conf/setup/setup.sh
  tests/helm/terraform/static/all_fields.output.yaml
  tests/helm/terraform/static/collector_fields.output.yaml
  tests/helm/terraform/static/conditional_sources.output.yaml
  tests/helm/terraform/static/custom.output.yaml
  tests/helm/terraform/static/default.output.yaml
  tests/helm/terraform/static/disable_default_metrics.output.yaml
  tests/helm/terraform/static/strip_extrapolation.output.yaml
  tests/helm/terraform/static/traces.output.yaml
  tests/integration/internal/stepfuncs/helm.go
Labels: integration-tests

#2063 chore: bump setup image to 3.2.1
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2064 chore: bump setup image to 3.2.1
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2068 docs: update version matrix
  deploy/README.md
Labels: documentation

#2067 Prepare v2.4.1
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2070 docs: fix 2.4.1 release date
  CHANGELOG.md
Labels: documentation

#2071 docs: fix changelog
  CHANGELOG.md
Labels: documentation

#2072 test(integration): decrease expected kubelet logs count
  tests/integration/helm_default_installation_test.go
  tests/integration/helm_otc_metadata_installation_test.go
Labels: integration-tests

#2075 docs(readme): add support for AKS 1.22
  CHANGELOG.md
  deploy/README.md
Labels: documentation

#2076 [v2.4.x] docs(readme): add support for AKS 1.22
  CHANGELOG.md
  deploy/README.md
Labels: documentation

#2082 test(integration): disable kube-scheduler metrics
  tests/integration/internal/constants.go
Labels: integration-tests

#2017 feat: add cri support to experimental otelcol log collector
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc/static/basic.output.yaml
  tests/integration/helm_otelcol_logs_test.go
  tests/integration/internal/stepfuncs/assess_funcs.go
  tests/integration/values/values_helm_otelcol_logs.yaml
Labels: documentation, integration-tests

#2083 chore: update setup image to 3.2.2
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2084 fix: disable the metadata pipeline for OTC log collector by default
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/metadata_logs_otc/static/basic.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
  tests/integration/values/values_helm_otelcol_logs.yaml
Labels: documentation, integration-tests

#2085 feat(otelcol/metrics): do not add host to metrics
  deploy/helm/sumologic/values.yaml
  tests/integration/helm_otc_metadata_installation_test.go
Labels: integration-tests

#2086 docs(changelog): update
  CHANGELOG.md
Labels: documentation

#2081 docs(readme): add support for KOPS 1.22
  CHANGELOG.md
  deploy/README.md
Labels: documentation

#2080 docs(readme): add support for KOPS 1.22
  CHANGELOG.md
  deploy/README.md
Labels: documentation

#2088 chore: fix Markdownlint issues
  deploy/docs/Installation_with_Helm.md
  deploy/docs/Non_Helm_Installation.md
  deploy/docs/SideBySidePrometheus.md
  deploy/docs/existingPrometheusDoc.md
  deploy/docs/standAlonePrometheus.md
Labels: documentation

#2073 chore: update Tailing Sidecar to 0.3.2
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2090 ci: run Helm tests independently of Markdown checks
  .github/workflows/pull_requests.yml
Labels: ci

#2093 chore: prepare v2.5.1
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2094 docs(changelog): add v2.5.1
  CHANGELOG.md
Labels: documentation

#2095 docs: update release version in v2.5 docs
  deploy/README.md
Labels: documentation

#2096 docs(best_practices): add section to set custom k8s API server for otc and fluentd
  deploy/docs/Best_Practices.md
Labels: documentation

#2101 docs: small addition around fluentd vs hpa vs data ingestion delay
  deploy/docs/Best_Practices.md
  deploy/docs/monitoring-lag.md
Labels: documentation, backport release-v2.5

#2105 feat: add otelcol's liveness and readiness probes configuration
  CHANGELOG.md
  deploy/helm/sumologic/templates/logs/otelcol/statefulset.yaml
  deploy/helm/sumologic/templates/metrics/otelcol/statefulset.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
Labels: documentation

#2108 chore: add warning for increased cpu limit for Fluentds
  deploy/docs/Best_Practices.md
  deploy/helm/sumologic/values.yaml
Labels: documentation, backport release-v2.5

#2112 docs: improve documentation for parsing logs in containerd format using new parser
  deploy/docs/ContainerLogs.md
  examples/multiline_logs/pod_multiline_single_long_line.yaml
  examples/multiline_logs/values_containerd_new_parser.yaml
Labels: documentation, backport release-v2.5

#2116 docs: fix remoteWriteProxy comment hashing and indentation
  deploy/helm/sumologic/values.yaml
Labels: documentation, backport release-v2.5

#2114 fix: make metadata StatefulSets scale above 0.5 average CPU usage
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation, backport release-v2.5

#2120 docs: add link to ContainerLogs.md in section about mulitline logs in Best Practices
  deploy/docs/Best_Practices.md
Labels: documentation, backport release-v2.5

#2125 docs: add NetworkPolicy examples to security best practices
  deploy/docs/Security_Best_Practices.md
Labels: documentation

#2119 [Backport release-v2.5] fix: make metadata StatefulSets scale above 0.5 average CPU usage
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2127 chore: bump sumo ot distro to 0.0.50-beta.0
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
  tests/integration/helm_default_installation_test.go
  tests/integration/helm_otc_metadata_installation_test.go
  tests/integration/helm_otelcol_logs_test.go
  tests/integration/internal/logsgenerator/logsgenerator.go
  tests/integration/internal/stepfuncs/logs.go
Labels: integration-tests

#2130 docs(changelog): add entry about bump sumo ot distro to 0.0.50-beta.0
  CHANGELOG.md
Labels: documentation

#2128 docs: add fluentd buffers vs DPM calculations info for metrics
  CHANGELOG.md
  deploy/docs/Best_Practices.md
Labels: documentation

#2131 chore: change Fluent Bit image to public.ecr.aws/sumologic/fluent-bit:1.6.10-sumo-1
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation, backport release-v2.5

#2133 docs: update changelog
  CHANGELOG.md
Labels: documentation

#2129 docs(best_practices): add otc queueing and batching
  deploy/docs/Best_Practices.md
  deploy/docs/fluentd_otc_comparison.md
Labels: documentation

#2135 docs(best_practices): add queueing to ToC
  deploy/docs/Best_Practices.md
Labels: documentation

#2132 chore: change Fluent Bit image to public.ecr.aws/sumologic/fluent-bit:1.6.10-sumo-1
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2140 chore: prepare v2.5.2
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2141 docs(changelog): add v2.5.2
  CHANGELOG.md
Labels: documentation

#2134 feat(otelcol/metrics): adjust metric otelcol configuration
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2144 feat(metrics): drop container label for non-container kube state metrics
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2113 [helm] add vaules.yaml for couchbase
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2143 feat(metrics): add remote write configuration for squidproxy
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2149 docs(best_practices): add dimension exclusion for fluentd
  deploy/docs/Best_Practices.md
Labels: documentation

#2151 feat(fluent-bit): drop all capabilities for container
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2153 feat: allow to collect logs from /var/log/pods and add instruction how to do it
  CHANGELOG.md
  deploy/docs/Best_Practices.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/logs/fluentd/logs.kubernetes.metadata.filter.conf
  deploy/helm/sumologic/values.yaml
  vagrant/values.yaml
Labels: documentation

#2156 docs(best_practices): remove k8s_uid for /var/log/pods
  CHANGELOG.md
  deploy/docs/Best_Practices.md
Labels: documentation
