Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2022-11, with the labels that each got.

#2600 fix(cleanup): fix cleanup job
  CHANGELOG.md
  deploy/helm/sumologic/conf/cleanup/cleanup.sh
Labels: documentation

#2599 feat(chart): restrict permissions for setup and cleanup jobs
  CHANGELOG.md
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/cleanup/role.yaml
  deploy/helm/sumologic/templates/cleanup/rolebinding.yaml
  deploy/helm/sumologic/templates/setup/role.yaml
  deploy/helm/sumologic/templates/setup/rolebinding.yaml
Labels: documentation

#2601 docs: roadmap
  README.md
  deploy/docs/roadmap.md
Labels: documentation, skip-changelog

#2603 docs: add 2.18 release as the current version, deprecated 2.17
  README.md
Labels: documentation, skip-changelog

#2612 docs: add information about creation of additional Prometheus instance
  deploy/docs/Troubleshoot_Collection.md
  deploy/docs/additional_prometheus_configuration.md
Labels: documentation, skip-changelog

#2611 feat: add parameter to configure additional Prometheus remote writes
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2613 docs(installation): fix typo
  deploy/docs/Installation_with_Helm.md
Labels: documentation, skip-changelog

#2610 fix(logs): Changing the service name to metadata-logs to be provider independent
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/chart-configmap.yaml
  deploy/helm/sumologic/templates/logs/collector/otelcol/daemonset.yaml
  deploy/helm/sumologic/values.yaml
  examples/multiline_logs/values_containerd.yaml
  examples/multiline_logs/values_containerd_new_parser.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/helm/logs_otc_daemonset/static/complex.output.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
Labels: documentation

#2619 docs: rename user-provided config from values.yaml to user-values.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
  CHANGELOG.md
  deploy/docs/Additional_Fluentd_Plugins.md
  deploy/docs/Best_Practices.md
  deploy/docs/ContainerLogs.md
  deploy/docs/FluentdPersistence.md
  deploy/docs/Installation_with_Helm.md
  deploy/docs/Non_Helm_Installation.md
  deploy/docs/SideBySidePrometheus.md
  deploy/docs/Terraform.md
  deploy/docs/Troubleshoot_Collection.md
  deploy/docs/Working_with_container_registries.md
  deploy/docs/additional_prometheus_configuration.md
  deploy/docs/existingPrometheusDoc.md
  deploy/docs/opentelemetry_collector.md
  deploy/docs/standAlonePrometheus.md
  deploy/docs/v1_conf_examples.md
  deploy/docs/v1_migration_doc.md
  deploy/docs/v2_migration_doc.md
Labels: documentation, ci

#2589 Update branch release v2.18
  CHANGELOG.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
  deploy/helm/sumologic/templates/setup/secret.yaml
Labels: documentation

#2629 docs: fix migration commands to update CRDs
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog

#2615 chore!: remove replacing values in configuration marked by 'replace' suffix
  CHANGELOG.md
  deploy/helm/sumologic/conf/traces/traces.otelagent.conf.yaml
  deploy/helm/sumologic/conf/traces/traces.otelcol.conf.yaml
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/values.yaml
  docs/v3-migration-doc.md
Labels: documentation, breaking-change

#2628 feat: update opentelemetry-operator chart and fix progagators list in instrumentation resource
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
  deploy/helm/sumologic/conf/opentelemetry-operator/instrumentation.cr.yaml
  deploy/helm/sumologic/templates/opentelemetry-operator/job-instrumentation-cr.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/opentelemetry_operator_instrumentation_cr_configmap/static/instrumentation.output.yaml
  tests/helm/opentelemetry_operator_instrumentation_cr_job/static/job.output.yaml
  tests/helm/terraform/static/tracing-metrics-disabled.output.yaml
Labels: documentation

#2630 feat: update opentelemetry-operator chart and fix progagators list in instrumentation resource
  CHANGELOG.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/opentelemetry-operator/instrumentation.cr.yaml
  deploy/helm/sumologic/templates/opentelemetry-operator/job-instrumentation-cr.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/opentelemetry_operator_instrumentation_cr_configmap/static/instrumentation.output.yaml
  tests/helm/opentelemetry_operator_instrumentation_cr_job/static/job.output.yaml
Labels: documentation

#2627 feat(metrics): service name change and switching the metrics default to otelcol
  CHANGELOG.md
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/chart-configmap.yaml
  deploy/helm/sumologic/values.yaml
  docs/v3-migration-doc.md
  tests/helm/events_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
  tests/helm/tracing-otelcol/static/collection-monitoring-false.output.yaml
  tests/helm/tracing-otelcol/static/simple.output.yaml
  tests/integration/helm_traces_enabled_test.go
  tests/integration/values/values_helm_fluentd_metadata.yaml
  tests/integration/values/values_helm_traces_enabled.yaml
Labels: documentation, integration-tests

#2633 docs(readme): preapre release 2.18.2
  CHANGELOG.md
Labels: documentation

#2637 Prepare chart release v2.19.0
  CHANGELOG.md
  README.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2638 docs(readme): update supported releases matrix
  README.md
Labels: documentation, skip-changelog

#2622 feat!: refactor metrics metadata config
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/metrics/otelcol/config.yaml
  deploy/helm/sumologic/templates/metrics/otelcol/configmap.yaml
  deploy/helm/sumologic/values.yaml
  docs/opentelemetry-collector.md
  docs/v3-migration-doc.md
  override.output.yaml
  tests/helm/metadata_metrics_otc/config.sh
  tests/helm/metadata_metrics_otc/static/basic.input.yaml
  tests/helm/metadata_metrics_otc/static/basic.output.yaml
  tests/helm/metadata_metrics_otc/static/merge.input.yaml
  tests/helm/metadata_metrics_otc/static/merge.output.yaml
  tests/helm/metadata_metrics_otc/static/override.input.yaml
  tests/helm/metadata_metrics_otc/static/override.output.yaml
Labels: documentation, breaking-change

#2641 docs: add overview image for v3
  README.md
  images/overview-v3.png
Labels: documentation, skip-changelog

#2525 docs(openshift): add missing parameter for non-helm installation
  deploy/docs/Non_Helm_Installation.md
Labels: documentation

#2643 feat(events)!: add config.merge option
  .gitignore
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/events/otelcol/configmap.yaml
  deploy/helm/sumologic/values.yaml
  docs/opentelemetry-collector.md
  tests/helm/events_otc/static/merge.input.yaml
  tests/helm/events_otc/static/merge.output.yaml
  tests/helm/events_otc/static/override.input.yaml
  tests/helm/events_otc/static/override.output.yaml
  tests/integration/values/values_helm_otelcol_events.yaml
Labels: documentation, integration-tests

#2645 docs: follow up moving docs to /docs
  ci/markdown_table_formatter.sh
  deploy/README.md
  docs/README.md
  docs/existing-prometheus-doc.md
  docs/installation-with-helm.md
  docs/non-helm-installation.md
  docs/release.md
  docs/side-by-side-prometheus.md
  docs/standalone-prometheus.md
  docs/troubleshoot-collection.md
Labels: documentation, skip-changelog

#2646 docs: fix release.md links
  docs/release.md
Labels: documentation

#2642 docs: update summary
  README.md
Labels: documentation, skip-changelog

#2655 docs: remove v1 config examples
  docs/v1-conf-examples.md
Labels: documentation, skip-changelog

#2652 feat(otellogs)!: add config.merge option
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/logs/collector/otelcol/configmap.yaml
  deploy/helm/sumologic/values.yaml
  docs/opentelemetry-collector.md
  tests/helm/logs_otc/static/merge.input.yaml
  tests/helm/logs_otc/static/merge.output.yaml
  tests/integration/values/values_helm_default_otelcol_logs.yaml
  vagrant/opentelemetry-collector.yaml
Labels: documentation, integration-tests

#2648 feat(terraform)!: expect load_config_file to be not set
  CHANGELOG.md
  deploy/helm/sumologic/conf/setup/providers.tf
  docs/v3-migration-doc.md
Labels: documentation

#2650 feat: upgrade fluent-bit chart to 0.21.3
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
  docs/README.md
Labels: documentation

#2649 feat: upgrade node-exporter to v1.4.0
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2657 docs: remove dead links to v1 and v2 docs
  deploy/docs/v1_conf_examples.md
  deploy/docs/v1_migration_doc.md
  deploy/docs/v2_migration_doc.md
  docs/README.md
  docs/best-practices.md
  docs/existing-prometheus-doc.md
  docs/non-helm-installation.md
  docs/side-by-side-prometheus.md
  docs/standalone-prometheus.md
  docs/troubleshoot-collection.md
Labels: documentation, skip-changelog

#2639 feat(logs)!: switch from Fluent Bit to Otelcol as default logs collector
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/integration/helm_fluentbit_containerd_multiline_logs_test.go
  tests/integration/helm_fluentbit_fluentd_test.go
  tests/integration/helm_otc_fips_metadata_installation_test.go
  tests/integration/helm_otc_metadata_installation_test.go
  tests/integration/helm_otelcol_logs_test.go
  tests/integration/helm_traces_enabled_test.go
  tests/integration/values/values_common.yaml
  tests/integration/values/values_helm_default_ot_fips_metadata.yaml
  tests/integration/values/values_helm_default_ot_metadata.yaml
  tests/integration/values/values_helm_fluentbit_containerd_multiline_logs.yaml
  tests/integration/values/values_helm_fluentbit_fluentd.yaml
  tests/integration/values/values_helm_opentelemetry_operator_enabled.yaml
  tests/integration/values/values_helm_traces_enabled.yaml
Labels: documentation, integration-tests

#2662 docs: fix entry about sumologic.metrics.enabled key in values.yaml
  deploy/helm/sumologic/README.md
Labels: documentation, skip-changelog

#2640 feat(events)!: switch from Fluentd to Otelcol as default events collector
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/events/static/apiServerUrl.input.yaml
  tests/helm/events/static/apiServerUrl_null.input.yaml
  tests/helm/events/static/customSourceCategory.input.yaml
  tests/helm/events/static/default.input.yaml
  tests/helm/events/static/watchResourceEventsOverrides.input.yaml
  tests/helm/events/static/watchResourceEventsOverrides_apiServerUrl.input.yaml
  tests/integration/helm_otc_fips_metadata_installation_test.go
  tests/integration/helm_otc_metadata_installation_test.go
  tests/integration/values/values_common.yaml
  tests/integration/values/values_helm_fluentbit_fluentd.yaml
Labels: documentation, integration-tests

#2661 chore!: upgrade tailing-sidecar-operator to v0.5.5
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
  docs/v3-migration-doc.md
Labels: documentation

#2660 chore!: upgrade metrics-server to v6.2.4
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
  docs/v3-migration-doc.md
Labels: documentation

#2659 chore!: upgrade falco to 2.4.2
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
  deploy/helm/sumologic/values.yaml
  docs/best-practices.md
  docs/troubleshoot-collection.md
  docs/v3-migration-doc.md
Labels: documentation

#2651 chore: upgrade kube-prometheus-stack to 42.1.0
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
  docs/v3-migration-doc.md
Labels: documentation

#2664 fix: fix configuration for metrics-server
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2653 fix(setup): add permission to modify secrets
  CHANGELOG.md
  deploy/helm/sumologic/templates/setup/role.yaml
Labels: documentation, backport release-v2

#2154 feat: enable metrics/traces collection from instrumentation by default
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/opentelemetry_operator_instrumentation_cr_configmap/static/instrumentation.input.yaml
  tests/helm/opentelemetry_operator_instrumentation_cr_job/static/job.input.yaml
  tests/helm/otelcol-instrumentation-config/static/traces-gateway-disabled.input.yaml
  tests/helm/otelcol-instrumentation-config/static/traces-gateway-enabled.input.yaml
  tests/helm/otelcol-instrumentation-statefulset/static/otelcol-instrumentation-statefulset.input.yaml
  tests/helm/terraform/static/all_fields.output.yaml
  tests/helm/terraform/static/collector_fields.output.yaml
  tests/helm/terraform/static/default.output.yaml
  tests/helm/terraform/static/disable_default_metrics.output.yaml
  tests/helm/terraform/static/disabled_dashboards.output.yaml
  tests/helm/terraform/static/disabled_monitors.output.yaml
  tests/helm/terraform/static/monitors_with_email_notifications.output.yaml
  tests/helm/terraform/static/monitors_with_single_email.output.yaml
  tests/helm/terraform/static/strip_extrapolation.output.yaml
  tests/helm/terraform/static/tracing-metrics-disabled.output.yaml
  tests/helm/traces-gateway-loadbalancing/static/traces-gateway-true.input.yaml
  tests/helm/traces-sampler/static/simple.input.yaml
  tests/integration/helm_fluentbit_containerd_multiline_logs_test.go
  tests/integration/helm_fluentbit_fluentd_test.go
  tests/integration/helm_opentelemetry_operator_enabled_test.go
  tests/integration/helm_otc_fips_metadata_installation_test.go
  tests/integration/helm_otc_metadata_installation_test.go
  tests/integration/helm_traces_enabled_test.go
  tests/integration/internal/stepfuncs/assess_funcs.go
  tests/integration/values/values_helm_default_otelcol_logs.yaml
  tests/integration/values/values_helm_opentelemetry_operator_enabled.yaml
  tests/integration/values/values_helm_otelcol_events.yaml
  tests/integration/values/values_helm_traces_enabled.yaml
Labels: documentation, breaking-change, priority:high, integration-tests
