Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2023-11, with the labels that each got.

#3373 fix(instrumentation): replace tools image with kubectl
  .changelog/3373.fixed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/opentelemetry-operator/job-instrumentation-cr.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/opentelemetry_operator_instrumentation_cr_job/job.output.yaml
Labels: documentation, backport release-v3

#3376 [Backport v3] fix(instrumentation): replace tools image with kubectl
  .changelog/3373.fixed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/opentelemetry-operator/job-instrumentation-cr.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/opentelemetry_operator_instrumentation_cr_job/job.output.yaml
Labels: documentation

#3375 chore: upgrade nginx image to 1.25.2-alpine-sumo-1
  .changelog/3375.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/remote_write_proxy/basic.output.yaml
Labels: documentation, backport release-v3

#3377 [Backport v3] chore: upgrade nginx image to 1.25.2-alpine-sumo-1
  .changelog/3375.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/remote_write_proxy/basic.output.yaml
Labels: documentation

#3374 Add new service account for the otel cloudwatch collector statefulset
  .changelog/3374.added.txt
  deploy/helm/sumologic/templates/_helpers/_logs.tpl
  deploy/helm/sumologic/templates/logs/collector/otelcol-cloudwatch/serviceaccount.yaml
  deploy/helm/sumologic/templates/logs/collector/otelcol-cloudwatch/statefulset.yaml
Labels: backport release-v3

#3378 chore: prepare v3.17.0 release
  .changelog/3342.changed.txt
  .changelog/3348.fixed.txt
  .changelog/3367.fixed.txt
  .changelog/3373.fixed.txt
  .changelog/3374.added.txt
  .changelog/3375.changed.txt
  CHANGELOG.md
  README.md
Labels: documentation, skip-changelog, backport main

#3379 ci: add dependency-checker command
  .gitignore
  Makefile
  ci/check_dependencies/.gitignore
  ci/check_dependencies/README.md
  ci/check_dependencies/aks.py
  ci/check_dependencies/common.py
  ci/check_dependencies/eks.py
  ci/check_dependencies/gke.py
  ci/check_dependencies/helm_charts.py
  ci/check_dependencies/kops.py
  ci/check_dependencies/kubernetes_collection.py
  ci/check_dependencies/main.py
  ci/check_dependencies/openshift.py
  ci/check_dependencies/requirements.txt
  shell.nix
Labels: documentation, skip-changelog

#3386 chore: update tools
  .github/workflows/pull_requests.yml
  shell.nix
Labels: ci, skip-changelog

#3390 chore(dependency_checker): ignore kube-prometheus-stack
  ci/check_dependencies/helm_charts.py
Labels: skip-changelog

#3389 chore(dependency_checker): only inform about missing versions
  ci/check_dependencies/common.py
  ci/check_dependencies/kops.py
  ci/check_dependencies/main.py
Labels: skip-changelog

#3398 Revert "chore: drop support for GKE 1.24"
  .changelog/3387.changed.2.txt
  docs/README.md
Labels: documentation, skip-changelog

#3399 chore: add quiet mode to dependency_checker
  Makefile
  ci/check_dependencies/aks.py
  ci/check_dependencies/common.py
  ci/check_dependencies/eks.py
  ci/check_dependencies/gke.py
  ci/check_dependencies/helm_charts.py
  ci/check_dependencies/kops.py
  ci/check_dependencies/main.py
  ci/check_dependencies/openshift.py
Labels: skip-changelog

#3383 ci: check for dependencies on a schedule
  .github/workflows/check_dependencies.yaml
  ci/check_dependencies/issue_header.md
Labels: documentation, ci, skip-changelog

#3400 feat(metrics): add setting affinity for metrics collector
  .changelog/3400.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/metrics/collector/otelcol/opentelemetrycollector.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.input.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
Labels: documentation

#3401 docs: remove mentions to otelcol metrics as experimental
  deploy/helm/sumologic/README.md
  docs/best-practices.md
Labels: documentation, skip-changelog

#3402 ci: create a JIRA issue for dependency updates
  .github/workflows/check_dependencies.yaml
Labels: ci, skip-changelog

#3371 chore: upgrade otel to 0.88.0-sumo-0
  .changelog/3368.breaking.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/best-practices.md
  docs/collecting-container-logs.md
  docs/security-best-practices.md
  docs/v4-migration-doc.md
  docs/working-with-container-registries.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
  tests/integration/internal/constants.go
Labels: documentation, integration-tests, skip-changelog

#3406 ci(check-dependencies): use GKE Rapid channel
  ci/check_dependencies/gke.py
Labels: skip-changelog

#3409 chore: clean up some references to Fluent Bit and Fluentd
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/logs/common/service-headless.yaml
  deploy/helm/sumologic/templates/logs/common/service.yaml
  deploy/helm/sumologic/templates/logs/otelcol/statefulset.yaml
  docs/README.md
  docs/collecting-systemd-logs.md
  docs/installing-behind-proxy.md
  docs/security-best-practices.md
  docs/working-with-container-registries.md
  examples/kube_prometheus_stack/values-prometheus.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/custom.output.yaml
  tests/helm/testdata/goldenfile/services_with_service_monitor_labels/services_with_service_monitor_labels/default.output.yaml
  tests/integration/internal/constants.go
  vagrant/README.md
  vagrant/scripts/yq/avalanche-remote-write.yaml
Labels: documentation, integration-tests, skip-changelog

#3408 chore: upgrade subcharts
  .changelog/3408.changed.1.txt
  .changelog/3408.changed.2.txt
  .changelog/3408.changed.3.txt
  .changelog/3408.changed.4.txt
  .changelog/3408.changed.5.txt
  .changelog/3408.changed.txt
  deploy/helm/sumologic/Chart.yaml
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  docs/README.md
  tests/helm/testdata/goldenfile/metrics-server/basic.input.yaml
  tests/helm/testdata/goldenfile/metrics-server/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
Labels: documentation

#3414 chore: upgrade otel to 0.89.0-sumo-2
  .changelog/3414.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/best-practices.md
  docs/collecting-container-logs.md
  docs/security-best-practices.md
  docs/v4-migration-doc.md
  docs/working-with-container-registries.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
Labels: documentation

#3419 chore: prepare 4.2.0 release
  .changelog/3368.breaking.txt
  .changelog/3387.changed.0.txt
  .changelog/3387.changed.1.txt
  .changelog/3387.changed.3.txt
  .changelog/3387.changed.4.txt
  .changelog/3387.changed.5.txt
  .changelog/3387.changed.6.txt
  .changelog/3387.changed.7.txt
  .changelog/3387.changed.8.txt
  .changelog/3391.changed.txt
  .changelog/3392.changed.txt
  .changelog/3393.changed.txt
  .changelog/3394.changed.txt
  .changelog/3400.added.txt
  .changelog/3403.added.txt
  .changelog/3404.changed.txt
  .changelog/3405.changed.txt
  .changelog/3411.fixed.txt
  .changelog/3412.fixed.txt
  .changelog/3414.changed.txt
  .changelog/3415.changed.txt
  .changelog/3416.changed.txt
  .changelog/3417.changed.txt
  .changelog/3418.changed.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#3420 Create a Jira task, when github issue is created
  .github/workflows/create-jira-task.yml
Labels: ci, github_actions, skip-changelog
