Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2023-01, with the labels that each got.

#2741 chore(vagrant): fix provision
  vagrant/provision.sh
Labels: skip-changelog

#2739 docs: document missing configuration
  ci/check_configuration_keys.py
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/logs/fluentd/logs.source.containers.conf
  deploy/helm/sumologic/values.yaml
  docs/best-practices.md
  tests/helm/metadata_logs_fluentd/static/default_v2.output.yaml
  tests/helm/metadata_logs_fluentd/static/templates.output.yaml
Labels: documentation, skip-changelog

#2742 chore: prepare release v3.0.0-beta.1
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
  docs/README.md
Labels: documentation

#2724 feat: add metadata.metrics.config.extraProcessors
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/metrics/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  docs/best-practices.md
  docs/collecting-application-metrics.md
  docs/v3-migration-doc.md
  tests/helm/metrics_test.go
  tests/helm/testdata/opentelemetry-metrics-extra-processors.yaml
  tests/helm/utils.go
Labels: documentation

#2745 chore: upgrade Fluentd to v1.15.3-sumo-0
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2746 chore(configuration-check): fail in case of any issue
  ci/check_configuration_keys.py
Labels: skip-changelog

#2747 chore: upgrade Fluentd to v1.15.3-sumo-0
  CHANGELOG.md
  deploy/README.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2727 docs(collecting-application-metrics): add prometheus investigation sections
  docs/collecting-application-metrics.md
  images/metrics/prometheus-query.png
  images/metrics/prometheus-targets-error.png
  images/metrics/prometheus-targets-ok.png
  images/metrics/prometheus-ui.png
Labels: documentation, skip-changelog

#2524 docs(troubleshooting): add advanced prometheus investigation
  docs/troubleshoot-collection.md
Labels: documentation

#2744 feat: adjust average utilization for metadata autoscaling
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/best-practices.md
  docs/monitoring-lag.md
Labels: documentation

#2750 feat: add otellogs.additionalDaemonSets configuration
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/logs/collector/otelcol/daemonset.yaml
  deploy/helm/sumologic/values.yaml
  docs/best-practices.md
  docs/troubleshoot-collection.md
  tests/helm/goldenfile_test.go
  tests/helm/logs_otc_daemonset/static/additional.input.yaml
  tests/helm/logs_otc_daemonset/static/additional.output.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/helm/logs_otc_daemonset/static/complex.output.yaml
Labels: documentation

#2755 chore: upgrade otelcol to 0.68.0-sumo-0
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/security-best-practices.md
  tests/helm/events_otc_statefulset/static/annotations_labels.output.yaml
  tests/helm/events_otc_statefulset/static/basic.output.yaml
  tests/helm/logs_otc_daemonset/static/additional.output.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/helm/logs_otc_daemonset/static/complex.output.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
  tests/helm/otelcol-instrumentation-statefulset/static/otelcol-instrumentation-statefulset.output.yaml
  tests/integration/values/values_helm_default_ot_fips_metadata.yaml
Labels: documentation, integration-tests

#2752 docs(best-practices): update section on `fullnameOverride`
  docs/best-practices.md
Labels: documentation, skip-changelog

#2756 chore: remove support for AKS 1.22
  CHANGELOG.md
  docs/README.md
Labels: documentation

#2757 chore: remove support for AKS 1.22
  CHANGELOG.md
  deploy/README.md
Labels: documentation

#2758 docs: fix docs on storageClass "-"
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/fluent/fluentd-persistence.md
Labels: documentation, skip-changelog

#2759 docs: fix docs on Fluentd storageClass
  deploy/docs/FluentdPersistence.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/upgrade_v2_script/static/fluentd_whole_config.input.yaml
Labels: documentation, skip-changelog

#2760 docs(best-practices): describe persistence for Otelcol
  docs/best-practices.md
Labels: documentation, skip-changelog

#2765 docs(best-practices): update Table of Contents
  docs/best-practices.md
Labels: documentation

#2766 feat(logs): add daemonset and statefulset to default fields
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/terraform/static/all_fields.output.yaml
  tests/helm/terraform/static/collector_fields.output.yaml
  tests/helm/terraform/static/conditional_sources.output.yaml
  tests/helm/terraform/static/custom.output.yaml
  tests/helm/terraform/static/default.output.yaml
  tests/helm/terraform/static/disable_default_metrics.output.yaml
  tests/helm/terraform/static/disabled_dashboards.output.yaml
  tests/helm/terraform/static/disabled_monitors.output.yaml
  tests/helm/terraform/static/monitors_with_email_notifications.output.yaml
  tests/helm/terraform/static/monitors_with_single_email.output.yaml
  tests/helm/terraform/static/strip_extrapolation.output.yaml
  tests/helm/terraform/static/traces.output.yaml
  tests/helm/terraform/static/tracing-metrics-disabled.output.yaml
Labels: documentation

#2718 docs: update solution overview
  docs/README.md
  images/events.png
  images/k8s-metrics3.png
  images/k8s_collection_diagram.png
  images/logs.png
  images/metrics.png
  images/src/events.drawio.xml
  images/src/logs.drawio.xml
  images/src/metrics.drawio.xml
Labels: documentation, skip-changelog

#2754 feat: collect metrics from otelcol event collector
  CHANGELOG.md
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/events/otelcol/statefulset.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/events_otc_statefulset/static/annotations_labels.output.yaml
  tests/helm/events_otc_statefulset/static/basic.output.yaml
  tests/helm/kube-prometheus-stack/servicemonitors/basic-sumo.output.yaml
  tests/helm/prometheus_test.go
Labels: documentation

#2768 docs: falco supports arm64 🎉
  docs/README.md
Labels: documentation

#2775 docs: update readme, set v2.8, v2.9 and v2.10 as unsupported due to date
  README.md
Labels: documentation, skip-changelog

#2774 docs(collecting-kubernetes-metrics): document how to get custom kubernetes metrics
  docs/collecting-kubernetes-metrics.md
Labels: documentation, skip-changelog

#2772 fix(logs): make `excludeHostRegex` consistent between Otelcol and Fluentd
  CHANGELOG.md
  deploy/helm/sumologic/values.yaml
  tests/helm/metadata_logs_otc/static/basic.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
Labels: documentation

#2776 docs: update readme, set v2.7, v2.8, v2.9 and v2.10 as unsupported due to date
  README.md
Labels: documentation, skip-changelog

#2778 chore: fix local markdown link check script
  ci/markdown_link_check.sh
Labels: skip-changelog

#2779 docs: remove non-existent link
  deploy/docs/additional_prometheus_configuration.md
  docs/fluent/best-practices.md
Labels: documentation, skip-changelog

#2777 docs(best-practices): fix typo
  docs/fluent/best-practices.md
Labels: documentation, skip-changelog

#2783 chore(docs): update brew commands for vagrant instalation
  vagrant/README.md
Labels: documentation, skip-changelog

#2780 feat(metrics): move `metadata.metrics.config.extraProcessors` to `sumologic.metrics.otelcol.extraProcessors`
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/metrics/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  docs/best-practices.md
  docs/collecting-application-metrics.md
  docs/v3-migration-doc.md
  tests/helm/testdata/opentelemetry-metrics-extra-processors.yaml
Labels: documentation

#2785 chore: upgrade kubernetes-setup to v3.5.0
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/setup/basic.output.yaml
Labels: documentation

#2791 chore: upgrade otelcol to 0.69.0-sumo-0
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/security-best-practices.md
  tests/helm/events_otc_statefulset/static/annotations_labels.output.yaml
  tests/helm/events_otc_statefulset/static/basic.output.yaml
  tests/helm/logs_otc_daemonset/static/additional.output.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/helm/logs_otc_daemonset/static/complex.output.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
  tests/helm/otelcol-instrumentation-statefulset/static/otelcol-instrumentation-statefulset.output.yaml
  tests/integration/values/values_helm_default_ot_fips_metadata.yaml
Labels: documentation, integration-tests

#2784 docs: gather all prometheus installation scenarios in one document
  docs/prometheus.md
Labels: documentation, skip-changelog

#2782 docs: add configuration migration to the migration guide
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog

#2773 feat(logs): parse JSON logs
  CHANGELOG.md
  deploy/helm/sumologic/conf/logs/otelcol/config.yaml
  tests/helm/metadata_logs_otc/static/otel.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
Labels: documentation

#2790 feat(logs): add `sumologic.logs.container.otelcol.extraProcessors`
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/logs/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  docs/best-practices.md
  docs/collecting-container-logs.md
  tests/helm/logs_test.go
Labels: documentation

#2792 docs: refactor the v3 upgrade guide
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog

#2799 ci: add `git config user.email`
  ci/_build_functions.sh
Labels: skip-changelog

#2797 docs(logs): add section on adding fields
  docs/best-practices.md
  docs/collecting-container-logs.md
Labels: documentation, skip-changelog

#2805 fix(logs): correctly handle newlines
  CHANGELOG.md
  deploy/helm/sumologic/conf/logs/collector/otelcol/config.yaml
  tests/helm/logs_otc/static/basic.output.yaml
Labels: documentation

#2801 fix(logs): make built-in metadata consistent between fluentd and otel
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/logs/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  docs/collecting-container-logs.md
  tests/helm/metadata_logs_otc/static/otel.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
  tests/integration/helm_fluentbit_fluentd_test.go
  tests/integration/helm_ot_default_test.go
  tests/integration/helm_ot_fluentbit_logs_test.go
  tests/integration/helm_otc_fips_metadata_installation_test.go
  tests/integration/internal/constants.go
Labels: documentation, integration-tests

#2794 feat(logs): add format setting
  CHANGELOG.md
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/logs/fluentd/logs.kubernetes.sumologic.filter.conf
  deploy/helm/sumologic/conf/logs/fluentd/logs.output.conf
  deploy/helm/sumologic/conf/logs/otelcol/config.yaml
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/values.yaml
  docs/collecting-container-logs.md
  docs/fluent/fluentd-otc-comparison.md
  docs/v3-migration-doc.md
  tests/helm/logs_test.go
  tests/helm/metadata_logs_otc/static/otel.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
Labels: documentation

#2804 docs(migrate-v3): use migration tool directly
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog

#2807 chore: drop EKS 1.20 support (EOL since Nov 2022)
  docs/README.md
Labels: documentation

#2808 fix(docs): add missing changelog entry for EKS 1.20 support removal
  CHANGELOG.md
Labels: documentation

#2806 chore: upgrade yq to 4.30.8
  .github/workflows/pull_requests.yml
  ci/shellcheck.sh
  vagrant/Makefile
  vagrant/provision.sh
  vagrant/scripts/yq/avalanche-remote-write.yaml
  vagrant/scripts/yq/update_remote_write_for_avalanche.yaml
Labels: ci, skip-changelog

#2811 feat(logs): allow setting daemonset labels and annotations
  CHANGELOG.md
  deploy/helm/sumologic/templates/logs/collector/otelcol/daemonset.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc_daemonset/static/complex.input.yaml
  tests/helm/logs_otc_daemonset/static/complex.output.yaml
Labels: documentation

#2816 docs(v3-migration): add missing `--namespace` to `helm get values`
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog

#2817 docs(v3-migration): upgrade migration tool to v2.17.0
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog

#2787 docs: backport #2781 to branch release-v2
  deploy/docs/support.md
Labels: documentation, skip-changelog

#2820 docs(readme): fix link to v3.0
  README.md
Labels: documentation, skip-changelog

#2821 docs(events): fix default events provider
  docs/collecting-kubernetes-events.md
Labels: documentation, skip-changelog

#2812 chore: update PR template
  .github/pull_request_template.md
Labels: ci, skip-changelog

#2826 docs(troublehooting): minor changes to prometheus snippets
  docs/troubleshoot-collection.md
Labels: documentation, skip-changelog

#2830 docs(troubleshooting): move installation troubleshooting to installation document
  docs/installation.md
  docs/troubleshoot-collection.md
Labels: documentation, skip-changelog

#2831 chore: add support for EKS 1.24
  CHANGELOG.md
  docs/README.md
Labels: documentation

#2833 chore: backport support for EKS and GKE 1.24 to v3.0
  docs/README.md
Labels: documentation, skip-changelog

#2834 docs: bump min required K8s version to 1.21+
  docs/README.md
Labels: documentation, skip-changelog, backport release-v3.0

#2836 docs(v3-migration): upgrade migration tool to v2.18.0
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog

#2838 feat(tracing): bold information about changes
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog

#2837 docs(v3-migration-doc): add instruction for logs collector migration without data loss
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog
