Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2023-12, with the labels that each got.

#3423 feat: add description including helm version to collector
  .changelog/3423.added.txt
  deploy/helm/sumologic/conf/setup/resources.tf
  tests/helm/testdata/goldenfile/terraform/all_fields.output.yaml
  tests/helm/testdata/goldenfile/terraform/collector_fields.output.yaml
  tests/helm/testdata/goldenfile/terraform/conditional_sources.output.yaml
  tests/helm/testdata/goldenfile/terraform/custom.output.yaml
  tests/helm/testdata/goldenfile/terraform/default.output.yaml
  tests/helm/testdata/goldenfile/terraform/disable_default_metrics.output.yaml
  tests/helm/testdata/goldenfile/terraform/disabled_dashboards.output.yaml
  tests/helm/testdata/goldenfile/terraform/disabled_monitors.output.yaml
  tests/helm/testdata/goldenfile/terraform/logs_fields.output.yaml
  tests/helm/testdata/goldenfile/terraform/monitors_with_email_notifications.output.yaml
  tests/helm/testdata/goldenfile/terraform/monitors_with_single_email.output.yaml
  tests/helm/testdata/goldenfile/terraform/strip_extrapolation.output.yaml
  tests/helm/testdata/goldenfile/terraform/traces.output.yaml
  tests/helm/testdata/goldenfile/terraform/tracing-metrics-disabled.output.yaml
Labels: backport release-v3

#3424 Add link from main readme to installation docs
  README.md
Labels: documentation, skip-changelog

#3429 ci: add integration test success job
  .github/workflows/pull_requests.yml
Labels: skip-changelog

#3435 docs: add link to telegraf operator config docs
  deploy/helm/sumologic/README.md
Labels: skip-changelog

#3442 chore: prepare release v4.3.0
  .changelog/3423.added.txt
  .changelog/3427.added.txt
  .changelog/3428.fixed.txt
  .changelog/3434.fixed.txt
  .changelog/3438.changed.txt
  .changelog/3441.changed.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: skip-changelog

#3440 chore: update OpenTelemetry Collector to v0.90.1-sumo-0
  .changelog/3439.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/best-practices.md
  docs/collecting-container-logs.md
  docs/security-best-practices.md
  docs/working-with-container-registries.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
  tests/integration/internal/constants.go
Labels: documentation, integration-tests

#3448 chore: fix dependabot path for tests
  .github/dependabot.yml
Labels: skip-changelog

#3446 chore: prepare release v3.18.0
  .changelog/3408.changed.1.txt
  .changelog/3408.changed.2.txt
  .changelog/3408.changed.3.txt
  .changelog/3408.changed.4.txt
  .changelog/3408.changed.5.txt
  .changelog/3408.changed.txt
  .changelog/3425.added.txt
  .changelog/3436.fixed.txt
  .changelog/3439.changed.txt
  .changelog/3443.changed.txt
  .changelog/3444.changed.txt
  .changelog/3445.changed.txt
  CHANGELOG.md
  README.md
Labels: documentation, backport main

#3447 fix(metrics): use targetallocator serviceaccount created by the operator
  .changelog/3447.fixed.txt
  deploy/helm/sumologic/templates/metrics/collector/otelcol/opentelemetrycollector.yaml
  deploy/helm/sumologic/templates/metrics/collector/otelcol/targetallocator-serviceaccount.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
Labels: backport release-v4.3

#3450 chore: update changelog according to v3 releases
  CHANGELOG.md
  README.md
Labels: skip-changelog

#3458 docs: update version of used components
  docs/README.md
Labels: skip-changelog

#3461 chore(vagrant): remove fluent related configuration
  vagrant/values.yaml
Labels: skip-changelog

#3410 docs: add more detailed information about filtering ingested data
  docs/best-practices.md
  docs/collecting-application-metrics.md
  docs/collecting-container-logs.md
  docs/collecting-systemd-logs.md
  docs/filtering.md
Labels: skip-changelog

#3465 Correcting the typo in collecting-kubernetes-events.md
  docs/collecting-kubernetes-events.md
Labels: skip-changelog
