Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2023-07, with the labels that each got.

#3121 feat(metrics/collector): allow disabling cadvisor and kubelet metrics
  .changelog/3121.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.input.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
Labels: documentation

#3130 feat(metrics): collect full etcd histogram metrics
  .changelog/3130.added.txt
  deploy/helm/sumologic/values.yaml
  tests/integration/internal/constants.go
Labels: integration-tests

#3125 chore: upgrade opentelemetry-operator chart to 0.33.0
  .changelog/3125.changed.txt
  deploy/helm/sumologic/Chart.yaml
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  deploy/helm/sumologic/conf/opentelemetry-operator/instrumentation.cr.yaml
  deploy/helm/sumologic/values.yaml
  docs/README.md
  tests/helm/goldenfile_test.go
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/opentelemetry_operator_instrumentation_cr_configmap/instrumentation.output.yaml
Labels: documentation

#3134 docs: add instruction for using newer Kube Prometheus Stack
  docs/best-practices.md
Labels: documentation, skip-changelog

#3135 chore: prepare 3.10.0 release
  .changelog/3040.added.txt
  .changelog/3082.added.txt
  .changelog/3084.added.txt
  .changelog/3085.changed.txt
  .changelog/3086.fixed.txt
  .changelog/3087.changed.txt
  .changelog/3092.changed.txt
  .changelog/3093.added.txt
  .changelog/3094.added.txt
  .changelog/3096.added.txt
  .changelog/3099.fixed.txt
  .changelog/3103.changed.txt
  .changelog/3104.added.0.txt
  .changelog/3104.added.1.txt
  .changelog/3109.fixed.txt
  .changelog/3110.changed.txt
  .changelog/3111.changed.txt
  .changelog/3117.changed.txt
  .changelog/3118.changed.txt
  .changelog/3119.added.txt
  .changelog/3121.added.txt
  .changelog/3122.changed.txt
  .changelog/3125.changed.txt
  .changelog/3126.changed.txt
  .changelog/3129.changed.txt
  .changelog/3130.added.txt
  .changelog/3131.changed.txt
  .changelog/3133.added.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#3136 chore: add support for EKS (fargate) 1.27
  .changelog/3136.changed.txt
  docs/README.md
Labels: documentation

#3137 docs: improvements in documentation
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/opentelemetry-collector.md
  docs/prometheus.md
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog

#3139 chore: upgrade otel to 0.81.0-sumo-0
  .changelog/3139.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/logs/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/best-practices.md
  docs/security-best-practices.md
  docs/working-with-container-registries.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc/otel.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc/templates.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
  tests/integration/internal/constants.go
Labels: documentation, integration-tests

#3142 chore(chart): update fluent-bit to 2.1.6
  .changelog/3142.changed.txt
  deploy/helm/sumologic/Chart.yaml
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
Labels: documentation

#3148 chore: add support for GKE 1.27
  .changelog/3148.changed.txt
  docs/README.md
Labels: documentation

#3147 docs: add example configuration to change sending_queue
  docs/best-practices.md
  docs/monitoring-lag.md
Labels: documentation, skip-changelog

#3145 chore(chart): update tailing sidecar operator to 0.8.0
  .changelog/3145.changed.txt
  deploy/helm/sumologic/Chart.yaml
  docs/README.md
  tests/integration/features.go
  tests/integration/helm_tailing_sidecar_test.go
  tests/integration/internal/constants.go
  tests/integration/values/values_helm_tailing_sidecar.yaml
  tests/integration/yamls/tailing-sidecar-test.yaml
Labels: documentation, integration-tests

#3140 docs(prometheus): Added a section on prometheus sharding
  .changelog/3140.added.txt
  docs/prometheus.md
  docs/troubleshoot-collection.md
Labels: documentation

#3156 chore: use zstd compression for internal otlp data
  .changelog/3156.changed.txt
  deploy/helm/sumologic/conf/logs/collector/otelcloudwatch/config.yaml
  deploy/helm/sumologic/conf/logs/collector/otelcol/config.yaml
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  docs/best-practices.md
  tests/helm/testdata/goldenfile/logs_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc/options.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-config/traces-gateway-disabled.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-config/traces-gateway-enabled.output.yaml
Labels: documentation

#3160 feat(metrics): disable default Prometheus rules
  .changelog/3160.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/integration/internal/constants.go
Labels: documentation, integration-tests

#3159 feat: add hpa for tracing
  .changelog/3159.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/_helpers/_traces.tpl
  deploy/helm/sumologic/templates/instrumentation/otelcol-instrumentation/hpa.yaml
  deploy/helm/sumologic/templates/instrumentation/otelcol-instrumentation/statefulset.yaml
  deploy/helm/sumologic/templates/instrumentation/traces-gateway/deployment.yaml
  deploy/helm/sumologic/templates/instrumentation/traces-gateway/hpa.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-hpa/basic.input.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-hpa/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-hpa/basic.input.yaml
  tests/helm/testdata/goldenfile/traces-gateway-hpa/basic.output.yaml
Labels: documentation

#3162 feat(metrics/collector): collect metrics from annotated Pods
  .changelog/3162.added.txt
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/integration/helm_ot_metrics_test.go
  tests/integration/internal/constants.go
  tests/integration/yamls/receiver-mock.yaml
Labels: integration-tests

#3165 chore: update fluentd image to 1.16.2-sumo-0
  .changelog/3165.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#3169 chore: stop supporting helm v2
  README.md
Labels: documentation, skip-changelog

#3171 fix(metrics): don't forward duplicate metrics from annotated Pods
  .changelog/3171.fixed.txt
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  deploy/helm/sumologic/conf/metrics/otelcol/processors.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/additional_endpoints.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/integration/features.go
  tests/integration/helm_fluentbit_fluentd_test.go
  tests/integration/helm_ot_default_test.go
  tests/integration/helm_ot_metrics_test.go
  tests/integration/internal/constants.go
  tests/integration/internal/k8s/pods.go
  tests/integration/internal/stepfuncs/assess_funcs.go
  tests/integration/values/values_common.yaml
  tests/integration/values/values_helm_default_ot.yaml
  tests/integration/values/values_helm_fluentbit_fluentd.yaml
  tests/integration/values/values_helm_ot_metrics.yaml
  tests/integration/yamls/nginx.yaml
Labels: integration-tests

#3173 chore: prepare release 3.11.0
  .changelog/3136.changed.txt
  .changelog/3139.changed.txt
  .changelog/3140.added.txt
  .changelog/3141.fixed.txt
  .changelog/3142.changed.txt
  .changelog/3143.changed.txt
  .changelog/3145.changed.txt
  .changelog/3146.changed.txt
  .changelog/3148.changed.txt
  .changelog/3149.changed.txt
  .changelog/3155.fixed.txt
  .changelog/3156.changed.txt
  .changelog/3157.changed.txt
  .changelog/3159.changed.txt
  .changelog/3160.changed.txt
  .changelog/3161.changed.txt
  .changelog/3162.added.txt
  .changelog/3165.changed.txt
  .changelog/3166.changed.txt
  .changelog/3170.fixed.txt
  .changelog/3171.fixed.txt
  .changelog/3172.fixed.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog
