Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2023-09, with the labels that each got.

#3238 chore:prepare 3.14.0 release
  .changelog/3229.added.txt
  .changelog/3234.added.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#3240 docs: add links to metrics configuration
  docs/README.md
Labels: documentation, skip-changelog

#3241 chore: fix doc links in yaml files
  deploy/helm/sumologic/values.yaml
  docs/fluent/best-practices.md
  examples/multiline_logs/values_containerd.yaml
  examples/multiline_logs/values_containerd_new_parser.yaml
  tests/integration/values/values_helm_fluentbit_containerd_multiline_logs.yaml
Labels: documentation, integration-tests, skip-changelog

#3236 Add example with changing send_batch_size in batch processor in best-practices.md doc
  docs/best-practices.md
Labels: documentation, skip-changelog

#3246 docs: mark v2.19 as unsupported
  README.md
  deploy/docs/v1_migration_doc.md
  tests/integration/README.md
Labels: documentation, integration-tests, skip-changelog

#2949 feat(metrics): add ability to use OTLP source
  .changelog/2949.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/metrics/otelcol/exporters.yaml
  deploy/helm/sumologic/conf/metrics/otelcol/pipeline.yaml
  deploy/helm/sumologic/conf/metrics/otelcol/processors.yaml
  deploy/helm/sumologic/templates/_helpers/_metrics.tpl
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/otlp-source.md
  tests/helm/metrics_test.go
  tests/helm/testdata/goldenfile/metadata_metrics_otc/custom.input.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/custom.input.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/custom.output.yaml
  tests/helm/testdata/goldenfile/terraform/all_fields.output.yaml
  tests/helm/testdata/goldenfile/terraform/collector_fields.output.yaml
  tests/helm/testdata/goldenfile/terraform/default.output.yaml
  tests/helm/testdata/goldenfile/terraform/disable_default_metrics.output.yaml
  tests/helm/testdata/goldenfile/terraform/disabled_dashboards.output.yaml
  tests/helm/testdata/goldenfile/terraform/disabled_monitors.output.yaml
  tests/helm/testdata/goldenfile/terraform/monitors_with_email_notifications.output.yaml
  tests/helm/testdata/goldenfile/terraform/monitors_with_single_email.output.yaml
  tests/helm/testdata/goldenfile/terraform/strip_extrapolation.output.yaml
  tests/helm/testdata/goldenfile/terraform/tracing-metrics-disabled.output.yaml
  tests/integration/helm_fluentbit_fluentd_test.go
  tests/integration/helm_ot_default_namespaceoverride_test.go
  tests/integration/helm_ot_default_test.go
  tests/integration/helm_ot_metrics_test.go
  tests/integration/helm_otc_fips_metadata_installation_test.go
  tests/integration/helm_otlp_test.go
  tests/integration/values/values_helm_otlp.yaml
Labels: documentation, integration-tests

#3249 chore: upgrade otel to 0.84.0-sumo-0
  .changelog/3249.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/security-best-practices.md
  docs/working-with-container-registries.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
Labels: documentation

#3250 test(integration): ignore flaky metric
  tests/integration/internal/constants.go
Labels: integration-tests, skip-changelog

#3252 chore: upgrade nginx image to 1.25.2-alpine
  .changelog/3252.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/remote_write_proxy/basic.output.yaml
Labels: documentation

#3253 docs: fix typo in filtering metrics
  docs/collecting-application-metrics.md
Labels: documentation, skip-changelog

#3027 docs: add instruction to remove unwanted attributes from systemd logs
  docs/best-practices.md
Labels: documentation, skip-changelog

#3256 docs: add EOL dates for unsupported versions
  README.md
Labels: documentation, skip-changelog

#3257 chore(helm/tests): bump defaultK8sVersion to 1.26
  tests/helm/const.go
  tests/helm/testdata/goldenfile/logs_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/multiple_multiline.output.yaml
Labels: skip-changelog

#3251 feat: add extraProcessor for kubelet and systemd
  .changelog/3251.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/logs/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/collecting-container-logs.md
  docs/collecting-systemd-logs.md
  tests/helm/testdata/goldenfile/metadata_logs_otc/templates.input.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc/templates.output.yaml
Labels: documentation

#3255 chore: update setup image to v3.10.0
  .changelog/3255.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/setup/setup/basic.output.yaml
Labels: documentation

#3263 docs: add link to "Switching from Prometheus" to main README
  docs/README.md
Labels: documentation, skip-changelog

#3264 Revert "docs: add link to "Switching from Prometheus" to main README"
  docs/README.md
Labels: documentation, skip-changelog

#3262 chore: upgrade otel to 0.85.0-sumo-0
  .changelog/3249.changed.txt
  .changelog/3262.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/security-best-practices.md
  docs/working-with-container-registries.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
Labels: documentation, backport release-v3

#3261 Remove prometheus from images in documentation
  README.md
  images/metrics.png
  images/overview-v3.png
  images/overview-v4.png
  images/overview.png
  images/src/metrics.drawio.xml
Labels: documentation, skip-changelog

#3275 docs(release): add link to v3 release guide
  docs/release.md
Labels: documentation, skip-changelog

#3276 Prepare release 3.15
  .changelog/2949.added.txt
  .changelog/3227.fixed.txt
  .changelog/3231.fixed.txt
  .changelog/3251.added.txt
  .changelog/3252.changed.txt
  .changelog/3255.changed.txt
  .changelog/3262.changed.txt
  .changelog/3267.fixed.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#3277 Prepare release 3.15 (#3276)
  .changelog/2949.added.txt
  .changelog/3227.fixed.txt
  .changelog/3231.fixed.txt
  .changelog/3251.added.txt
  .changelog/3252.changed.txt
  .changelog/3255.changed.txt
  .changelog/3262.changed.txt
  .changelog/3267.fixed.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#3248 feat!: truncate fullname after 22 characters
  .changelog/3248.breaking.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/NOTES.txt
  deploy/helm/sumologic/templates/_helpers/_common.tpl
  docs/v4-migration-doc.md
  tests/helm/common_test.go
  tests/helm/const.go
  tests/helm/testdata/everything-enabled.yaml
  tests/integration/internal/strings/strings.go
Labels: documentation, breaking-change, integration-tests

#3279 docs: disable remote write proxy for otel metrics collector
  docs/opentelemetry-collector/metrics.md
  tests/integration/values/values_helm_ot_metrics.yaml
Labels: skip-changelog, backport release-v3

#3286 feat(logs): add `sumologic.logs.additionalFields` property
  .changelog/3286.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/setup/fields.tf
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/terraform/logs_fields.input.yaml
  tests/helm/testdata/goldenfile/terraform/logs_fields.output.yaml
Labels: documentation, backport release-v3

#3281 fix(logs)!: move JSON parsing after user-defined processors
  .changelog/3281.fixed.txt
  deploy/helm/sumologic/conf/logs/otelcol/config.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc/templates.output.yaml
Labels: backport release-v3

#3287 feat(logs): add `sumologic.logs.additionalFields` property
  .changelog/3286.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/setup/fields.tf
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/terraform/logs_fields.input.yaml
  tests/helm/testdata/goldenfile/terraform/logs_fields.output.yaml
Labels: documentation

#3289 fix(metrics): decompose OTLP histograms
  .changelog/3289.fixed.txt
  deploy/helm/sumologic/conf/metrics/otelcol/exporters.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/additional_endpoints.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/filtered_app_metrics.output.yaml
Labels: backport release-v3

#3292 feat(metrics): add additionalServiceMonitors option
  .changelog/3292.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/metrics/prometheus/servicemonitors.yaml
  deploy/helm/sumologic/values.yaml
  docs/collecting-application-metrics.md
  tests/helm/metrics_test.go
Labels: documentation, backport release-v3

#3295 fix(metrics)!: drop k8s.node.name attribute
  .changelog/3295.fixed.txt
  deploy/helm/sumologic/conf/metrics/otelcol/processors.yaml
  docs/v4-migration-doc.md
  tests/helm/testdata/goldenfile/metadata_metrics_otc/additional_endpoints.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/filtered_app_metrics.output.yaml
  tests/integration/features.go
Labels: documentation, breaking-change, integration-tests

#3278 Update releasing guide for v3
  docs/release.md
Labels: documentation, skip-changelog

#3296 chore(metrics): route based on job attributes
  deploy/helm/sumologic/conf/metrics/otelcol/config.yaml
  deploy/helm/sumologic/conf/metrics/otelcol/pipeline.yaml
  deploy/helm/sumologic/conf/metrics/otelcol/processors.yaml
  tests/helm/metrics_test.go
  tests/helm/testdata/goldenfile/metadata_metrics_otc/additional_endpoints.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/filtered_app_metrics.output.yaml
Labels: skip-changelog

#3298 docs: consider the otel metrics collector stable
  docs/opentelemetry-collector/metrics.md
Labels: documentation, skip-changelog, backport release-v3

#3299 docs: update remote write usage
  docs/collecting-application-metrics.md
  docs/collecting-kubernetes-metrics.md
  docs/prometheus.md
  docs/troubleshoot-collection.md
Labels: documentation, skip-changelog

#3297 feat!: use OTLP sources by default
  .changelog/3297.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/otlp-source.md
  docs/v4-migration-doc.md
  tests/helm/logs_test.go
  tests/helm/metrics_test.go
  tests/helm/testdata/goldenfile/events_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc/options.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/custom.input.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/custom.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc/otel.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc/templates.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/custom.input.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/custom.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/additional_endpoints.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/custom.input.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/filtered_app_metrics.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/custom.input.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/custom.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/custom.input.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/custom.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/custom.input.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/custom.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler/simple.output.yaml
  tests/integration/helm_http_source_test.go
  tests/integration/values/values_common.yaml
  tests/integration/values/values_helm_http_source.yaml
  tests/integration/values/values_helm_otlp.yaml
Labels: documentation, integration-tests

#3303 docs: update v4 migration doc
  docs/v4-migration-doc.md
Labels: documentation, skip-changelog

#3306 feat!(metrics): move extra processors after sumologic_schema
  .changelog/3306.changed.txt
  deploy/helm/sumologic/conf/metrics/otelcol/pipeline.yaml
  docs/v4-migration-doc.md
  tests/helm/metrics_test.go
  tests/helm/testdata/goldenfile/metadata_metrics_otc/additional_endpoints.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/filtered_app_metrics.output.yaml
Labels: documentation

#3307 chore: prepare release v.4.0.0-rc.0
  .changelog/3211.changed.txt
  .changelog/3232.changed.txt
  .changelog/3244.breaking.txt
  .changelog/3248.breaking.txt
  .changelog/3281.fixed.txt
  .changelog/3284.breaking.txt
  .changelog/3286.added.txt
  .changelog/3289.fixed.txt
  .changelog/3292.added.txt
  .changelog/3295.fixed.txt
  .changelog/3297.changed.txt
  .changelog/3306.changed.txt
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#3304 docs: fix v4 migration doc formatting
  docs/v4-migration-doc.md
Labels: documentation, skip-changelog

#3312 docs: add information about lowering ingest
  docs/best-practices.md
Labels: documentation, skip-changelog
