Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2023-04, with the labels that each got.

#2963 docs(fargate.md): init
  docs/fargate.md
  examples/fargate/install-metrics.sh
Labels: documentation, skip-changelog

#2974 docs(example) remove thanos
  examples/kube_prometheus_stack/values-prometheus.yaml
Labels: skip-changelog

#2977 chore: add make target for updating OTC version
  CONTRIBUTING.md
  Makefile
  ci/update-otc.sh
Labels: documentation, skip-changelog

#2985 chore: upgrade tools
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  shell.nix
  tests/helm/go.mod
  tests/integration/go.mod
  vagrant/provision.sh
Labels: ci, integration-tests, skip-changelog

#2983 feat: rename public.ecr.aws/sumologic/kubectl to public.ecr.aws/sumologic/kubernetes-tools-kubectl
  .changelog/2983.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/pvc-cleaner/pvc-cleaner.sh
  deploy/helm/sumologic/values.yaml
Labels: documentation

#2987 test(integration): fix opentelemetry-operator dependency
  tests/integration/go.mod
  tests/integration/go.sum
Labels: integration-tests, skip-changelog

#2991 chore: prepare v3.5.0
  .changelog/2958.fixed.txt
  .changelog/2962.fixed.txt
  .changelog/2968.changed.txt
  .changelog/2970.changed.txt
  .changelog/2971.changed.txt
  .changelog/2973.changed.txt
  .changelog/2983.changed.txt
  .changelog/2984.fixed.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#2990 docs: add otc performance doc for reference
  docs/performance.md
Labels: documentation, skip-changelog

#2997 docs(fargate): mark fargate support as experimental
  docs/fargate.md
Labels: documentation, skip-changelog

#2996 docs(best-practices): fix snippet for scraping additional logs from node
  docs/best-practices.md
Labels: documentation, skip-changelog

#2998 fix(ci): fail workflow when pushing helm chart fails
  ci/_build_functions.sh
Labels: skip-changelog

#2999 docs(support matrix): update otelcol version to 0.73.0
  docs/README.md
Labels: documentation, skip-changelog

#2969 chore: update support matrix
  .changelog/2969.changed.txt
  deploy/helm/sumologic/templates/logs/common/hpa.yaml
  deploy/helm/sumologic/templates/logs/fluentd/hpa.yaml
  deploy/helm/sumologic/templates/metrics/common/hpa.yaml
  deploy/helm/sumologic/templates/metrics/fluentd/hpa.yaml
  docs/README.md
  tests/integration/kind_images.json
Labels: documentation, integration-tests

#2982 Otel statefulset cloudwatch collector
  .changelog/2982.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/logs/collector/otelcloudwatch/config.yaml
  deploy/helm/sumologic/conf/logs/otelcol/config.yaml
  deploy/helm/sumologic/templates/_helpers/_logs.tpl
  deploy/helm/sumologic/templates/logs/collector/otelcol-cloudwatch/configmap.yaml
  deploy/helm/sumologic/templates/logs/collector/otelcol-cloudwatch/statefulset.yaml
  deploy/helm/sumologic/templates/logs/collector/otelcol/serviceaccount.yaml
  deploy/helm/sumologic/values.yaml
  docs/fargate.md
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.input.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
Labels: documentation

#3000 chore: update setup image to 3.8.0
  .changelog/3000.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/setup/setup/basic.output.yaml
Labels: documentation

#3006 Update troubleshoot-collection.md
  docs/fluent/troubleshoot-collection.md
Labels: documentation, skip-changelog

#3010 docs(fargate): Documenting persistence for logs and events
  docs/fargate.md
Labels: documentation, skip-changelog
