Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2023-06, with the labels that each got.

#3075 chore: upgrade Fluent Bit to 2.1.4
  .changelog/3075.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
Labels: documentation

#3076 feat(chart): Allow passing extra args to otel logs stateful set
  .changelog/3076.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/logs/otelcol/statefulset.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/custom.input.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/custom.output.yaml
Labels: documentation

#3080 test(helm): load rendered templates into k8s objects
  tests/go.mod
  tests/go.sum
  tests/helm/common_test.go
  tests/helm/testdata/everything-enabled.yaml
  tests/helm/utils.go
Labels: skip-changelog

#3081 chore: drop support for k8s 1.22
  .changelog/3081.changed.txt
  docs/README.md
  tests/helm/const.go
  tests/integration/kind_images.json
  tests/integration/values/values_common.yaml
  vagrant/provision.sh
Labels: documentation, integration-tests

#3083 chore: prepare 3.9.0 release
  .changelog/3050.added.txt
  .changelog/3063.fixed.txt
  .changelog/3068.changed.txt
  .changelog/3070.fixed.txt
  .changelog/3071.breaking.txt
  .changelog/3075.changed.txt
  .changelog/3076.changed.txt
  .changelog/3078.changed.txt
  .changelog/3081.changed.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
  tests/helm/testdata/goldenfile/setup/setup/basic.output.yaml
Labels: documentation, skip-changelog

#3086 fix(metrics): upgrade kube-state-metrics to 2.7.0
  .changelog/3086.fixed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#3088 chore: remove reference comments from otel config
  deploy/helm/sumologic/conf/events/otelcol/config.yaml
  deploy/helm/sumologic/conf/logs/collector/otelcloudwatch/config.yaml
  deploy/helm/sumologic/conf/logs/collector/otelcol/config.yaml
  deploy/helm/sumologic/conf/logs/otelcol/config.yaml
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  deploy/helm/sumologic/conf/metrics/otelcol/config.yaml
  deploy/helm/sumologic/conf/metrics/otelcol/exporters.yaml
  deploy/helm/sumologic/conf/metrics/otelcol/processors.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
Labels: skip-changelog

#3084 feat: add serviceMonitor for metrics collector
  .changelog/3084.added.txt
  deploy/helm/sumologic/templates/metrics/collector/otelcol/opentelemetrycollector.yaml
  deploy/helm/sumologic/templates/metrics/prometheus/servicemonitors.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/prometheus_test.go
  tests/helm/testdata/goldenfile/kube-prometheus-stack/servicemonitors/basic-sumo.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/integration/helm_ot_metrics_test.go
Labels: integration-tests

#3095 Fixing issues for pushing dev build
  ci/_build_functions.sh
Labels: skip-changelog

#3096 feat(metrics): add selectors for Prometheus CRs to otel metrics collector
  .changelog/3096.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/metrics/collector/otelcol/opentelemetrycollector.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.input.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
Labels: documentation

#3092 feat(helm): add missing opentelemetry operator helm configuration
  .changelog/3092.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/metrics/collector/otelcol/opentelemetrycollector.yaml
  deploy/helm/sumologic/values.yaml
  docs/best-practices.md
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.input.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
Labels: documentation

#3101 ci: fix test names for dev builds
  .github/workflows/dev_builds.yml
Labels: ci, skip-changelog

#3094 feat(traces): add ability to use OTLP source
  .changelog/3094.added.txt
  deploy/helm/sumologic/values.yaml
  docs/otlp-source.md
  tests/helm/testdata/goldenfile/terraform/all_fields.output.yaml
  tests/helm/testdata/goldenfile/terraform/collector_fields.output.yaml
  tests/helm/testdata/goldenfile/terraform/default.output.yaml
  tests/helm/testdata/goldenfile/terraform/disable_default_metrics.output.yaml
  tests/helm/testdata/goldenfile/terraform/disabled_dashboards.output.yaml
  tests/helm/testdata/goldenfile/terraform/disabled_monitors.output.yaml
  tests/helm/testdata/goldenfile/terraform/monitors_with_email_notifications.output.yaml
  tests/helm/testdata/goldenfile/terraform/monitors_with_single_email.output.yaml
  tests/helm/testdata/goldenfile/terraform/strip_extrapolation.output.yaml
  tests/helm/testdata/goldenfile/terraform/traces.output.yaml
  tests/helm/testdata/goldenfile/terraform/tracing-metrics-disabled.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
  tests/integration/helm_opentelemetry_operator_enabled_test.go
  tests/integration/helm_ot_default_namespaceoverride_test.go
  tests/integration/helm_ot_default_test.go
  tests/integration/helm_otc_fips_metadata_installation_test.go
  tests/integration/helm_otlp_test.go
  tests/integration/values/values_common.yaml
  tests/integration/values/values_helm_otlp.yaml
Labels: documentation, integration-tests

#3098 chore: Upgrade kubernetes setup to v3.9.0
  .changelog/3098.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/goldenfile_test.go
  tests/helm/testdata/goldenfile/setup/setup/basic.output.yaml
Labels: documentation, integration-tests

#3102 chore: update default k8s version to 1.27 in integration tests
  tests/integration/kind_images.json
Labels: integration-tests, skip-changelog

#3104 Add support for OpenShift 4.13 and EKS 1.27
  .changelog/3104.added.0.txt
  .changelog/3104.added.1.txt
  docs/README.md
Labels: documentation

#3109 fix(metrics-server): add double dashes to extra arguments
  .changelog/3109.fixed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metric-server/basic.input.yaml
  tests/helm/testdata/goldenfile/metric-server/basic.output.yaml
Labels: documentation

#3106 fix: only add OTLP source env variables if they're enabled
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/_helpers/_common.tpl
  deploy/helm/sumologic/values.yaml
  docs/otlp-source.md
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/custom.input.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/custom.input.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/custom.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/custom.input.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/custom.output.yaml
  tests/integration/values/values_helm_otlp.yaml
Labels: documentation, integration-tests, skip-changelog

#3108 Backport CVE fixes
  .changelog/3098.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/goldenfile_test.go
  tests/helm/testdata/goldenfile/setup/setup/basic.output.yaml
Labels: documentation

#3112 chore: prepare release v3.9.1
  .changelog/3098.changed.txt
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#3113 docs: update version in README.md
  docs/README.md
Labels: documentation

#3119 feat(metrics): set securityContext for metrics collector
  .changelog/3119.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/metrics/collector/otelcol/opentelemetrycollector.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
Labels: documentation

#3123 chore: prepare release v3.9.1
  .changelog/3098.changed.txt
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#3122 feat(metrics): split metadata extraction from otel collector
  .changelog/3122.changed.txt
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  deploy/helm/sumologic/conf/metrics/otelcol/config.yaml
  deploy/helm/sumologic/conf/metrics/otelcol/pipeline.yaml
  deploy/helm/sumologic/templates/metrics/collector/otelcol/opentelemetrycollector.yaml
  deploy/helm/sumologic/templates/metrics/common/service-headless.yaml
  deploy/helm/sumologic/templates/metrics/common/service.yaml
  deploy/helm/sumologic/templates/metrics/otelcol/configmap.yaml
  deploy/helm/sumologic/templates/metrics/otelcol/statefulset.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/additional_endpoints.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/custom.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/services_with_service_monitor_labels/services_with_service_monitor_labels/default.output.yaml
  tests/integration/features.go
  tests/integration/helm_ot_metrics_test.go
Labels: integration-tests

#3093 feat(events): add ability to use OTLP source
  .changelog/3093.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/events/otelcol/config.yaml
  deploy/helm/sumologic/templates/_helpers/_events.tpl
  deploy/helm/sumologic/values.yaml
  docs/otlp-source.md
  tests/helm/events_test.go
  tests/helm/testdata/goldenfile/events_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc/options.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/custom.input.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/custom.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/metric-server/basic.output.yaml
  tests/helm/testdata/goldenfile/terraform/all_fields.output.yaml
  tests/helm/testdata/goldenfile/terraform/collector_fields.output.yaml
  tests/helm/testdata/goldenfile/terraform/default.output.yaml
  tests/helm/testdata/goldenfile/terraform/disable_default_metrics.output.yaml
  tests/helm/testdata/goldenfile/terraform/disabled_dashboards.output.yaml
  tests/helm/testdata/goldenfile/terraform/disabled_monitors.output.yaml
  tests/helm/testdata/goldenfile/terraform/monitors_with_email_notifications.output.yaml
  tests/helm/testdata/goldenfile/terraform/monitors_with_single_email.output.yaml
  tests/helm/testdata/goldenfile/terraform/strip_extrapolation.output.yaml
  tests/helm/testdata/goldenfile/terraform/tracing-metrics-disabled.output.yaml
  tests/integration/helm_fluentbit_fluentd_test.go
  tests/integration/helm_ot_default_namespaceoverride_test.go
  tests/integration/helm_ot_default_test.go
  tests/integration/helm_otc_fips_metadata_installation_test.go
  tests/integration/helm_otlp_test.go
  tests/integration/values/values_helm_otlp.yaml
Labels: documentation, integration-tests

#3118 feat: fix service monitors for node-exporter and kube-state-metrics
  .changelog/3118.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/collecting-kubernetes-metrics.md
Labels: documentation
