Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2023-02, with the labels that each got.

#2842 docs(troubleshoot): add solution for dns issue in otellogs
  docs/security-best-practices.md
  docs/troubleshoot-collection.md
Labels: documentation, skip-changelog

#2845 fix(logs): use less greedy json regexp
  deploy/helm/sumologic/conf/logs/otelcol/config.yaml
  tests/helm/metadata_logs_otc/static/otel.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
Labels: skip-changelog

#2846 chore: upgrade shellcheck to 0.9.0
  .github/workflows/pull_requests.yml
  ci/_build_functions.sh
  ci/markdown_links_lint.sh
  ci/push-helm-chart.sh
  ci/shellcheck.sh
  deploy/helm/sumologic/conf/cleanup/cleanup.sh
  deploy/helm/sumologic/conf/setup/custom.sh
  deploy/helm/sumologic/conf/setup/dashboards.sh
  deploy/helm/sumologic/conf/setup/setup.sh
  tests/helm/README.md
  tests/helm/goldenfile_test.go
  tests/helm/terraform/static/all_fields.output.yaml
  tests/helm/terraform/static/collector_fields.output.yaml
  tests/helm/terraform/static/conditional_sources.output.yaml
  tests/helm/terraform/static/custom.output.yaml
  tests/helm/terraform/static/default.output.yaml
  tests/helm/terraform/static/disable_default_metrics.output.yaml
  tests/helm/terraform/static/disabled_dashboards.output.yaml
  tests/helm/terraform/static/disabled_monitors.output.yaml
  tests/helm/terraform/static/monitors_with_email_notifications.output.yaml
  tests/helm/terraform/static/monitors_with_single_email.output.yaml
  tests/helm/terraform/static/strip_extrapolation.output.yaml
  tests/helm/terraform/static/traces.output.yaml
  tests/helm/terraform/static/tracing-metrics-disabled.output.yaml
  tests/integration/create-image-archive.sh
  vagrant/forwarding/forward-dashboard.sh
  vagrant/forwarding/forward-prometheus.sh
  vagrant/provision.sh
  vagrant/scripts/get-dashboard-token.sh
  vagrant/scripts/get-kubeconfig.sh
  vagrant/scripts/perf-test.sh
  vagrant/scripts/sumo-make-completion.sh
Labels: documentation, ci, integration-tests, skip-changelog

#2849 fix(build): Helm Chart push script
  ci/push-helm-chart.sh
Labels: skip-changelog

#2840 fix(ci): update markdown_links_lint.sh
  ci/markdown_links_lint.sh
Labels: skip-changelog

#2828 chore: use prettier for formatting and linting Markdown
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
  .github/workflows/pull_requests.yml
  .markdown_link_check.json
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Makefile
  README.md
  ROADMAP.md
  ci/markdown_table_formatter.sh
  deploy/helm/sumologic/README.md
  docs/README.md
  docs/best-practices.md
  docs/collecting-application-metrics.md
  docs/collecting-container-logs.md
  docs/collecting-kubernetes-events.md
  docs/collecting-kubernetes-metrics.md
  docs/dev.md
  docs/fluent/additional-fluentd-plugins.md
  docs/fluent/best-practices.md
  docs/fluent/container-logs.md
  docs/fluent/fluentd-otc-comparison.md
  docs/fluent/fluentd-persistence.md
  docs/fluent/performance.md
  docs/fluent/troubleshoot-collection.md
  docs/fluentbit-otc-comparison.md
  docs/installation.md
  docs/installing-behind-proxy.md
  docs/kube-prometheus.md
  docs/monitoring-lag.md
  docs/opentelemetry-collector.md
  docs/prometheus.md
  docs/scraped-metrics.md
  docs/security-best-practices.md
  docs/support.md
  docs/terraform.md
  docs/troubleshoot-collection.md
  docs/v3-migration-doc.md
  docs/working-with-container-registries.md
  tests/helm/README.md
  tests/integration/README.md
  vagrant/README.md
Labels: documentation, ci, integration-tests, skip-changelog

#2847 chore: upgrade golangci-lint to v1.51.0
  .github/workflows/pull_requests.yml
  Makefile
  tests/helm/Makefile
  tests/integration/Makefile
Labels: ci, integration-tests, skip-changelog

#2853 fix(logs): fix excluding logs by container, namespace, node, pod regex
  CHANGELOG.md
  deploy/helm/sumologic/conf/logs/otelcol/config.yaml
  tests/helm/metadata_logs_otc/static/otel.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
Labels: documentation

#2852 fix(logs): fix excluding logs by container, namespace, node, pod
  CHANGELOG.md
  deploy/helm/sumologic/conf/logs/otelcol/config.yaml
  tests/helm/metadata_logs_otc/static/otel.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
Labels: documentation

#2856 docs(changelog): add missing release dates
  CHANGELOG.md
Labels: documentation, skip-changelog

#2858 chore(changelog): add missing PR link for excluding log fix
  CHANGELOG.md
Labels: documentation

#2859 docs(changelog): add v3.0.1 release
  CHANGELOG.md
Labels: documentation, skip-changelog

#2860 chore: prepare release 3.1.0
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2863 fix(logs): fix metadata for pods with more than one container
  CHANGELOG.md
  deploy/helm/sumologic/conf/logs/otelcol/config.yaml
  tests/helm/metadata_logs_otc/static/otel.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
Labels: documentation

#2867 fix(logs): fix metadata for pods with more than one container
  CHANGELOG.md
  deploy/helm/sumologic/conf/logs/otelcol/config.yaml
  tests/helm/metadata_logs_otc/static/otel.output.yaml
  tests/helm/metadata_logs_otc/static/templates.output.yaml
Labels: documentation

#2864 chore(dev): recommend prettier vscode extension
  .vscode/extensions.json
Labels: skip-changelog

#2869 chore: prepare release v3.1.1
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#2871 ci(changelog): fix changelog check
  .github/workflows/changelog.yaml
Labels: ci, skip-changelog

#2872 chore: upgrade otelcol to 0.71.0-sumo-0
  .changelog/2872.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/security-best-practices.md
  tests/helm/events_otc_statefulset/static/annotations_labels.output.yaml
  tests/helm/events_otc_statefulset/static/basic.output.yaml
  tests/helm/logs_otc_daemonset/static/additional.output.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/helm/logs_otc_daemonset/static/complex.output.yaml
  tests/helm/metadata_logs_otc_statefulset/static/basic.output.yaml
  tests/helm/metadata_metrics_otc_statefulset/static/basic.output.yaml
  tests/helm/otelcol-instrumentation-statefulset/static/otelcol-instrumentation-statefulset.output.yaml
  tests/integration/values/values_helm_default_ot_fips_metadata.yaml
Labels: documentation, integration-tests

#2874 docs: extract example configuration to a separate file
  docs/README.md
  docs/configuration-examples.md
  docs/installation.md
Labels: documentation, skip-changelog

#2876 ci: prune dev Helm Chart releases
  ci/_build_functions.sh
  ci/push-helm-chart.sh
Labels: skip-changelog

#2878 ci: fix dev Helm Chart release pruning
  ci/_build_functions.sh
Labels: skip-changelog

#2881 docs(changelog): add v3.1.1 release
  .changelog/2863.fixed.txt
  .changelog/2866.fixed.txt
  CHANGELOG.md
Labels: documentation, skip-changelog

#2875 feat(instrumentation): scrape label added and updated
  .changelog/2875.fixed.txt
  CHANGELOG.md
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/instrumentation/otelcol-instrumentation/service-otelagent.yaml
Labels: documentation

#2883 chore: prepare release v3.2.0
  .changelog/2870.changed.txt
  .changelog/2872.changed.txt
  .changelog/2873.changed.txt
  .changelog/2875.fixed.txt
  .changelog/2882.changed.txt
  .changelog/changelog_template.jinja
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#2884 docs: remove remaining mentions of otel beta
  docs/README.md
  docs/opentelemetry-collector.md
Labels: documentation, skip-changelog, backport release-v3.0, backport release-v3.2, backport release-v3.1

#2887 [Backport release-v3.0] docs: remove remaining mentions of otel beta
  docs/README.md
  docs/opentelemetry-collector.md
Labels: documentation, skip-changelog

#2891 docs(support): remove tools template example
  docs/support.md
Labels: documentation, skip-changelog

#2893 fix(busybox): do not use latest tag img
  .changelog/2893.fixed.txt
  deploy/helm/sumologic/templates/logs/collector/otelcol/daemonset.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_otc_daemonset/static/additional.output.yaml
  tests/helm/logs_otc_daemonset/static/basic.output.yaml
  tests/helm/logs_otc_daemonset/static/complex.output.yaml
  tests/integration/yamls/multiline-logs-generator.yaml
Labels: integration-tests

#2895 fix(vagrant): fix provision.sh and completion script
  vagrant/provision.sh
  vagrant/scripts/sumo-make-completion.sh
Labels: skip-changelog

#2892 feat(servicemonitor): fix instrumentation scraping, add tests
  .changelog/2892.fixed.txt
  deploy/helm/sumologic/values.yaml
  tests/helm/kube-prometheus-stack/servicemonitors/basic-sumo.output.yaml
  tests/helm/services_with_service_monitor_labels/default.input.yaml
  tests/helm/services_with_service_monitor_labels/default.output.yaml
  tests/helm/services_with_service_monitor_labels/fluentd.input.yaml
  tests/helm/services_with_service_monitor_labels/fluentd.output.yaml
  tests/integration/helm_fluentbit_fluentd_test.go
  tests/integration/internal/constants.go
Labels: integration-tests
