Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2023-10, with the labels that each got.

#3274 docs(release): update release guide link
  deploy/docs/release.md
Labels: documentation, skip-changelog

#3313 docs: document json format
  docs/collecting-container-logs.md
Labels: documentation, skip-changelog

#3305 docs: recreating recording rules via Sumo queries
  deploy/helm/sumologic/values.yaml
  docs/scraped-metrics.md
  docs/v4-migration-doc.md
Labels: documentation, skip-changelog

#3294 fix: fix opentelemetry-operator.manager.env value
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
Labels: documentation, skip-changelog

#3314 feat(metrics): allow overriding metrics collector configuration
  .changelog/3314.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/metrics/collector/otelcol/opentelemetrycollector.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.input.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
Labels: documentation, backport release-v3

#3319 chore: update setup job to `v3.11.0`
  .changelog/3319.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/setup/setup/basic.output.yaml
Labels: documentation

#3318 fix(metrics): drop stale datapoints
  .changelog/3318.fixed.txt
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
Labels: backport release-v3

#3320 chore: update setup job to `v3.11.0`
  .changelog/3320.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/setup/setup/basic.output.yaml
Labels: documentation

#3322 feat(metrics): collect node_memory_MemAvailable_bytes
  .changelog/3322.added.txt
  deploy/helm/sumologic/values.yaml
  docs/scraped-metrics.md
  docs/v4-migration-doc.md
  tests/integration/internal/constants.go
Labels: documentation, integration-tests

#3323 fix(metrics): kube-state-metrics pod metadata
  .changelog/3323.fixed.txt
  deploy/helm/sumologic/values.yaml
  tests/integration/features.go
Labels: integration-tests, backport release-v3

#3328 docs: upgrading the Kubernetes app for v4
  docs/v4-migration-doc.md
Labels: documentation, skip-changelog

#3327 docs: refactor installation guide
  docs/installation.md
  images/helm_chart_installed.png
  images/sumo_k8s_dashboard.png
Labels: documentation, skip-changelog

#3333 chore: upgrade otel to 0.87.0-sumo-0
  .changelog/3333.changed.txt
  ci/update-otc.sh
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/best-practices.md
  docs/collecting-container-logs.md
  docs/security-best-practices.md
  docs/v4-migration-doc.md
  docs/working-with-container-registries.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
Labels: documentation

#3334 chore: upgrade otel to 0.87.0-sumo-0
  .changelog/3334.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/best-practices.md
  docs/collecting-container-logs.md
  docs/security-best-practices.md
  docs/working-with-container-registries.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
Labels: documentation

#3335 [Backport of #3334]chore: upgrade otel to 0.87.0-sumo-0
  .changelog/3334.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/best-practices.md
  docs/collecting-container-logs.md
  docs/security-best-practices.md
  docs/working-with-container-registries.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
Labels: documentation

#3336 chore: prepare release 3.16.1
  .changelog/3334.changed.txt
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#3337 chore: update changelog
  .changelog/3334.changed.txt
  CHANGELOG.md
Labels: documentation

#3338 chore: update changelog
  .changelog/3333.changed.txt
  CHANGELOG.md
Labels: documentation, skip-changelog

#3332 chore: add support for k8s 1.27 with KOPS
  .changelog/3332.added.txt
  docs/README.md
Labels: documentation

#3339 chore: drop support for Helm Chart v3.3 and v3.4
  README.md
Labels: documentation, skip-changelog

#3329 feat!: Enable autoscaling by default
  .changelog/3329.breaking.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/_helpers/_common.tpl
  deploy/helm/sumologic/templates/_helpers/_logs.tpl
  deploy/helm/sumologic/templates/_helpers/_metrics.tpl
  deploy/helm/sumologic/templates/_helpers/_traces.tpl
  deploy/helm/sumologic/templates/instrumentation/otelcol-instrumentation/hpa.yaml
  deploy/helm/sumologic/templates/instrumentation/otelcol-instrumentation/statefulset.yaml
  deploy/helm/sumologic/templates/instrumentation/traces-gateway/deployment.yaml
  deploy/helm/sumologic/templates/instrumentation/traces-gateway/hpa.yaml
  deploy/helm/sumologic/templates/logs/common/hpa.yaml
  deploy/helm/sumologic/templates/logs/otelcol/statefulset.yaml
  deploy/helm/sumologic/templates/metrics/collector/otelcol/opentelemetrycollector.yaml
  deploy/helm/sumologic/templates/metrics/common/hpa.yaml
  deploy/helm/sumologic/templates/metrics/otelcol/statefulset.yaml
  deploy/helm/sumologic/values.yaml
  docs/best-practices.md
  docs/v4-migration-doc.md
  tests/helm/testdata/everything-enabled.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc/custom.input.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.input.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-hpa/basic.input.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/custom.input.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/custom.input.yaml
  tests/helm/testdata/goldenfile/traces-gateway-hpa/basic.input.yaml
  tests/helm/testdata/goldenfile/traces-gateway-hpa/basic.output.yaml
  tests/integration/values/values_common.yaml
  tests/integration/values/values_helm_pvc_cleaner.yaml
Labels: documentation, breaking-change, integration-tests

#3340 chore: drop support for GKE with k8s 1.23
  .changelog/3340.changed.txt
  docs/README.md
Labels: documentation

#3342 chore: drop support for GKE with k8s 1.23
  .changelog/3342.changed.txt
  docs/README.md
Labels: documentation

#3341 chore: prepare 4.0.0 release
  .changelog/3322.added.txt
  .changelog/3329.breaking.txt
  .changelog/3332.added.txt
  .changelog/3340.changed.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#3344 docs: fix dead link to Falco docs
  deploy/helm/sumologic/README.md
Labels: documentation, skip-changelog

#3347 fix(docs): fix snippets for crd update
  docs/prometheus.md
Labels: documentation, skip-changelog

#3350 chore(docs)!: remove deploy/docs directory
  deploy/docs/Best_Practices.md
  deploy/docs/Dev.md
  deploy/docs/Installation_with_Helm.md
  deploy/docs/Installing_Behind_Proxy.md
  deploy/docs/Kube-Prometheus.md
  deploy/docs/Migration_Steps.md
  deploy/docs/Non_Helm_Installation.md
  deploy/docs/Performance.md
  deploy/docs/Security_Best_Practices.md
  deploy/docs/SideBySidePrometheus.md
  deploy/docs/Terraform.md
  deploy/docs/Troubleshoot_Collection.md
  deploy/docs/Working_with_container_registries.md
  deploy/docs/additional_prometheus_configuration.md
  deploy/docs/collecting-kubernetes-events.md
  deploy/docs/existingPrometheusDoc.md
  deploy/docs/monitoring-lag.md
  deploy/docs/opentelemetry_collector.md
  deploy/docs/release.md
  deploy/docs/scraped_metrics.md
  deploy/docs/standAlonePrometheus.md
  deploy/docs/support.md
  deploy/docs/v3_migration_doc.md
Labels: documentation, skip-changelog

#3352 fix: downgrade otel to 0.86.0-sumo-1
  .changelog/3352.fixed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/best-practices.md
  docs/collecting-container-logs.md
  docs/security-best-practices.md
  docs/v4-migration-doc.md
  docs/working-with-container-registries.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
Labels: documentation, backport release-v3, backport release-v3.16

#3353 [Backport v4.0] fix: downgrade otel to 0.86.0-sumo-1
  .changelog/3352.fixed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/best-practices.md
  docs/collecting-container-logs.md
  docs/security-best-practices.md
  docs/v4-migration-doc.md
  docs/working-with-container-registries.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
  tests/integration/values.local.yaml
Labels: documentation, integration-tests

#3355 [Backport release-v3] fix: downgrade otel to 0.86.0-sumo-1
  .changelog/3352.fixed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/best-practices.md
  docs/collecting-container-logs.md
  docs/security-best-practices.md
  docs/working-with-container-registries.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
Labels: documentation

#3345 feat(vagrant): add script to diff customer values with default ones
  vagrant/scripts/README.md
  vagrant/scripts/diff_values.py
Labels: documentation, skip-changelog

#3356 chore: update changelog for release v4.0.1
  .changelog/3352.fixed.txt
  CHANGELOG.md
  tests/integration/values.local.yaml
Labels: skip-changelog, backport main

#3358 chore: prepare release v4.0.1
  deploy/helm/sumologic/Chart.yaml
Labels: skip-changelog

#3359 chore: update changelog for v3.16.2
  .changelog/3352.fixed.txt
  CHANGELOG.md
Labels: documentation, skip-changelog, backport release-v3

#3364 docs: remove remaining references to vagrant-disksize
  vagrant/README.md
Labels: documentation, skip-changelog

#3362 feat: allow setting the cluster DNS domain
  .changelog/3362.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/logs/collector/otelcloudwatch/config.yaml
  deploy/helm/sumologic/conf/logs/collector/otelcol/config.yaml
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  deploy/helm/sumologic/templates/_helpers/_metrics.tpl
  deploy/helm/sumologic/values.yaml
  tests/integration/values/values_common.yaml
  tests/integration/yamls/cluster.yaml
Labels: documentation, integration-tests

#3368 docs: fix malformed html tag in support matrix
  docs/README.md
Labels: documentation, skip-changelog, backport release-v3
