Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2023-05, with the labels that each got.

#3020 chore: prepare release v3.6.0
  .changelog/2969.changed.txt
  .changelog/2982.added.txt
  .changelog/3000.changed.txt
  .changelog/3001.fixed.txt
  .changelog/3008.changed.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#3021 ci: prune old dev releases separately for each major version
  ci/_build_functions.sh
  ci/push-helm-chart.sh
Labels: skip-changelog

#3024 chore: prepare release v3.6.1
  .changelog/3022.fixed.txt
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#3028 ci: fix dev Helm Chart pruning
  ci/_build_functions.sh
Labels: skip-changelog

#3030 docs: update fields list in installation.md
  docs/installation.md
Labels: documentation, skip-changelog

#3038 ci: fix dev Helm Chart pruning
  ci/_build_functions.sh
Labels: skip-changelog

#3041 chore: upgrade otelcol to 0.76.1-sumo-0
  .changelog/3041.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/events/otelcol/config.yaml
  deploy/helm/sumologic/conf/logs/collector/otelcol/config.yaml
  deploy/helm/sumologic/conf/logs/otelcol/config.yaml
  deploy/helm/sumologic/conf/metrics/otelcol/config.yaml
  deploy/helm/sumologic/conf/metrics/otelcol/processors.yaml
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/best-practices.md
  docs/fargate.md
  docs/security-best-practices.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/annotations_labels.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/complex.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/otelcol-instrumentation-statefulset.output.yaml
Labels: documentation

#3047 chore: add support for EKS 1.26 and GKE 1.26
  .changelog/3047.added.0.txt
  .changelog/3047.added.1.txt
  docs/README.md
Labels: documentation

#3048 chore: release v3.7.0
  .changelog/3039.changed.txt
  .changelog/3041.changed.txt
  .changelog/3042.fixed.txt
  .changelog/3043.changed.0.txt
  .changelog/3043.changed.1.txt
  .changelog/3047.added.0.txt
  .changelog/3047.added.1.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#3046 test: move tests into a single go module
  tests/go.mod
  tests/go.sum
  tests/helm/go.mod
  tests/integration/go.sum
Labels: skip-changelog

#3045 docs: add instruction how to keep sourceCategory for metrics
  docs/best-practices.md
Labels: documentation, skip-changelog

#3053 test(integration): update fips image
  tests/integration/values/values_helm_default_ot_fips_metadata.yaml
Labels: integration-tests, skip-changelog

#3055 feat(pvc-cleaner): run pvcCleaner as non-root user
  .changelog/3055.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/pvc-cleaner/cron-job-logs.yaml
  deploy/helm/sumologic/templates/pvc-cleaner/cron-job-metrics.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/pvc-cleaner/full_config_logs.output.yaml
  tests/helm/testdata/goldenfile/pvc-cleaner/full_config_metrics.output.yaml
Labels: documentation

#3056 feat: add optional fips suffix for otelcol images
  .changelog/3056.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/_helpers/_common.tpl
  deploy/helm/sumologic/values.yaml
  docs/security-best-practices.md
  tests/helm/common_test.go
  tests/helm/const.go
  tests/helm/testdata/fipsmode.yaml
  tests/integration/values/values_helm_default_ot_fips.yaml
Labels: documentation, integration-tests

#3049 feat(fargate-docs): Adding aws policies needed as part of cloudwatch logs collection
  docs/fargate.md
Labels: documentation, skip-changelog

#3059 feat(EKS Fargate): Add multiline support to EKS Fargate
  .changelog/3059.added.txt
  deploy/helm/sumologic/conf/logs/collector/otelcloudwatch/config.yaml
  docs/fargate.md
Labels: documentation

#3066 docs(changelog): add missing release dates
  CHANGELOG.md
Labels: documentation, skip-changelog

#3065 chore: update support for v2
  README.md
Labels: documentation, skip-changelog

#3071 feat(metrics)!: disable remote write proxy access logs by default
  .changelog/3071.breaking.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/remote_write_proxy/full_configmap.input.yaml
  tests/helm/testdata/goldenfile/remote_write_proxy/full_configmap.output.yaml
Labels: documentation
