Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2023-03, with the labels that each got.

#2906 chore: automatically add skip-changelog to dependabot PRs
  .github/dependabot.yml
Labels: ci, skip-changelog

#2899 chore(metrics): remove deprecated coredns and etcd metrics
  .changelog/2899.changed.txt
  deploy/helm/sumologic/values.yaml
  tests/integration/internal/constants.go
Labels: integration-tests

#2841 docs: add migration and troubleshooting for remoteWrites
  docs/troubleshoot-collection.md
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog

#2913 test(integration): refactor install tests
  tests/integration/features.go
  tests/integration/helm_fluentbit_containerd_multiline_logs_test.go
  tests/integration/helm_fluentbit_fluentd_test.go
  tests/integration/helm_ot_default_test.go
  tests/integration/helm_ot_fluentbit_logs_test.go
  tests/integration/helm_otc_fips_metadata_installation_test.go
  tests/integration/helm_pvc_cleaner_test.go
Labels: integration-tests, skip-changelog

#2910 docs(troubleshoot-collection.md): fix additionalEndpoints example
  docs/troubleshoot-collection.md
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog

#2909 docs: change OTC properties to lowercase
  docs/best-practices.md
  docs/collecting-application-metrics.md
  docs/collecting-container-logs.md
  tests/helm/testdata/opentelemetry-metrics-extra-processors.yaml
Labels: documentation, skip-changelog

#2908 docs: mention Fluentd is deprecated in values file
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
Labels: documentation, skip-changelog

#2915 Running the integration tests for k8s 1.25.2
  tests/helm/Makefile
  tests/integration/Makefile
  tests/integration/README.md
  tests/integration/kind_images.json
  tests/integration/values/values_helm_default_ot_fips_metadata.yaml
Labels: documentation, integration-tests, skip-changelog

#2920 chore: format and lint all yaml files
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
  Makefile
Labels: ci, skip-changelog

#2921 chore: upgrade kind to 0.17.0
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  vagrant/provision.sh
Labels: ci, skip-changelog

#2922 docs: update troubleshooting guide
  docs/installation.md
Labels: documentation, skip-changelog

#2924 feat: Add extraPorts parameter to metadata.logs.statefulset
  .changelog/2924.added.txt
  ci/check_configuration_keys.py
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/logs/common/service.yaml
  deploy/helm/sumologic/templates/logs/otelcol/statefulset.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.input.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/services_with_service_monitor_labels/services_with_service_monitor_labels/default.input.yaml
  tests/helm/testdata/goldenfile/services_with_service_monitor_labels/services_with_service_monitor_labels/default.output.yaml
Labels: documentation

#2879 chore: use nix for local environment
  .envrc
  CONTRIBUTING.md
  Makefile
  shell.nix
Labels: documentation, skip-changelog

#2925 test(helm): regenerate golden files automatically
  Makefile
  tests/helm/Makefile
  tests/helm/README.md
  tests/helm/goldenfile_test.go
Labels: documentation, skip-changelog

#2926 docs: change "gathering" to "collecting"
  docs/collecting-kubernetes-metrics.md
  docs/fluent/troubleshoot-collection.md
  docs/troubleshoot-collection.md
Labels: documentation, skip-changelog

#2927 chore: upgrade otelcol to 0.73.0-sumo-1
  .changelog/2927.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/security-best-practices.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/annotations_labels.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/complex.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/otelcol-instrumentation-statefulset.output.yaml
Labels: documentation

#2914 chore(vagrant): install prettier in vagrant
  vagrant/provision.sh
Labels: skip-changelog

#2929 docs: add v3 migration doc to TOC
  docs/README.md
Labels: documentation, skip-changelog

#2930 docs: reorder upgrade docs to put most recent and the top
  docs/README.md
Labels: documentation, skip-changelog

#2936 docs(upgrading): add upgrade guide for v2.18.0
  CHANGELOG.md
  deploy/README.md
  deploy/docs/v2-18-migration.md
Labels: documentation, skip-changelog

#2945 docs: add v2 to v3 migration doc link to main docs README
  docs/README.md
Labels: documentation, skip-changelog

#2944 docs(fluent): change max request size to 1 MB
  docs/fluent/best-practices.md
Labels: documentation, skip-changelog

#2946 docs(fluentd): change max request size to 1 MB
  deploy/docs/Best_Practices.md
Labels: documentation, skip-changelog

#2935 docs: collecting additional logs from the node using OTC
  docs/best-practices.md
Labels: documentation, skip-changelog

#2948 dosc: additional logs from the node - update about processors
  docs/best-practices.md
Labels: documentation, skip-changelog

#2950 chore: bump setup image to 3.7.0
  .changelog/2950.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/setup/setup/basic.output.yaml
Labels: documentation

#2956 ci: don't run unnecessary integration tests
  .github/workflows/pull_requests.yml
Labels: ci, skip-changelog

#2955 test(integration): only check tracing metrics if tracing is enabled
  tests/integration/helm_ot_default_test.go
  tests/integration/helm_otc_fips_metadata_installation_test.go
  tests/integration/internal/constants.go
Labels: integration-tests, skip-changelog

#2957 refactor: remove indentation from helpers
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/events/fluentd/statefulset.yaml
  deploy/helm/sumologic/templates/events/otelcol/statefulset.yaml
  deploy/helm/sumologic/templates/instrumentation/traces-gateway/deployment.yaml
  deploy/helm/sumologic/templates/instrumentation/traces-sampler/deployment.yaml
  deploy/helm/sumologic/templates/logs/fluentd/statefulset.yaml
  deploy/helm/sumologic/templates/logs/otelcol/statefulset.yaml
  deploy/helm/sumologic/templates/metrics/fluentd/statefulset.yaml
  deploy/helm/sumologic/templates/metrics/otelcol/statefulset.yaml
Labels: skip-changelog

#2959 chore: prepare v3.4.0
  .changelog/2899.changed.txt
  .changelog/2918.fixed.txt
  .changelog/2923.fixed.txt
  .changelog/2924.added.txt
  .changelog/2927.changed.txt
  .changelog/2932.fixed.txt
  .changelog/2950.changed.txt
  .changelog/2952.fixed.txt
  .changelog/2953.fixed.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#2964 chore(metrics): modularize the otel metrics metadata config
  deploy/helm/sumologic/conf/metrics/otelcol/config.yaml
  deploy/helm/sumologic/conf/metrics/otelcol/exporters.yaml
  deploy/helm/sumologic/conf/metrics/otelcol/pipeline.yaml
  deploy/helm/sumologic/conf/metrics/otelcol/processors.yaml
Labels: skip-changelog

#2966 chore: split helpers into multiple files
  deploy/helm/sumologic/templates/_helpers.tpl
  deploy/helm/sumologic/templates/_helpers/_api_versions.tpl
  deploy/helm/sumologic/templates/_helpers/_common.tpl
  deploy/helm/sumologic/templates/_helpers/_events.tpl
  deploy/helm/sumologic/templates/_helpers/_logs.tpl
  deploy/helm/sumologic/templates/_helpers/_metrics.tpl
  deploy/helm/sumologic/templates/_helpers/_setup.tpl
  deploy/helm/sumologic/templates/_helpers/_traces.tpl
Labels: skip-changelog
