Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2023-08, with the labels that each got.

#3174 chore(ci): fix typo
  .github/workflows/dev_builds.yml
Labels: ci, skip-changelog

#3176 chore: update otelcol to 0.82.0-sumo-0
  .changelog/3176.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/best-practices.md
  docs/security-best-practices.md
  docs/working-with-container-registries.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
Labels: documentation

#3177 chore(metrics): remove unnecessary relabellings
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
Labels: skip-changelog

#3189 docs: remove unsupported v2 versions from the list
  README.md
Labels: documentation, skip-changelog

#3190 feat(metrics/collector): allow disabling metrics from annotated Pods
  .changelog/3190.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.input.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
Labels: documentation

#3188 chore: prepare release 3.12.0
  .changelog/3176.changed.txt
  .changelog/3178.fixed.txt
  .changelog/3181.changed.txt
  .changelog/3185.fixed.txt
  .changelog/3190.added.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#3191 Update README.md
  docs/README.md
Labels: documentation, skip-changelog

#3197 Revert "chore: use zstd compression for internal otlp data"
  .changelog/3197.fixed.txt
  deploy/helm/sumologic/conf/logs/collector/otelcloudwatch/config.yaml
  deploy/helm/sumologic/conf/logs/collector/otelcol/config.yaml
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  docs/best-practices.md
  tests/helm/testdata/goldenfile/logs_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc/options.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/multiple_multiline.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-config/traces-gateway-disabled.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-config/traces-gateway-enabled.output.yaml
Labels: documentation, backport release-v3.12, backport release-v3.11

#3199 [Backport release-v3.11] Revert "chore: use zstd compression for internal otlp data"
  .changelog/3197.fixed.txt
  deploy/helm/sumologic/conf/logs/collector/otelcloudwatch/config.yaml
  deploy/helm/sumologic/conf/logs/collector/otelcol/config.yaml
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  docs/best-practices.md
  tests/helm/testdata/goldenfile/logs_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc/options.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-config/traces-gateway-disabled.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-config/traces-gateway-enabled.output.yaml
Labels: documentation

#3201 chore: prepare release 3.11.1
  .changelog/3197.fixed.txt
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#3202 docs: add 3.11.1 and 3.12.1 to changelog
  .changelog/3197.fixed.txt
  CHANGELOG.md
Labels: documentation, skip-changelog

#3207 feat(metrics/collector): only select monitors from the release by default
  .changelog/3207.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/metrics/collector/otelcol/opentelemetrycollector.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
Labels: documentation

#3205 fix(metrics/collector): don't set replicas if autoscaling enabled
  .changelog/3205.fixed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/metrics/collector/otelcol/opentelemetrycollector.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
Labels: documentation

#3204 feat(metrics/collector): add default App metric filters
  .changelog/3204.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  deploy/helm/sumologic/conf/metrics/collector/otelcol/default-filters.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.input.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
Labels: documentation

#3210 Revert "fix(metrics/collector): don't set replicas if autoscaling enabled"
  .changelog/3205.fixed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/metrics/collector/otelcol/opentelemetrycollector.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
Labels: documentation, skip-changelog

#3214 feat(events): add sourceCategoryReplaceDash
  .changelog/3214.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/events/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/events_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc/options.input.yaml
  tests/helm/testdata/goldenfile/events_otc/options.output.yaml
Labels: documentation

#3215 chore: upgrade otel to 0.83.0-sumo-0
  .changelog/3215.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/security-best-practices.md
  docs/working-with-container-registries.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
Labels: documentation

#3213 docs: add skeleton for v4 migration doc
  docs/v4-migration-doc.md
Labels: documentation, skip-changelog

#3192 feat(metrics/collector): support partial histograms
  .changelog/3192.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.input.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/integration/helm_ot_metrics_test.go
Labels: documentation, integration-tests

#3209 chore: drop support for AKS 1.24
  .changelog/3209.changed.txt
  docs/README.md
Labels: documentation

#3216 docs: split the otel doc into per-signal docs
  docs/README.md
  docs/opentelemetry-collector/README.md
  docs/opentelemetry-collector/events.md
  docs/opentelemetry-collector/logs.md
  docs/opentelemetry-collector/metrics.md
  docs/opentelemetry-collector/traces.md
Labels: documentation, skip-changelog

#3221 feat(metrics/collector): support remote write proxy
  .changelog/3221.added.txt
  deploy/helm/sumologic/conf/metrics/remote-write-proxy/remote-write-proxy.conf
  deploy/helm/sumologic/templates/metrics/collector/otelcol/opentelemetrycollector.yaml
  deploy/helm/sumologic/templates/metrics/remote-write-proxy/deployment.yaml
  deploy/helm/sumologic/templates/metrics/remote-write-proxy/service.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/remote_write_proxy/basic.output.yaml
  tests/helm/testdata/goldenfile/remote_write_proxy/full_config.output.yaml
  tests/helm/testdata/goldenfile/remote_write_proxy/full_configmap.output.yaml
  tests/integration/internal/constants.go
  tests/integration/values/values_helm_ot_metrics.yaml
Labels: integration-tests

#3222 docs: add otel metrics collector documentation
  docs/opentelemetry-collector/README.md
  docs/opentelemetry-collector/metrics.md
Labels: documentation, skip-changelog

#3223 feat(metrics/collector): set stability to Beta
  .changelog/3223.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/metrics/collector/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.input.yaml
Labels: documentation

#3224 docs: fix broken links
  deploy/docs/opentelemetry_collector.md
  docs/collecting-kubernetes-events.md
  docs/fluentbit-otc-comparison.md
  docs/otlp-source.md
Labels: documentation, skip-changelog

#3226 feat(metrics/collector): allow setting allocation strategy
  .changelog/3226.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/templates/metrics/collector/otelcol/opentelemetrycollector.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.input.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
Labels: documentation

#3228 chore: prepare 3.13.0 release
  .changelog/3192.added.txt
  .changelog/3193.fixed.txt
  .changelog/3194.fixed.txt
  .changelog/3195.fixed.txt
  .changelog/3203.added.txt
  .changelog/3203.changed.txt
  .changelog/3204.added.txt
  .changelog/3207.changed.txt
  .changelog/3208.changed.txt
  .changelog/3209.changed.txt
  .changelog/3212.fixed.txt
  .changelog/3214.added.txt
  .changelog/3215.changed.txt
  .changelog/3219.changed.txt
  .changelog/3221.added.txt
  .changelog/3223.changed.txt
  .changelog/3225.fixed.txt
  .changelog/3226.added.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#3234 feat(logs): add option to preserve `time` attribute
  .changelog/3234.added.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/logs/collector/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  tests/helm/logs_test.go
Labels: documentation

#3235 Update migration tool version in v3-migration-doc.md
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog
