Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2024-05, with the labels that each got.

#3692 chore: prepare release v4.7
  .changelog/3591.added.txt
  .changelog/3630.changed.0.txt
  .changelog/3630.changed.1.txt
  .changelog/3633.changed.0.txt
  .changelog/3633.changed.1.txt
  .changelog/3641.changed.0.txt
  .changelog/3641.changed.1.txt
  .changelog/3643.added.txt
  .changelog/3653.changed.txt
  .changelog/3654.changed.txt
  .changelog/3656.changed.txt
  .changelog/3664.changed.txt
  .changelog/3665.changed.txt
  .changelog/3666.changed.txt
  .changelog/3667.changed.txt
  .changelog/3671.changed.txt
  .changelog/3674.added.txt
  .changelog/3677.changed.txt
  .changelog/3682.changed.txt
  .changelog/3684.added.txt
  .changelog/3688.changed.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: skip-changelog

#3698 chore: update nginx image to 1.26.0-sumo-0
  .changelog/3698.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/remote_write_proxy/basic.output.yaml
Labels: documentation

#3696 [v3] chore: update OpenTelemetry Collector to v0.99.0-sumo-0
  .changelog/3696.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/conf/events/otelcol/config.yaml
  deploy/helm/sumologic/conf/logs/collector/otelcloudwatch/config.yaml
  deploy/helm/sumologic/conf/logs/collector/otelcol/config.yaml
  deploy/helm/sumologic/conf/logs/otelcol/config.yaml
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/best-practices.md
  tests/helm/logs_test.go
  tests/helm/testdata/goldenfile/events_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc/options.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/multiple_multiline.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc/otel.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc/templates.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
  tests/integration/internal/constants.go
  tests/integration/yamls/receiver-mock.yaml
Labels: documentation, integration-tests

#3700 [Backport release v3] chore(setup): upgrade setup job to 3.14.0
  .changelog/3595.changed.txt
  .changelog/3700.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/setup/setup/basic.output.yaml
Labels: documentation

#3701 [Backport release-v3] chore: update fluentd image to 1.16.5-sumo-0
  .changelog/3701.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
Labels: documentation

#3703 docs: add v3.19 release
  CHANGELOG.md
  README.md
Labels: skip-changelog

#3704 chore: close jira issue automatically
  .github/workflows/close-jira-task.yaml
Labels: skip-changelog

#3707 chore: cleanup unused templates
  .github/workflows/pull_requests.yml
  Makefile
  ci/check_unused_templates.sh
  deploy/helm/sumologic/templates/_helpers/_common.tpl
  deploy/helm/sumologic/templates/_helpers/_logs.tpl
  deploy/helm/sumologic/templates/_helpers/_metrics.tpl
  deploy/helm/sumologic/templates/_helpers/_setup.tpl
  deploy/helm/sumologic/templates/_helpers/_sumologic_mock.tpl
  deploy/helm/sumologic/templates/_helpers/_traces.tpl
Labels: skip-changelog

#3709 feat: fix bash syntax
  .github/workflows/close-jira-task.yaml
Labels: skip-changelog

#3716 Remove reference to fluent-bit in the docs
  docs/README.md
Labels: documentation, skip-changelog

#3717 chore: prepare release 3.19.1
  .changelog/3715.changed.0.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: skip-changelog

#3714 test(integration): create fixed namespaces only when needed
  tests/integration/internal/stepfuncs/kubectl.go
  tests/integration/main_test.go
Labels: skip-changelog

#3718 chore: Backport changes from 3.19.1
  CHANGELOG.md
  README.md
Labels: skip-changelog

#3719 chore: upgrade tailing sidecar
  .changelog/3719.changed.txt
  deploy/helm/sumologic/Chart.yaml
  docs/README.md
Labels: backport main

#3721 chore: Prepare release v3.19.2
  .changelog/3719.changed.txt
  CHANGELOG.md
Labels: documentation, skip-changelog, backport main

#3724 chore: upgrade chart version
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, skip-changelog

#3726 chore: Prepare release v4.7.1
  .changelog/3725.changed.txt
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: skip-changelog, backport main

#3729 chore(deps): update Fluent Bit to 3.0.4
  .changelog/3729.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
Labels: documentation

#3727 chore: Backport release v4.7.1 (#3726)
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: skip-changelog

#3730 chore: prepare release v3.19.3
  .changelog/3729.changed.txt
  CHANGELOG.md
Labels: documentation, backport main

#3732 chore: add release v3.19.3
  CHANGELOG.md
Labels: skip-changelog

#3737 chore: update OpenTelemetry Collector to 0.100.0-sumo-0
  .changelog/3737.changed.txt
  ci/update-otc.sh
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/working-with-container-registries.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/common.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional-complex.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_windows/daemonset/additional-complex.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_windows/daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_windows/daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/debug.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/kubelet.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/persistence-enabled.output.yaml
Labels: backport release-v3.19

#3738 [Backport release-v3.19] deps: update OpenTelemetry Collector to v0.100.0-sumo-0
  .changelog/3738.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/best-practices.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
Labels: documentation

#3739 chore: prepare release v3.19.4
  .changelog/3738.changed.txt
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation

#3742 test(integration): use different namespaces for instrumentation tests
  tests/integration/helm_opentelemetry_operator_enabled_test.go
  tests/integration/helm_opentelemetry_operator_instr_test.go
  tests/integration/internal/k8s/pods.go
  tests/integration/internal/stepfuncs/assess_funcs.go
  tests/integration/values/values_helm_opentelemetry_operator_enabled.yaml
  tests/integration/values/values_opentelemetry_operator_instrumentation.yaml
Labels: skip-changelog
