Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2024-07, with the labels that each got.

#3794 chore: prepare release 4.9.0
  .changelog/3733.breaking.txt
  .changelog/3775.changed.txt
  .changelog/3777.changed.txt
  .changelog/3780.changed.txt
  .changelog/3783.changed.txt
  .changelog/3784.fixed.txt
  .changelog/3791.changed.txt
  .changelog/3793.changed.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: skip-changelog

#3774 chore: fix typo
  .github/workflows/sync-repository.yaml
  ci/sync-repository.sh
Labels: skip-changelog

#3781 fix: Better method to detect helm chart version in template tests
  tests/helm/goldenfile_test.go
Labels: skip-changelog

#3810 chore: Upgrade tailing-sidecar to v0.15.0 (#3783)
  .changelog/3783.changed.txt
  deploy/helm/sumologic/Chart.yaml
  docs/README.md
Labels: documentation

#3812 deps: upgrade kubectl image to 2.24.0
  .changelog/3775.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/opentelemetry_operator_instrumentation_cr_job/job.output.yaml
Labels: documentation

#3814 chore: Otel upgrade to 0.102.1-sumo-0
  .changelog/3814.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
  tests/integration/helm_ot_default_namespaceoverride_test.go
  tests/integration/helm_ot_default_test.go
  tests/integration/helm_otc_fips_metadata_installation_test.go
  tests/integration/helm_otlp_test.go
  tests/integration/internal/constants.go
Labels: documentation, integration-tests

#3816 chore: Prepare v3.19.5
  .changelog/3775.changed.txt
  .changelog/3783.changed.txt
  .changelog/3787.fixed.txt
  .changelog/3791.changed.txt
  .changelog/3793.changed.txt
  .changelog/3814.changed.txt
  CHANGELOG.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation
