Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2024-03, with the labels that each got.

#3593 chore: add list of windows metrics
  docs/README.md
Labels: skip-changelog

#3595 chore(setup): upgrade setup job from 3.11.0 to 3.12.0
  .changelog/3595.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  tests/helm/testdata/goldenfile/setup/setup/basic.output.yaml
Labels: documentation

#3598 chore(vagrant): set default namespace to sumologic when using cluster locally
  vagrant/scripts/get-kubeconfig.sh
Labels: skip-changelog

#3602 chore: do not create sumologic mock serviceaccount by default
  deploy/helm/sumologic/templates/sumologic-mock/serviceaccount.yaml
Labels: skip-changelog

#3604 fix(metrics): change targetallocator ServiceAccount name
  .changelog/3604.fixed.txt
  deploy/helm/sumologic/templates/_helpers/_metrics.tpl
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/debug.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/kubelet.output.yaml
Labels: backport release-v4.5

#3606 ci: allow backport prefix in PR names
  .github/pr-title-checker-config.json
Labels: skip-changelog

#3609 chore: prepare 4.6.0 release
  .changelog/3564.fixed.txt
  .changelog/3565.changed.txt
  .changelog/3567.changed.txt
  .changelog/3569.added.txt
  .changelog/3570.changed.txt
  .changelog/3573.fixed.txt
  .changelog/3574.changed.txt
  .changelog/3581.changed.txt
  .changelog/3582.fixed.txt
  .changelog/3583.changed.txt
  .changelog/3584.changed.txt
  .changelog/3585.changed.txt
  .changelog/3586.changed.txt
  .changelog/3592.changed.txt
  .changelog/3594.changed.txt
  .changelog/3596.added.txt
  .changelog/3603.changed.txt
  .changelog/3604.fixed.txt
  .changelog/3608.changed.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: skip-changelog

#3600 feat: Check if remote write definitions are present when Prometheus i…
  deploy/helm/sumologic/templates/checks.txt
  tests/helm/remotewrite_validation_test.go
  tests/helm/testdata/remotewrite/metrics-disabled.yaml
  tests/helm/testdata/remotewrite/remotewrites-defined-prometheus-disabled.yaml
  tests/helm/testdata/remotewrite/remotewrites-defined-prometheus-enabled.yaml
Labels: skip-changelog

#3611 deps(test): upgrade test dependencies
  .github/workflows/pull_requests.yml
  .github/workflows/workflow-integration-tests.yaml
  tests/go.mod
  tests/go.sum
  tests/helm/utils.go
Labels: skip-changelog

#3612 chore: upgrade tools
  .github/workflows/changelog.yaml
  .github/workflows/workflow-integration-tests.yaml
  Makefile
  shell.nix
Labels: skip-changelog

#3618 fix(metrics): use namespaceSelector from configuration for additionalServiceMonitors
  .changelog/3618.fixed.txt
  deploy/helm/sumologic/templates/metrics/prometheus/servicemonitors.yaml
  tests/helm/testdata/goldenfile/metrics_additional_service_monitors/basic.input.yaml
  tests/helm/testdata/goldenfile/metrics_additional_service_monitors/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_additional_service_monitors/custom.input.yaml
  tests/helm/testdata/goldenfile/metrics_additional_service_monitors/custom.output.yaml
Labels: backport release-v4.6

#3626 fix(test): get rid of unsafe regular expression for chart version replacing
  tests/helm/goldenfile_test.go
Labels: skip-changelog

#3623 chore: prepare 4.6.1 release
  .changelog/3618.fixed.txt
  CHANGELOG.md
  deploy/README.md
  deploy/helm/sumologic/Chart.yaml
  docs/README.md
  tests/helm/goldenfile_test.go
Labels: skip-changelog

#3628 docs: add information about v4.6.1 relese to the changelog
  .changelog/3618.fixed.txt
  CHANGELOG.md
Labels: skip-changelog
