Repository SumoLogic/sumologic-kubernetes-collection, pull requests merged in 2024-01, with the labels that each got.

#3468 Update v3-migration-doc.md - fix typo
  docs/v3-migration-doc.md
Labels: documentation, skip-changelog

#3471 chore: verify is PR name is compliant with conventional commits
  .github/pr-title-checker-config.json
  .github/workflows/check_pr_labels.yaml
Labels: skip-changelog

#3470 chore: add and run tests for check-configuration-keys
  .gitignore
  Makefile
  ci/check_configuration_keys.py
  ci/check_configuration_keys_test.py
Labels: skip-changelog

#3466 docs: add information about global config options
  docs/best-practices.md
Labels: skip-changelog

#3479 docs: add missing link to migration doc to v4
  docs/README.md
Labels: skip-changelog, backport release-v4.0, backport release-v4.2, backport release-v4.3, backport release-v4.1

#3476 docs: remove v3-migration-doc.md
  CHANGELOG.md
  docs/README.md
  docs/v3-migration-doc.md
Labels: skip-changelog

#3489 docs: add information about missing opampbridge crd
  docs/troubleshoot-collection.md
Labels: skip-changelog

#3493 docs: add troubleshoot for missing metrics for Argo installation
  docs/troubleshoot-collection.md
  vagrant/Makefile
  vagrant/k8s/argo.yaml
Labels: skip-changelog

#3488 docs: add troubleshooting for metrics with Open Telemetry Operator
  docs/troubleshoot-collection.md
Labels: skip-changelog

#3498 docs(troubleshooting): add section about printing metrics on stdout
  docs/troubleshoot-collection.md
Labels: skip-changelog

#3495 docs: remove installation.md
  docs/installation.md
Labels: skip-changelog

#3496 docs: Update security-best-practices.md
  docs/security-best-practices.md
Labels: skip-changelog

#3497 docs: remove empty sections from best practicies document
  docs/best-practices.md
Labels: skip-changelog

#3502 docs: Removing the link to itself
  docs/troubleshoot-collection.md
Labels: skip-changelog

#3504 docs: remove docs/best-practices.md and docs/security-best-practices.…
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/best-practices.md
  docs/installing-behind-proxy.md
  docs/monitoring-lag.md
  docs/security-best-practices.md
  docs/troubleshoot-collection.md
Labels: skip-changelog

#3508 docs: remove troubleshoot collection document and update links
  .github/ISSUE_TEMPLATE/bug_report.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/collecting-kubernetes-metrics.md
  docs/support.md
  docs/troubleshoot-collection.md
Labels: skip-changelog

#3509 docs: remove collecting-application-metrics.md and collecting-kubern…
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/collecting-application-metrics.md
  docs/collecting-kubernetes-metrics.md
  docs/filtering.md
  docs/prometheus.md
Labels: skip-changelog

#3512 chore: update OpenTelemetry Collector to v0.92.0-sumo-0
  .changelog/3510.changed.txt
  deploy/helm/sumologic/README.md
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/best-practices.md
  docs/security-best-practices.md
  docs/working-with-container-registries.md
  tests/helm/testdata/goldenfile/events_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/events_otc_statefulset/proxy.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_cloudwatch/basic.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/additional.output.yaml
  tests/helm/testdata/goldenfile/logs_otc_daemonset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_logs_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metadata_metrics_otc_statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/basic.output.yaml
  tests/helm/testdata/goldenfile/metrics_collector_otc/custom.output.yaml
  tests/helm/testdata/goldenfile/otelcol-instrumentation-statefulset/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-gateway-deployment/basic.output.yaml
  tests/helm/testdata/goldenfile/traces-sampler-deployment/basic.output.yaml
  tests/integration/internal/constants.go
Labels: documentation, integration-tests

#3516 chore: Prepare release v3.18.0
  .changelog/3463.changed.txt
  .changelog/3491.added.txt
  .changelog/3510.changed.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: documentation, backport main

#3518 chore: Prepare release 4.4.0
  .changelog/3447.fixed.txt
  .changelog/3455.changed.txt
  .changelog/3456.changed.txt
  .changelog/3457.changed.txt
  .changelog/3459.added.txt
  .changelog/3460.changed.txt
  .changelog/3462.added.txt
  .changelog/3469.fixed.txt
  .changelog/3478.changed.0.txt
  .changelog/3478.changed.1.txt
  .changelog/3490.added.txt
  .changelog/3491.added.txt
  .changelog/3505.changed.txt
  .changelog/3507.changed.0.txt
  .changelog/3507.changed.1.txt
  .changelog/3510.changed.txt
  .changelog/3515.changed.txt
  CHANGELOG.md
  README.md
  deploy/helm/sumologic/Chart.yaml
Labels: skip-changelog

#3519 docs: Remove collecting-kubernetes-events document, and update links
  deploy/helm/sumologic/values.yaml
  docs/README.md
  docs/collecting-kubernetes-events.md
Labels: documentation, skip-changelog

#3521 chore: drop support for v3.9 and v3.10
  README.md
Labels: skip-changelog
